{% trans_default_domain 'FOSUserBundle' %}
<div class="fusion-row">
    <div class=" news fusion-content-boxes content-boxes columns fusion-columns-4 fusion-columns-total-4 fusion-content-boxes-1 content-boxes-icon-on-top row content-left" data-animationoffset="100%" style="margin-top:0px;margin-bottom:60px;">


        <div class="col-xs-10 col-md-offset-1">
            <div class="service-single text-center wow fadeInDown" data-wow-delay="0.2s">
                <div class="box-top">
                    <i class="fa fa-user"></i>
                    <h2>{%trans%}utilisateur_change_password{%endtrans%}</h2>
                </div>

                <div class="box-down">
                    {%if not form.vars.valid%}
                        <div class="alert alert-danger">
                            {{'password_invalid'|trans}}
                        </div>
                    {%endif%}
                    {#{%if password==1%}<div class="alert alert-danger">{{'password_invalid'|trans}}</div>{%endif%}#}
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_label(form.current_password) }} 											
                    {{ form_errors(form.current_password) }} 											
                    {{ form_widget(form.current_password) }}	

                    {{ form_errors(form.plainPassword) }} 											
                    {{ form_widget(form.plainPassword) }}	

                    <div>
                        <input class = "wpcf7-form-control wpcf7-submit btn-block" type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div></div>
<script src="{{asset('js/jquery.js')}}"></script>
<script>
    $('#fos_user_change_password_form_plainPassword').children().attr('class', 'form-group');
    $('#fos_user_change_password_form_plainPassword input').attr('class', 'form-control');

    $('#fos_user_change_password_form_current_password').parent().attr('class', 'form-group');
    $('#fos_user_change_password_form_current_password').attr('class', 'form-control');
</script>
