{% extends '::base-office.html.twig' %}
{%block menu %}
    {{ render(controller("DefaultBundle:Default:menu",{'active':0})) }}
{%endblock%}
{% block body %}
<style>
.dataTables_length
{
	display: inline;
    margin-left: 10px;
}

div#nomcomm_processing {
    background: white;
    border: 1px #337ab7 solid;
	z-index: 99999;
}
</style>
<div class="container" style="width:100%">
<div class="fusion-fullwidth  fusion-fullwidth-1  fusion-parallax-none row" style="background-color:#ffffff;border:1px solid #e2e2e2;padding:40px 20px 60px;margin:15px 0px 15px;">


    <h3>{%trans%}titre_recherche_nom_commercial{%endtrans%}</h3>
	 {% if message in app.session.flashbag.get('info') %}  
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
     {% endif %} 
	 
	 {% if message in app.session.flashbag.get('error') %}  
                <div class="col-lg-12 text-center m-t-md alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
     {% endif %} 
	<hr></hr>

		

<div class="table-responsive" style="width:100%">
{#                    <table id="nomcomm" class="table  table-striped table-bordered">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>{%trans%}nomCommercial{%endtrans%}</th>#}
{#                                <th>{%trans%}forme_juridique{%endtrans%}</th>#}
{#								<th>{%trans%}numero_rccm{%endtrans%}</th>#}
{#								<th>{%trans%}nomCommercial_Gerant{%endtrans%}</th>#}
{#								<th>{%trans%}nomComm_secteurActivite{%endtrans%}</th>#}
{#								<th>{%trans%}nomComm_telephone{%endtrans%}</th>#}
{#								<th>{%trans%}nomComm_siegeSocial{%endtrans%}</th>#}
{#								<th>{%trans%}nomComm_anneeCreation{%endtrans%}</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody> #}
{#						</tbody> #}
{#                    </table>#}

    <table id="datatable" class="table  table-striped table-bordered">
        <thead>
        <tr>
            <th>{%trans%}nomCommercial{%endtrans%}</th>
            <th>{%trans%}forme_juridique{%endtrans%}</th>
            <th>{%trans%}numero_rccm{%endtrans%}</th>
            <th>{%trans%}nomCommercial_Gerant{%endtrans%}</th>
            <th>{%trans%}nomComm_secteurActivite{%endtrans%}</th>
            <th>{%trans%}nomComm_telephone{%endtrans%}</th>
            <th>{%trans%}nomComm_siegeSocial{%endtrans%}</th>
            <th>{%trans%}nomComm_anneeCreation{%endtrans%}</th>
        </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
        <tr>
{#           <td>{{ archive.id }}</td>#}
           <td>{{ archive.denominationSociale }}</td>
           <td>{{ archive.formeJuridique }}</td>
           <td>{{ archive.rccm }}</td>
           <td>{{ archive.gerantPrincipal }}</td>
           <td>{{ archive.secteurActivite }}</td>
           <td>{{ archive.telephone }}</td>
           <td>{{ archive.siegeSocial }}</td>

           <td>
               {% if archive.anneeCreation|length>10 %}
               {{ archive.anneeCreation|slice(0,10)?  (archive.anneeCreation|slice(0,10)|replace('-','/'))|date('d/m/Y')  : ''}}
                   {% else %}
                       {{ archive.anneeCreation}}
               {% endif %}
           </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>

		

</div>
</div>
{% endblock %}


{%block javascripts %}
{{parent()}}
<script type="text/javascript">

</script>
<script type="text/javascript" src="{{asset('/js/exportdatatable/jquery-1.12.4.js')}}"></script>
	<script type="text/javascript" src="{{asset('/js/exportdatatable/jquery.dataTables.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('/js/exportdatatable/dataTables.bootstrap4.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('/js/exportdatatable/dataTables.buttons.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('/js/exportdatatable/buttons.bootstrap4.min.js')}}"></script>


    <script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
    <script src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>

    <script type="text/javaScript">
        $(document).ready(function() {
            $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'YYYY-MM-DD'});
            $('#datatable').DataTable({"language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }});
            $('#annonces_filter').hide();



        } );
    </script>

{#<script type="text/javascript">#}
{#    // $('#nomcomm').DataTable();#}
{#    $(document).ready(function () {#}
{#        $("#datatable").DataTable(), $("#datatable-buttons").DataTable({#}
{#            lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"]#}
{#        }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")#}
{#    });#}

{#  </script>#}

{% endblock %}
