    <body>
    <style type="text/css">
		body {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333;
		}

		.page-header {
			padding-bottom: 9px;
			
			border-bottom: 1px solid #eee;
		}	
		
		.h1, h1 {
			font-size: 36px;	
			font-weight: 500;
			line-height: 1.1;
		}
		
		.form-group {
			margin-bottom: 15px;
		}
		.col-lg-12 {
			width: 100%;
		}
		
		.col-sm-6 {
			width: 50%;
			float: left;
			position: relative;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
			
		}
		
		label {
			display: inline-block;
			max-width: 100%;
			margin-bottom: 5px;
			font-weight: bold;
		}
		
	.titreLabel
	{
		font-weight:bold;
		font-size:14px;
		line-height:25px;
	}
	
	.reponseLabel
	{
		font-weight:normal;
		font-size:14px;
		line-height:25px;
	}
	
	.cellValue
	{
		padding: 0 0 20px 0;
		font-size:14px;
	}
	
	.traitMince
	{
		color:silver;
	
	}
		
</style>
<div class="" style="width:100%;margin:0 auto 0 auto">
    <div  style="text-align: center;">
        <h1 class="page-header">
            {%trans%}message_annonce_legale{%endtrans%} {{ creationdossier.denominationSociale }}
        </h1>
		<hr class="traitMince" noshade>
    </div>						
    <br />
					
<table style="width:100%">
  <tr>
    <th style="width:34%"></th>
    <th style="width:33%"></th> 
    <th style="width:33%"></th>
  </tr>
  <tr>
    <td class="titreLabel">{% trans %}message_siege_social{% endtrans %}</td>
    <td class="titreLabel">{% trans %}message_date_creation{% endtrans %}</td> 
    <td class="titreLabel">{% trans %}message_secteur_activite{% endtrans %}</td>
  </tr>
  <tr>
    <td class="cellValue">{{ creationdossier.adresseSiege }}</td>
    <td class="cellValue">{% if creationdossier.dateCreation %}{{ creationdossier.dateCreation|date('d-m-Y') }}{% endif %} </td> 
    <td class="cellValue">{{ definedSecteurActiviteTraduction }}</td>
  </tr>
  <tr>
    <td class="titreLabel">{% trans %}message_forme_juridique{% endtrans %}</td>
    <td class="titreLabel">{% trans %}message_enseigne{% endtrans %}</td> 
    <td class="titreLabel">{% trans %}message_gerance{% endtrans %}</td>
  </tr>
   <tr>
    <td class="cellValue">{% if definedFormeJuridiqueTraduction %}{{ definedFormeJuridiqueTraduction.libelle }}{% endif %}</td>
    <td class="cellValue">{{ creationdossier.enseigne }}</td> 
    <td class="cellValue">{{ definedRepresentant }}</td>
  </tr>
  <tr>    
	<td class="titreLabel">{% trans %}message_region{% endtrans %}</td>
    <td class="titreLabel">{% trans %}message_montant_apport_numeraire{% endtrans %}</td> 
    <td class="titreLabel">{% trans %}message_montant_apport_nature{% endtrans %}</td>
  </tr>
  <tr>
    <td class="cellValue">{{ creationdossier.region }}</td>
    <td class="cellValue">{{ creationdossier.apportNumeraire|number_format(0, '.', '  ') }}</td> 
    <td class="cellValue">{{ creationdossier.apportNature|number_format(0, '.', '  ') }}</td>
  </tr>
    <tr>
    <td class="titreLabel">{% trans %}message_capital_social{% endtrans %}</td>
    <td class="titreLabel">{% trans %}nombre_action{% endtrans %}</td> 
    <td class="titreLabel">{% trans %}valeur_nominale_action{% endtrans %}</td>
  </tr>
  <tr>
    <td class="cellValue">{{ creationdossier.capitalSocial|number_format(0, '.', '  ') }}</td>
    <td class="cellValue">{{ creationdossier.nombreAction }}</td> 
    <td class="cellValue">{{ creationdossier.valeurNominale|number_format(0, '.', '  ') }}</td>
  </tr>
   <tr>
    {% if creationdossier.numeroRccm %}<td class="titreLabel">{% trans %}numero_rccm{% endtrans %}</td>{%endif%}
    {% if creationdossier.codeFiscal %}<td class="titreLabel">{% trans %}code_fiscal{% endtrans %}</td> {%endif%}
    {% if creationdossier.ninea %}<td class="titreLabel">{% trans %}identification_nationale{% endtrans %}</td> {%endif%}
  </tr>
  <tr>
    {% if creationdossier.numeroRccm %}<td class="cellValue">{{ creationdossier.numeroRccm }}</td> {%endif%}
    {% if creationdossier.codeFiscal %}<td class="cellValue">{{ creationdossier.codeFiscal }}</td> {%endif%}
    {% if creationdossier.ninea %}<td class="cellValue">{{ creationdossier.ninea }}</td> {%endif%}
  </tr>
</table>
<br/><br/><br/>
        <div class="blocHaut">
			{#
           <label class="titreLabel">{% trans %}message_description_sommaire_evaluation_apport_nature {% endtrans %}: </label> 
		   <br />		   
		   <label class="reponseLabel">{% trans %}montant_apport_de{% endtrans %} : {{ creationdossier.apportNature }}</label>
		   <br />
		   #}
           <label class="titreLabel">{% trans %}message_nom_prenom_domicile_associes {% endtrans %}: </label><br />
			<label class="reponseLabel">{% for dossierAssocie in dossiersAssocies %}
			- 	{{ dossierAssocie.getNom() }},  
				{{ dossierAssocie.getPrenom() }},  
				{{ dossierAssocie.getAdresse() }} <br>
		    {% endfor %}
			</label>
		   <br />
           <label class="titreLabel">{% trans %}message_nom_prenom_domicile_dirigeants_commissaire {% endtrans %}:</label><br/>
		   <label class="reponseLabel">{% for dossierRepresentant in dossiersRepresentants %}
			-   {{ dossierRepresentant.getNom() }},  
				{{ dossierRepresentant.getPrenom() }},  
				{{ dossierRepresentant.getAdresse() }} 
				<br>
		    {% endfor %}
			</label>		
		   <label class="reponseLabel">{% for dossierCommissaire in dossiersCommissaires %}
			- {% if dossierCommissaire.getCommissionnaireAuCompte() %}
				{{ dossierCommissaire.getCommissionnaireAuCompte().getNom() }},  
				{{ dossierCommissaire.getCommissionnaireAuCompte().getPrenom() }},  
				{{ dossierCommissaire.getCommissionnaireAuCompte().getAdresse() }} 
				{% endif %}<br>
		    {% endfor %}
			</label>
		   <br />
		   {#
           <label class="titreLabel">{% trans %}message_reference_immatriculation_registre {% endtrans %}: </label><br />
		   <label class="reponseLabel">{{ creationdossier.numeroRccm }}</label>		  
		   <br />
		    #}
        </div>   
	<br />          
        <div class="blocBas">
		{#
           <label class="titreLabel">{% trans %}message_nombre_valeur_actions_numeraire {% endtrans %}: </label>
		   <br />		   
           <label class="titreLabel">{% trans %}message_nombre_valeur_action_nature {% endtrans %}: </label>
		   <br />
		#}		   

		   {#
           <label class="titreLabel">{% trans %}message_montant_libere {% endtrans %}: </label>
		   <br /> 
           <label class="titreLabel">{% trans %}message_disposition_constitution_reserves_repartition_benefices {% endtrans %}: </label>		   
		   <br /> 
           <label class="titreLabel">{% trans %}message_avantages_particuliers_stipules {% endtrans %}: </label>
		   <br /> 
           <label class="titreLabel">{% trans %}message_conditions_admission_assemblees_actionnaires {% endtrans %}: </label>
		   <br /> 
           <label class="titreLabel">{% trans %}message_existence_clauses_agrement_cessionnaires_actions {% endtrans %}: </label>
		   <br /> 
		   #}
           <label class="titreLabel">{% trans %}message_type_annonce  {% endtrans %}: </label>  <label class="reponseLabel">{{ definedTypeOperation }} </label><br />
        </div>   
    </div>
	<br /><br />                   
   </body>
 
      