{% extends '::base-office.html.twig' %}
{% block title%}{%trans%}titre_page_annonce_legale{%endtrans%} | {{parent()}}{%endblock%}
{%block menu %}
    {{ render(controller("DefaultBundle:Default:menu",{'active':2})) }}
{%endblock%}
{% block body %}
    <div id="main" class="clearfix width-100" style="min-height: 250px; position: relative; z-index: 2; margin-top:70px;margin-bottom:10px">
        <div class="fusion-row" style="max-width:100%;">
            <div id="content" class="full-width">
                <div class="fusion-fullwidth  fusion-fullwidth-1  fusion-parallax-none row" 
                     style="background-color:#ffffff;border:1px solid #e2e2e2;padding:0px 20px 60px;">

                    <h3 style="margin:auto">{%trans%}titre_page_annonce_legale{%endtrans%}</h3>
                    <hr>
                    <div class="row">
                        <form class="form-inline" method="POST" action="{{path('recherche_annonce')}}">
                            <div class="col-lg-2">
                                <label>{%trans%}mot_cles{%endtrans%}</label>
                                <div class="input-append"><input type="text" id="" name="critere"></div>
                            </div>

                            <div class="col-lg-2">
                                <label>{%trans%}date_creation{%endtrans%}</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="date" class="form-control" name="dateCreation">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
               

                    <div class="col-lg-3 col-md-offset-1">
                        <label>{%trans%}forme_critere{%endtrans%}</label>
                        <div class="input-append col-lg-8" >
                            <select name="forme" class="form-control">
                                <option value="">{{'forme_critere'|trans}}</option>
                                {%for forme  in formes%}
                                    <option value="{{forme.formeJuridique.id}}">{{forme.libelle}}</option>
                                {%endfor%}
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-2" style="margin-bottom: 90px;">
                        <label><br/></label>
                        <div class="input-append">
                            <input type="submit" class="wpcf7-form-control wpcf7-submit btn-sm" value="{%trans%}rechercher{%endtrans%}"/>
                        </div>
                    </div>
                </div>
                <div>

                    {%if annonces |length==0%}
                        <div class="alert alert-info">{%trans%}annonces_vides{%endtrans%}</div>
                    {%else%}
                        <table class="table table-hover" id="annonces"> 
                            <thead>
                            <th>{%trans%}societe{%endtrans%}</th>
                            <th>Date</th>
                            <th>{%trans%}departement{%endtrans%}</th>
                            <th>{%trans%}forme_juridique{%endtrans%}</th>
                            <th>{{'telecharger'|trans}}</th>
                            </thead>
                            <tbody>
                                {%for entreprise in annonces%}
                                    <tr>
                                        <td>{{entreprise.nomCommercial}}</td>
                                        <td>{{entreprise.dateCreation | date("d/m/Y")}}</td>
                                        <td>{{entreprise.departement.libelle}}</td>
                                        {%if entreprise.formeJuridique.formeJuridiqueTraduction | length >0%}
                                            {%set est_trouver =false%}
                                        {%for trad in entreprise.formeJuridique.formeJuridiqueTraduction %}
                                            {%if trad.langue.code == app.request.locale %}
                                                <td>{{trad.libelle}}</td>
                                                {%set est_trouver=true%}
                                            {%endif%}
                                        {%endfor%}
                                        {%if est_trouver==false%}
                                            <td>{{entreprise.formeJuridique.sigle}}</td>
                                            {%endif%}
                                        {%else%}
                                            <td>-</td>
                                         {%endif%}
                                        <td><a href="{{path('ReportAnnonceLegale',{'idd':entreprise.id})}}" ><i class="fa fa-file-pdf-o "></i></a></td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    {%endif%}
                </div>

                </form>
            </div>
        </div></div></div>
    {%endblock%}
    {%block javascripts%}
        {{parent()}}
         <script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
    <script src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
   
<script type="text/javaScript">
    $(document).ready(function() {
          $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'YYYY-MM-DD'});
      $('#annonces').DataTable({"language": {
                "sProcessing": "{{'traitement_en_cours'|trans}}",
                "sSearch": "{{'rechercher'|trans}} :",
                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                "oPaginate": {
                    "sFirst": "{{'premier'|trans}}",
                    "sPrevious": "{{'precedent'|trans}}",
                    "sNext": "{{'suivant'|trans}}",
                    "sLast": "{{'dernier'|trans}}"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }});
            $('#annonces_filter').hide();
        
   

    } );
</script>
{%endblock%}