<page backtop="0mm" backbottom="0mm" backleft="0mm" backright="0mm">
<page_header> 
<img src="{{asset('img/apip.png')}}" width="151" height="80" style="margin:0 160px 0 0"/>
</page_header> 

<style>
#pageDiaspora {
    margin: 0 auto 0 auto;
	padding:10px 10px 10px 20px;
}

.divTitreDiaspora
{
	margin-left: 162px;
	border: 2px black solid;
    width: 400px;
    text-align: center;
    background-color: #ddd;
    font-weight: bold;
	font-size:16px;
	padding:5px 0 5px 0;
}

.titreBlocDiaspora {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
}

.divTableDiaspora
{

}

.tableDiaspora
{
	margin: 0 auto 0 auto;
	border-collapse: collapse;
}

.tableDiaspora th
{
	background-color: #ddd;
}

.tableDiaspora table,th,td
{
	border: 1px solid black !important;
}


.colonne1TableauDiaspora
{
	text-align:center;
}

.colonne2TableauDiaspora
{
	padding-left:2px;
	font-size: 14px;
	padding-right:2px;
}

.bigBull
{
	font-size:16px;
	margin-right:5px;
}

.bigSquare
{
	/*font-size:24px;*/
}

.footer{
	text-align:center;
	width:760px;
	font-size:10px;
	position:absolute;
	bottom:2;
	opacity: 0.2;
	background-color:#f8f8f8;
	color:#afa4a4;
	height:50px;
	
}
</style>

<div id="pageDiaspora">
	<div class="divTitreDiaspora">{{'processus_creation_ei_titre'|trans|upper}}</div>
	<div class="titreBlocDiaspora">I. {{'liste_document_a_fournir_diaspora'|trans}}</div>	
	
	<div class="divTableDiaspora">
		<table class="tableDiaspora">
			<tr>
				<th class="colonne1TableauDiaspora" style="width:76px;font-size:16px;font-weight:bold;">N°</th>
				<th class="colonne1TableauDiaspora" style="width:620px;font-size:16px;font-weight:bold;">{{'liste_document_a_fournir'|trans|upper}}</th> 
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">1. </td>
				<td class="colonne2TableauDiaspora" style="width:620px">{{'texte_liste_doc_diaspora_1'|trans}}</td> 								
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">2. </td>
				<td class="colonne2TableauDiaspora" style="width:620px">{{'texte_liste_doc_diaspora_2'|trans}}</td> 								
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">3. </td>
				<td class="colonne2TableauDiaspora" style="width:620px">{{'texte_liste_doc_diaspora_3'|trans}}</td> 								
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">4. </td>
				<td class="colonne2TableauDiaspora" style="width:620px">{{'texte_liste_doc_diaspora_4'|trans}}</td> 								
			</tr>								
		</table>						
	</div>
	
	
	<div class="titreBlocDiaspora">II. {{'frais_creation_diaspora'|trans}}</div>
	
	<div class="divTableDiaspora">
		<table class="tableDiaspora">
			<tr>
				<th class="colonne1TableauDiaspora" style="width:76px;font-size:16px;font-weight:bold;">N°</th>
				<th class="colonne1TableauDiaspora" style="width:406px;font-size:16px;font-weight:bold;">{{'services'|trans|upper}}</th> 
				<th class="colonne1TableauDiaspora" style="width:190px;font-size:16px;font-weight:bold;" colspan="2">{{'frais'|trans|upper}}</th> 
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">1. </td>
				<td class="colonne2TableauDiaspora" style="width:406px">{{'texte_liste_nom_service_diaspora_1'|trans}}</td> 
				<td class="colonne2TableauDiaspora" style="width:80px">20 euros</td>
				<td class="colonne2TableauDiaspora" style="width:110px">25 dollars</td>
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">2. </td>
				<td class="colonne2TableauDiaspora" style="width:406px">{{'texte_liste_nom_service_diaspora_2'|trans}}</td>
				<td class="colonne2TableauDiaspora" style="width:80px">25 euros</td>
				<td class="colonne2TableauDiaspora" style="width:110px">30 dollars</td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">3. </td>
				<td class="colonne2TableauDiaspora" style="width:406px">{{'texte_liste_nom_service_diaspora_3'|trans}}</td>
				<td class="colonne2TableauDiaspora" style="width:80px">19.99 euros</td>
				<td class="colonne2TableauDiaspora" style="width:110px">24.99 dollars</td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px">4. </td>
				<td class="colonne2TableauDiaspora" style="width:406px">{{'texte_liste_nom_service_diaspora_4'|trans}}</td>
				<td class="colonne2TableauDiaspora" style="width:80px">20 euros</td>
				<td class="colonne2TableauDiaspora" style="width:110px">20 dollars</td>									
			</tr>
			<tr>
				<td style="font-weight:bold;text-align:right;padding-right:10px" colspan="2">TOTAL </td>									
				<td class="colonne2TableauDiaspora" style="width:80px">84.99 euros</td>
				<td class="colonne2TableauDiaspora" style="width:110px">99.99 dollars (us)</td>									
			</tr>
			
		</table>						
	</div>
	
	<div class="titreBlocDiaspora">III. {{'processus_creation_ei'|trans}}</div>
	
	<div class="divTableDiaspora">
		<table class="tableDiaspora">
			<tr>
				<th class="colonne1TableauDiaspora" style="width:76px;font-size:16px;font-weight:bold;">{{'etape'|trans|upper}}S</th>
				<th class="colonne1TableauDiaspora" style="width:624px;font-size:16px;font-weight:bold;" colspan="2">{{'processus_creation_ei'|trans|upper}}</th> 									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px;" rowspan="5">{{'etape'|trans|capitalize}} 1</td>
			</tr>
			<tr>
				<td class="colonne2TableauDiaspora" style="width:544px;border-left:none">{{'texte_liste_processus_diaspora_1_1_1'|trans}} : <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_1_2'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:5px"><span class="bigSquare"><img src="{{asset('img/unchecked.png')}}"/></span></td>
			</tr>
			<tr>
				<td class="colonne2TableauDiaspora" style="width:544px;border-left:none"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_2_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_2_2'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:5px"><span class="bigSquare"><img src="{{asset('img/unchecked.png')}}"/></span></td>
			</tr>
			
			<tr>
				<td class="colonne2TableauDiaspora" style="width:544px;border-left:none"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_3'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:5px"><span class="bigSquare"><img src="{{asset('img/unchecked.png')}}"/></span></td>
			</tr>
			<tr>
				<td class="colonne2TableauDiaspora" style="width:544px;border-left:none"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_4'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:5px"><span class="bigSquare"><img src="{{asset('img/unchecked.png')}}"/></span></td>
			</tr>		
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px" >{{'etape'|trans|capitalize}} 2</td>
				<td class="colonne2TableauDiaspora" style="width:544px"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_2'|trans}}</td> 
				<td></td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px" >{{'etape'|trans|capitalize}} 3</td>
				<td class="colonne2TableauDiaspora" style="width:544px"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_3_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_3_2'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_3_3'|trans}}</td>
				<td></td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px" >{{'etape'|trans|capitalize}} 4</td>
				<td class="colonne2TableauDiaspora" style="width:544px"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_4_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_4_2'|trans}}</td>
				<td></td>
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px" >{{'etape'|trans|capitalize}} 5</td>
				<td class="colonne2TableauDiaspora" style="width:544px"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_5_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_5_2'|trans}}</td>
				<td></td>
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" style="width:76px" >{{'etape'|trans|capitalize}} 6</td>
				<td class="colonne2TableauDiaspora" style="width:544px"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_6_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_6_2'|trans}}</td>
				<td></td>
			</tr>
			
		</table>						
	</div>
	<div class="footer" style="position:inherit;margin-left:-20px;">
		<div style="width:760px;opacity:0.5;"><b>AGENCE DE PROPOMTION DES INVESTISSEMENTS PRIVES <img src="{{asset('img/enveloppe.png')}}"/> 252, rue KA022, Boulbinet – BP 2024 CONAKRY  GUINEE <img src="{{asset('img/telephone.png')}}"/> (224) 656 31 11 14</b>
		<br/><br/><span style="color:#83b4ff">www.apip.gov.gn</span> - www.invest.gov.gn</div>
	  </div>
	  
	<br/><br/>
	
	{#<div class="titreBlocDiaspora">IV. {{'informations_complementaires'|trans}}</div>#}	

	<div class="divTitreDiaspora" style="padding:20px 0 20px 0">{{'informations_complementaires'|trans|upper}}</div>						
	<br/>
	<div><span style="font-size:24px">&bull;</span> {{'texte_information_complementaire_1'|trans}}</div>
		
	<div><span style="font-size:24px">&bull;</span> {{'texte_information_complementaire_2'|trans}}</div>
	
	
</div>

      <div class="footer">
		<div style="width:760px;opacity:0.5;"><b>AGENCE DE PROPOMTION DES INVESTISSEMENTS PRIVES <img src="{{asset('img/enveloppe.png')}}"/> 252, rue KA022, Boulbinet – BP 2024 CONAKRY  GUINEE <img src="{{asset('img/telephone.png')}}"/> (224) 656 31 11 14</b>
		<br/><br/><span style="color:#83b4ff">www.apip.gov.gn</span> - www.invest.gov.gn</div>
	  </div>
    
</page>