{% extends '::base-office.html.twig' %}
{%block title%}{{parent()}}{%endblock%}

            {%block guide %}
                {%if guides|length!=0%}
                    <p style="height:70px;min-height:70px !important;">
                    {%for guide in guides%}
                        <i class="fa fa-angle-double-right"></i>
                            &nbsp;&nbsp;
                            <a  {% if app.request.locale=='fr'%} href="{{path('visualiserGuide',{'id':guide.id})}}"
                                                                            
			{% else %} href="{{path('visualiserGuide',{'id':guide.documentation.id})}}" {% endif %}target="_blank" >{{guide.titre}}</a>
                            {%if loop.index != guides|length%}
                        <br/>
                        {%endif%}
                    {%endfor%}
                    </p>
                {%else%}
                    <p style="text-align: center;height:70px;min-height:70px !important;">
                      {%trans%}presentation_guide_demarche{%endtrans%}
                    </p> 
                {%endif%}
            {%endblock %}

            {%block javascripts %}
                {{parent()}}
                
                <script type="text/javascript">
                   $(function () {
                    $('.carousel').carousel({
                    interval: 6000
                    })
                    });
                </script>
            {%endblock%}

