{%extends '::base.html.twig'%}
{% block title %}{%trans%}dashboard{%endtrans%}{% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':1})) }}
{%endblock %}
{%block body %}
    <div class="row">
        {% for message in app.session.flashbag.get('error') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="col-lg-12">
            <h1 class="page-header">
                {%if is_granted('ROLE_SUPER_ADMIN')%} {%trans%}role_super_admin{%endtrans%}
                {%elseif  is_granted('ROLE_POLE')%} 
                    {%if app.user.pole.sigle|upper == "CT" %}
                        {{'Caissier'|trans|capitalize}}<label class="pull-right h4" style="color: #d44">{{app.user.entreprise.denomination}}</label>
                    {%elseif "gec"|lower in profilName|lower %}
						{{'greffier_en_chef'|trans|capitalize}}
					{%else%}
                        {{app.user.pole|trans}}
                    {%endif%}
                {%elseif app.user.entreprise%} 
                    {%if depot%} {%trans%}sevice_depot{%endtrans%} <label class="pull-right h4" style="color: #d44">{{app.user.entreprise.denomination}}</label>
                    {%elseif retrait%} {%trans%}service_retrait{%endtrans%} <label class="pull-right h4" style="color: #d44">{{app.user.entreprise.denomination}}</label>
                    {%elseif profilName=="saisi"%}{%trans%}service_saisi{%endtrans%}
                    {%else%} {{app.user.profile.nom}} <label class="pull-right h4" style="color: #d44">{{app.user.entreprise.denomination}}</label>{#{%trans%}role_admin_entreprise{%endtrans%}#}
                    {%endif%} 
                {%else%} {%trans%}role_createur{%endtrans%} {%endif%}
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> {%trans%}dashboard{%endtrans%}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        {%if is_granted('ROLE_SUPER_ADMIN')%}
            <!--div class="col-lg-4 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3 col-md-offset-4">
                                <i class="fa fa-exchange  fa-5x"></i>
                            </div>

                            <div class="col-xs-9 text-right">
                                <h3>{%trans%}nombre_visiteur{%endtrans%}</h3>

                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <h3><span class="col-xs-6 text-right"> {{nbreVisite |number_format(0, '.', '  ')}} </span></h3>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div-->
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-center">
                                {%trans%}list_dossier{%endtrans%}
                            </div>                           
                        </div>
                    </div>
                    <div class="panel-footer">

                        {%for pole in StatNbreDossierBYPole%}                           
                            <div class="row">
                                <a href="{{path('detailsDossierPole',{'idP':pole.idpole})}}" style="font-size: 8pt;font-weight: bold">{{pole.nom}}<font class="pull-right" style="color: red;font-weight: bold"> {{pole.nbreDossier}}</font><div class="clearfix"></div></a>                              
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-center">
                                {%trans%}dossiers_delivre{%endtrans%}
                            </div>                           
                        </div>
                    </div>
                    <div class="panel-footer">

                        {%for pole in StatDossierDelivre%}
                            <div class="row">
                                <a href="{{path('detailsDossierPole',{'idP':pole.idpole,'idS':2})}}" style="font-size: 8pt;font-weight: bold">{{pole.nom}}<font class="pull-right" style="color: red;font-weight: bold"> {{pole.nbreDossier}}</font><div class="clearfix"></div></a>                              
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-center">
                                {%trans%}list_dossier_modification{%endtrans%}
                            </div>                           
                        </div>
                    </div>
                    <div class="panel-footer">

                        {%for pole in StatDossierEnModif%}
                            <div class="row">
                                <a href="{{path('detailsDossierPole',{'idP':pole.idpole,'idS':3})}}" style="font-size: 8pt;font-weight: bold">{{pole.nom}}<font class="pull-right" style="color: red;font-weight: bold"> {{pole.nbreDossier}}</font><div class="clearfix"></div></a>                              
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-center">
                                {%trans%}utilisateur_connectes{%endtrans%}
                            </div>                           
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <h3 style="text-align: center">
                                <a href="{{path('users_connected')}}">                                   
                                    {%if usersEnligne%}{{usersEnligne|length}}{%endif%}
                                    <div class="clearfix"></div>
                                </a>                              
                            </h3>                                
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-center">
                                {%trans%}stat_entreprise_crees{%endtrans%}
                            </div>                           
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <h3 style="text-align: center">
                                <a href="{{path('extraction-nbEntreprise-excel')}}">                                   
                                    statististique
                                    <div class="clearfix"></div>
                                </a>                              
                            </h3>                                
                        </div>                       
                    </div>
                </div>
            </div>
        {%endif%}
        {% if is_granted('ROLE_CREATEUR') and not is_granted('ROLE_ADMIN')%}
            {% if depot %}
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file-text fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('depot_new')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}depot{%endtrans%}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('lister_depot')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}lister_depot{%endtrans%}({{nbreDocDepot}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('lister_depot_Modification')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}lister_depot_Modification{%endtrans%}({{nbreDocDepotModification}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            {%elseif retrait %}
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('lister_retrait')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}lister_retrait{%endtrans%}({{nbreDocRetrait}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('lister_retrait_partiel')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}lister_partiellement_retirer{%endtrans%}({{nbreDocRetraitPartiel}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('lister_retirer')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}lister_retirer{%endtrans%}({{nbreDocRetirer}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>    
            {%else%}
                {% if app.user.profile and app.user.profile.description=="help"%}
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9 text-center">
                                        {%trans%}list_dossier{%endtrans%}
                                    </div>                           
                                </div>
                            </div>
                            <div class="panel-footer">

                                {%for pole in StatNbreDossierBYPole%}                           
                                    <div class="row">
                                        <a href="{{path('detailsDossierPole',{'idP':pole.idpole})}}" style="font-size: 8pt;font-weight: bold">{{pole.nom}}<font class="pull-right" style="color: red;font-weight: bold"> {{pole.nbreDossier}}</font><div class="clearfix"></div></a>                              
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9 text-center">
                                        {%trans%}dossiers_delivre{%endtrans%}
                                    </div>                           
                                </div>
                            </div>
                            <div class="panel-footer">

                                {%for pole in StatDossierDelivre%}
                                    <div class="row">
                                        <a href="{{path('detailsDossierPole',{'idP':pole.idpole,'idS':2})}}" style="font-size: 8pt;font-weight: bold">{{pole.nom}}<font class="pull-right" style="color: red;font-weight: bold"> {{pole.nbreDossier}}</font><div class="clearfix"></div></a>                              
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9 text-center">
                                        {%trans%}list_dossier_modification{%endtrans%}
                                    </div>                           
                                </div>
                            </div>
                            <div class="panel-footer">

                                {%for pole in StatDossierEnModif%}
                                    <div class="row">
                                        <a href="{{path('detailsDossierPole',{'idP':pole.idpole,'idS':3})}}" style="font-size: 8pt;font-weight: bold">{{pole.nom}}<font class="pull-right" style="color: red;font-weight: bold"> {{pole.nbreDossier}}</font><div class="clearfix"></div></a>                              
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-folder-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('suiviDossier')}}">
                                <div class="panel-footer">
                                    <span class="pull-left">{%trans%}suivre_dossier{%endtrans%}({{nbreDocSuivi}})</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                {%else%}
                    {% if app.user.profile and "saisi"|lower not in app.user.profile.description|lower %}
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-file-text fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('creerDossier')}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}ajouter_dossier{%endtrans%}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {%endif%}
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-folder-open fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('dossierEncours')}}">
                                <div class="panel-footer">
                                    <span class="pull-left">
                                        {% if app.user.profile and "saisi"|lower in app.user.profile.description|lower %}
                                            {%trans%}brouillon_saisi{%endtrans%}({{nbreDocBrouillon}})
                                        {%else%}
                                            {%trans%}brouillon{%endtrans%}({{nbreDocBrouillon}})
                                        {%endif%}    
                                    </span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-folder-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('suivreDossier')}}">
                                <div class="panel-footer">
                                    <span class="pull-left">{%trans%}suivre_dossier{%endtrans%}({{nbreDocSuivi}})</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {%if app.user.profile and app.user.profile.description=="saisi"%}
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-file-text fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('DossiersDiaspora')}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}dossier_diaspora{%endtrans%}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {%endif%}
                {%endif%}
            {%endif%}
        {%endif%}
        {% if is_granted('ROLE_POLE') and not is_granted('ROLE_ADMIN') %}

            {% if app.user.pole.sigle|upper == "CT" %}			
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('gestion_caisse')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}dossier_attente_paiement{%endtrans%}({{nbreDocEnCours}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('reporting_quittance')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}message_rapports_paiement{%endtrans%}({{nbreDocDelivre}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('brouillard_caisse')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}brouillard_caisse{%endtrans%}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('repartition_encaissement')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}repartition_des_encaissement{%endtrans%}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            {%else%}

                {% if app.user.pole.sigle|upper != "AL" and "gec"|lower not in profilName|lower%}
                    {%if app.user.pole and (app.user.pole.sigle=="DP" or app.user.pole.sigle=="INV")%}
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-file-text fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('creerDossier')}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}ajouter_dossier{%endtrans%}</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder-open fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('dossierEncours')}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}brouillon{%endtrans%}({{nbreDocBrouillon}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('suivreDossier')}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}suivre_dossier{%endtrans%}({{nbreDocSuivi}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>					
                    {%else%}
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder-open fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('dossierPole')}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}list_dossier{%endtrans%}({{nbreDocEnCours}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('dossierPole',{'idS':2})}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}dossiers_delivre{%endtrans%}({{nbreDocDelivre}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-pencil-square-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('dossierPole',{'idS':3})}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}list_dossier_modification{%endtrans%}({{nbreDocModifie}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% if app.user.pole.sigle|upper != "CNSS" and app.user.profile and "gec"|lower not in app.user.profile.description|lower %}   
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-money fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{path('gestion_caisse_pole')}}">
                                        <div class="panel-footer">
                                            <span class="pull-left">{%trans%}recapitulatif_paiement{%endtrans%}</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div> 
                        {%endif%}
                    {%endif%}
					{% elseif app.user.pole.sigle|upper != "AL" and "gec"|lower in profilName|lower%}
						<div class="col-lg-4 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('dossierAValiderChefGreffe',{'idS':2})}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}dossiers_a_valider{%endtrans%}({{nbrDocAValider}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
						<div class="col-lg-4 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-folder fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('dossierValideChefGreffe',{'idS':2})}}">
                                    <div class="panel-footer">
                                        <span class="pull-left">{%trans%}dossiers_valides{%endtrans%}({{nbrDocValide}})</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                {%endif%}
            {% endif %}
            {% if app.user.pole.sigle|upper == 'AL' %}
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-newspaper-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('annonceur-index')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}message_annonce_legale{%endtrans%}({{nbreDocEnCours}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('annonceur-exporte')}}">
                            <div class="panel-footer">
                                <span class="pull-left">{%trans%}message_annonce_exportees{%endtrans%}({{nbreDocDelivre}})</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}

        {%endif%}
    </div>
{%endblock %}