<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">	
        <title>{%trans%}inscription{%endtrans%}</title>
		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{ asset('datepicker/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">	
		
	</head>
	<body>
		<div class = "container">
			<h3>{% trans %}inscription_plateforme{% endtrans %}</h3>
				{{ form_start(form, {'attr': {'class': 'well row'}}) }}
					<div class="form-group col-lg-6">
						{{ form_label(form.denomination,'denomination'|trans ~ ' (*)') }}
						{{ form_errors(form.denomination,{'attr':{'class':'alert alert-danger'}}) }}						
						{{ form_widget(form.denomination, {'attr': {'class': 'form-control','required':'false'}}) }}							
					</div>
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.email,'email'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.email,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.email, {'attr': {'class': 'form-control'}}) }}
					</div>		
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.username,'nom_utilisateur'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.username,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.username, {'attr': {'class': 'form-control'}}) }}								
					</div>
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.nom,'nom'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.nom,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.nom, {'attr': {'class': 'form-control'}}) }}			
					</div>		
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.prenom,'prenom'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.prenom,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.prenom, {'attr': {'class': 'form-control'}}) }}			
					</div>		
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.genre,'message_genre'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.genre,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.genre, {'attr': {'class': 'form-control'}}) }}			
					</div>
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.dateNaissance,'message_date_naissance'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.dateNaissance) }} 
						<div class='input-group date' id='datetimepicker1'>
							{{ form_widget(form.utilisateur.dateNaissance,{'attr': {'class': 'form-control'}}) }}
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>										
					<div class="form-group col-lg-6">
                        {{ form_label(form.utilisateur.typeIdentification,'utilisateur.type_identification'|trans ~ ' (*)') }} 
                        {{ form_errors(form.utilisateur.typeIdentification,{'attr':{'class':'alert alert-danger'}}) }} 											
                         {{ form_widget(form.utilisateur.typeIdentification, {'attr': {'class': 'form-control'}}) }}			
                    </div>  
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.lieuNaissance,'utilisateur.lieu'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.lieuNaissance,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.lieuNaissance, {'attr': {'class': 'form-control'}}) }}			
					</div>
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.cni,'utilisateur.cni'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.cni,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.cni, {'attr': {'class': 'form-control'}}) }}			
					</div> 								
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.adresse,'utilisateur.adresse'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.adresse,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.adresse, {'attr': {'class': 'form-control'}}) }}			
					</div>
					<div class="form-group col-lg-6">
						{{ form_label(form.utilisateur.telephone,'utilisateur.telephone'|trans ~ ' (*)') }} 
						{{ form_errors(form.utilisateur.telephone,{'attr':{'class':'alert alert-danger'}}) }} 											
						{{ form_widget(form.utilisateur.telephone, {'attr': {'class': 'form-control'}}) }}			
					</div>						                     
					<div class="form-group col-lg-12">
						{{ form_errors(form.utilisateur.plainPassword) }} 											
						{{ form_widget(form.utilisateur.plainPassword) }}			
					</div>	
					<div class="form-group  col-lg-12">
						<input class="btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="{%trans%}valider{%endtrans%}" />
					</div>
				{{ form_end(form) }}
			</form>
		</div>
		<script src="{{asset('js/jquery.js')}}"></script>
		<script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
		<script src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>

		<script>
			$('#datetimepicker1').datetimepicker({ locale: 'fr',format: 'YYYY-MM-DD' });
			
				$('form').submit(function(){
		$('input').each(function(){
			if (($this).val() == '')
				$(this).css('border','1px solid red');
		});	
	});
	
	$(function(){
		$.ajax({
				url:"{{ path('charge_region') }}",
				type:'POST',
				data: {idpays : $('#administration_installation_utilisateur_paysResidence').val()},
				success:function(data){
					$('#administration_installation_utilisateur_regionResidence').empty();
					for (var i in data.retour)
					{						
						$('#administration_installation_utilisateur_regionResidence').append("<option value="+data.retourId[i]+">"+data.retour[i]+"</option>");
					}
					
					 $.ajax({
							url: '{{ path("charge_departement") }}',
							data: {region:$('#administration_installation_utilisateur_regionResidence').val()}, // on envoie $_GET['id_region']	
							dataType: 'json',
							type : 'POST',
							success: function(donnee) {
								for (var i in donnee.retour)
								{						
									$('#administration_installation_utilisateur_departement').append("<option value="+donnee.retourId[i]+">"+donnee.retour[i]+"</option>");
								}
							}
						});
				},
				error:function(){}
			});
			
			
		$('#administration_installation_utilisateur_paysResidence').change(function(){
			$.ajax({
				url:"{{ path('charge_region') }}",
				type:'POST',
				data: {idpays : $(this).val()},
				success:function(data){
					$('#administration_installation_utilisateur_regionResidence').empty();
					for (var i in data.retour)
					{						
						$('#administration_installation_utilisateur_regionResidence').append("<option value="+data.retourId[i]+">"+data.retour[i]+"</option>");
					}
					
					 $.ajax({
							url: '{{ path("charge_departement") }}',
							data: {region:$('#administration_installation_utilisateur_regionResidence').val()}, // on envoie $_GET['id_region']	
							dataType: 'json',
							type : 'POST',
							success: function(donnee) {
								$('#administration_installation_utilisateur_departement').empty(); 
								for (var i in donnee.retour)
								{						
									$('#administration_installation_utilisateur_departement').append("<option value="+donnee.retourId[i]+">"+donnee.retour[i]+"</option>");
								}
							}
						});
				},
				error:function(){}
			});
		});
	});
	
	 $('#administration_installation_utilisateur_regionResidence').on('change', function() {
       // alert('test');
        var val = $(this).val(); // on récupère la valeur de la région
 
        if(val != '') {
            $('#administration_installation_utilisateur_departement').empty(); // on vide la liste des départements
             
            $.ajax({
                url: '{{ path("charge_departement") }}',
                data: {region:val}, // on envoie $_GET['id_region']	
                dataType: 'json',
                type : 'POST',
                success: function(data) {
					$('#administration_installation_utilisateur_departement').empty(); 
					
					for (var i in data.retour)
					{						
						$('#administration_installation_utilisateur_departement').append("<option value="+data.retourId[i]+">"+data.retour[i]+"</option>");
					}
                }
            });
        }
	});
	
	$('input').focusout(function(){
		if ($(this).val() == '')
			$(this).css('border','1px solid red');
		else
			$(this).css('border','1px solid #ccc');			
	});
	

    $('#administration_installation_utilisateur_plainPassword').attr('class','col-lg-12').children().attr('class', 'form-group');
	
    $('#administration_installation_utilisateur_plainPassword input').attr('class', 'form-control');

		</script>
	</body>
</html>