{% extends '::base-office.html.twig' %}
{%block title%}{%trans%}flash_infos{%endtrans%}- {{parent()}}{%endblock%}
 {%block menu %}
        {{ render(controller("DefaultBundle:Default:menu",{'active':0})) }}
    {%endblock%}
{% block body %}
    <div id="main" class="clearfix width-100" style="min-height: 250px; position: relative; z-index: 2; margin-top:0px;margin-bottom:10px">
        <div class="fusion-row" style="max-width:100%;">
            <div id="content" class="full-width">
                <div class="fusion-fullwidth  fusion-fullwidth-1  fusion-parallax-none row" 
                     style="background-color:#ffffff;border:1px solid #e2e2e2;padding:40px 20px 60px;margin:15px">
       
    <div class="span10">
    {%if news | length !=0%}
        <table id="news" >
    {% for new in news %}
        <tr >
            <div class="titre">
               <h1>{{new.titre}}</h1>
            </div>
        <div class="row">
            <div class="col-md-10">
            {{new.contenu |slice(0,500) | raw}} </p><div class="more label"><a {% if app.request.locale=='fr'%} href="{{path('readmore',{'id':new.id})}}"
            {%else%}
href="{{path('readmore',{'id':new.news.id})}}"
            {%endif%}>{{'lire_plus' |trans}} ></a>
            </div>
            </div>
        <div class="col-md-1">{% if app.request.locale=='fr'%} {{new.datePublication | date}}
        {%else%}{{new.news.datePublication | date}}{%endif%}</div>
        </div></tr>
             
          <div class="clear"></div>
        <hr>
       
    {%endfor%}   
        </table>
        {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(news) }}
</div>
    </div>
    </div>
    {%else%}
       <div class="alert alert-info">{%trans%}rubrique_news_vide{%endtrans%}</div>
    {%endif%}
</div>
       </div></div></div>
    {% endblock %}
{%block javascripts%}
    {{parent()}}
    
<script type="text/javaScript">
    $(document).ready(function() {
        
    $('#news').DataTable({"language": {
                "sProcessing": "{{'Traitement en cours...'|trans}}",
                "sSearch": "{{'rechercher'|trans}} :",
                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                "oPaginate": {
                    "sFirst": "{{'premier'|trans}}",
                    "sPrevious": "{{'precedent'|trans}}",
                    "sNext": "{{'suivant'|trans}}",
                    "sLast": "{{'dernier'|trans}}"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }});
        
   

    } );
</script>
    {%endblock%}