{% extends '::base.html.twig' %}
{%block title%}{%trans%}titre_statistique{%endtrans%}{% endblock%}

{% block body %}

<style>
        .divFieldSet
        {
            border:1px #dddddd solid;                         
            position:relative;
            padding: 5px ;                
            font-size: 9pt;
			margin-top:5px;
        }
        .divLegende
        {
            border: 1px #dddddd solid;
            width: 50%;
            position: absolute;
            margin: -10px 30% 0 30%;
            margin-left:25%;
            background: white;
            font-weight: bold;
            text-align: center;
        }
		.boutonMoyen
		{
			width:120px;
		}
        
    </style>
	
	<div class="row"> 
        <div class="col-lg-12">
            <h3 class="page-header">
               <div>
					{{"nbr_entreprise_crees_par_origine"|trans}}
				</div>
            </h3>
        </div>
    </div>
	
    <div class="container" style="width:100%">   

        <div class="col-md-12">
            <form method="POST" {{ form_enctype(form) }}>


			<div class="row divFieldSet text-center">	
				<div class="divLegende">{%trans%}choix_periode_repartition{%endtrans%}</div>	
				<br/><br/> 
				<div class="col-sm-4 text-center">                                 
					<a class="btn btn-default boutonMoyen" {% if typePlage == 1 %} disabled="true" 
					{%else%} href="{{path('statistiques-origine-graphe', { 'typePlage': 1 })}}"{% endif%}>{%trans%}jours{%endtrans%}</a>
                </div>
				
				<div class="col-sm-4 text-center">                               
                    <a class="btn btn-default boutonMoyen" {% if typePlage == 2 %} disabled="true" 
					{%else%} href="{{path('statistiques-origine-graphe', { 'typePlage': 2 })}}"{% endif%}>{%trans%}mois{%endtrans%}</a>
                </div>
				
				<div class="col-sm-4 text-center">                               
                    <a class="btn btn-default boutonMoyen" {% if typePlage == 3 %} disabled="true" 
					{%else%} href="{{path('statistiques-origine-graphe', { 'typePlage': 3 })}}"{% endif%}>{%trans%}annee{%endtrans%}</a>
                </div>                   
			</div>

			<br>
			<div class=" row col-sm-12 text-center">
				<div class="col-sm-4">
				{{ form_widget(form.typeGraphe.0, {'attr': {'checked': 'checked' }}) }}{{ form_label(form.typeGraphe.0) }}
				</div>

				<div class="col-sm-4">
				{{ form_widget(form.typeGraphe.1, {'attr': {'class': '' }}) }}{{ form_label(form.typeGraphe.1) }}
				</div>
				
				<div class="col-sm-4">
				{{ form_widget(form.typeGraphe.2, {'attr': {'class': '' }}) }}{{ form_label(form.typeGraphe.2,'Nuage') }}
				</div>
			</div>
				<br/><br/>
			
                <div class="row text-center">
				<div class="form-group col-sm-4"></div>
                    <div class="form-group col-sm-2" style="min-width:175px">
                        <label>{%trans%}date_debut_creation{%endtrans %}</label>                                
                        <div class="input-group date" id="datetimepicker1">
                            {{ form_widget(form.dateCreationDebut, {'attr': {'class': 'datepicker1 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="min-width:175px">
                        <label>{%trans%}date_fin_creation{%endtrans %}</label> 
                        <div class="input-group date" id="datetimepicker2">
                            {{ form_widget(form.dateCreationFin, {'attr': {'class': 'datepicker2 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div style="margin-top:25px" class="text-left">
                        <button type="submit"  class="btn btn-info" >{%trans%}valider{%endtrans %}</button>
                    </div>

                </div>
                {{ form_rest(form) }} 
            </form>
        </div>  
		<br/>
		<br/>
		<br/>
		<div id="container1" style=" margin: 0 auto"></div>
   </div> 


{% endblock %}

{%block javascripts%}
    {{parent()}}        
		 
	<script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
	<script type="text/javascript" src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>		
	<script src="{{asset('js/highcharts.js')}}" charset="utf-8"></script>
	<script src="{{asset('js/modules/exporting.js')}}" charset="utf-8"></script>


<script type="text/javascript">
$(function () {

var textePrepend = "";
var texteAppend = "";

if("{{typePlage}}"==1)
{
	$('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY', maxDate : 'now'});

	$('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY', maxDate : 'now'});
	$('#statGrapheType_dateCreationFin').attr("readonly", true);
	
	$("#datetimepicker1").on("dp.change", function (e) {
		if(e.date)
		{
			todayDate = new Date();
			startDate = new Date(e.date);
			endDate = new Date(e.date);
			endDate.setDate(endDate.getDate() + 3650);
			previousMinDate = $('#datetimepicker2').data("DateTimePicker").minDate();
			previousMaxDate = $('#datetimepicker2').data("DateTimePicker").maxDate();
			
			if (endDate.getTime() > todayDate.getTime())
			{
				endDate=todayDate;
			}
			if (endDate.getTime() <  startDate.getTime())
			{
				endDate=startDate;
			}

			if(previousMaxDate != false && previousMaxDate < startDate)
			{
				$('#datetimepicker2').data("DateTimePicker").maxDate(endDate);
				$('#datetimepicker2').data("DateTimePicker").minDate(startDate);	
			}
			else
			{
				$('#datetimepicker2').data("DateTimePicker").minDate(startDate);	
				$('#datetimepicker2').data("DateTimePicker").maxDate(endDate);		
			}
			$('#datetimepicker2').data("DateTimePicker").date(endDate);
			$('#statGrapheType_dateCreationFin').attr("readonly", false);
		}
	});
	
	textePrepend ='{{"periode"|trans}} : {{dateDebut|localizeddate("none", "none", locale, null, "dd MMMM y")}} - {{dateFin|localizeddate("none", "none", locale, null, "dd MMMM y")}}';
	texteAppend = '{{"du"|trans}} {{dateDebut|localizeddate("none", "none", locale, null, "dd MMMM y")}} {{"au"|trans}} {{dateFin|localizeddate("none", "none", locale, null, "dd MMMM y")}}';
}
else if("{{typePlage}}"==2)
{
	var placeholder = '{{"message.placeholder.date_month"|trans}}';
	$('#datetimepicker1').datetimepicker({locale: 'fr', format: 'MM-YYYY', viewMode: 'months', maxDate : 'now'});
	$('#statGrapheType_dateCreationDebut').attr('placeholder', placeholder);
	  
	$('#datetimepicker2').datetimepicker({locale: 'fr', format: 'MM-YYYY', viewMode: 'months', maxDate : 'now'});
	$('#statGrapheType_dateCreationFin').attr('placeholder', placeholder);

	$('#statGrapheType_dateCreationFin').attr("readonly", true);

	$("#datetimepicker1").on("dp.change", function (e) {
		if(e.date)
		{
			todayDate = new Date();
			startDate = new Date(e.date);
			endDate = new Date(e.date);
			endDate.setDate(endDate.getDate() + 3650);
			previousMinDate = $('#datetimepicker2').data("DateTimePicker").minDate();
			previousMaxDate = $('#datetimepicker2').data("DateTimePicker").maxDate();
			
			if (endDate.getTime() > todayDate.getTime())
			{
				endDate=todayDate;
			}
			if (endDate.getTime() <  startDate.getTime())
			{
				endDate=startDate;
			}

			if(previousMaxDate != false && previousMaxDate < startDate)
			{
				$('#datetimepicker2').data("DateTimePicker").maxDate(endDate);
				$('#datetimepicker2').data("DateTimePicker").minDate(startDate);	
			}
			else
			{
				$('#datetimepicker2').data("DateTimePicker").minDate(startDate);	
				$('#datetimepicker2').data("DateTimePicker").maxDate(endDate);		
			}
			$('#datetimepicker2').data("DateTimePicker").date(endDate);
			$('#statGrapheType_dateCreationFin').attr("readonly", false);
		}
	});
	
	textePrepend ='{{"periode"|trans}} : {{dateDebut|localizeddate("none", "none", locale, null, "MMMM y")}} - {{dateFin|localizeddate("none", "none", locale, null, "MMMM y")}}';
	texteAppend = '{{"de"|trans}} {{dateDebut|localizeddate("none", "none", locale, null, "MMMM y")}} {{"a"|trans}} {{dateFin|localizeddate("none", "none", locale, null, "MMMM y")}}';
}
else if("{{typePlage}}"==3)
{
	var placeholder = '{{"placeholder.annee"|trans}}';
	
	$('#datetimepicker1').datetimepicker({locale: '{{locale}}', format: 'YYYY', viewMode: 'years', maxDate : 'now'});
	$('#statGrapheType_dateCreationDebut').attr('placeholder', placeholder);
	
	$('#datetimepicker2').datetimepicker({locale: '{{locale}}', format: 'YYYY', viewMode: 'years', maxDate : 'now'});
	$('#statGrapheType_dateCreationFin').attr('placeholder', placeholder);
	
	$('#statGrapheType_dateCreationFin').attr("readonly", true);
	
	$("#datetimepicker1").on("dp.change", function (e) {
		if(e.date)
		{
			todayDate = new Date();
			startDate = new Date(e.date);
			$('#datetimepicker2').data("DateTimePicker").minDate(startDate);
			$('#datetimepicker2').data("DateTimePicker").date(startDate);
			$('#statGrapheType_dateCreationFin').attr("readonly", false);			
		}
	});
	
	var dateDebut = {{dateDebut|json_encode()|raw}}.substring(6,10);
	
	var dateFin = {{dateFin|json_encode()|raw}}.substring(6,10);
	
	textePrepend ='{{"periode"|trans}} : '+dateDebut+' - '+dateFin;
	texteAppend = '{{"de"|trans}} '+dateDebut+' {{"a"|trans}} '+dateFin;
}


var tab = {{tabResult|json_encode()|raw}};
var tab2 = {{tabResult2|json_encode()|raw}};

if ("{{typePlage}}" == 3 && "{{typeGraphe}}" == "scatter") 
{
	$('#container1').highcharts({
	chart: {
		type: 'scatter'
	},
	title: {   
		text: '{{"nbr_entreprise_crees_par_origine"|trans|e('js') }}'
	},
	subtitle: {
		text: '<a href="#">{{"du"|trans}} {{dateDebut|localizeddate("none", "none", locale, null, "dd MMMM y")}} {{"au"|trans}} {{dateFin|localizeddate("none", "none", locale, null, "dd MMMM y")}}</a>'
	},
	xAxis: {
		type: 'category',
		labels: {
			rotation: 0,
			align: 'center',
			style: {
				fontSize: '8px',
				fontFamily: 'Verdana, sans-serif'
			}
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: '{{"message_nbr_entreprises"|trans|e('js') }}'
		}
	},
	legend: {
		enabled: true
	},
	tooltip: {
		pointFormat: '{{"message_nbr_entreprises"|trans|e('js') }}: <b>{point.y:.0f} </b>',
	},
	//colors: ['#269abc','#8926bc','#97bc26','#1000ff','#0100ff','#e83b3b'],
	plotOptions: {
		column: {
            dataLabels: {
                enabled: true,
				formatter: function() {
						if(this.y != 0) {
							return this.y;
						}   
                    },
            },
			colorByPoint: true,
            enableMouseTracking: true,
			showInLegend: true
        },	
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true
        },
		pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
					formatter: function() {
						if(this.y != 0) {
							return Math.round(this.percentage*100)/100 + ' %';
						}   
                    },

					
					
                    distance: -30,
					color:'white',
					fontSize: '14px',
					style: {
						textShadow: '1px 1px 2px black'
					}
                },
                showInLegend: true
            }
    },
	tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					'<td style="padding:0"><b>{point.y}</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
		series: [{
				name: '{{"message_nbr_entreprises"|trans|e('js') }} {{dateDebut|localizeddate("none", "none", locale, null, "y")}} ',
				data: tab,
				color: "#FF5733",
				dataLabels: {
					enabled: true,
					color: "#FF5733",
					rotation: 0,
					//color: Highcharts.getOptions().colors[1],
					align: 'center',
					x: 10,
					y: 0,
					style: {
						fontFamily: 'Verdana, sans-serif',
					}
				}
			},
			{
				name: '{{"message_nbr_entreprises"|trans|e('js') }} {{dateFin|localizeddate("none", "none", locale, null, "y")}}',
				data: tab2,
				color: "#0099ff",
				dataLabels: {
					enabled: true,
					rotation: 0,
					//color: Highcharts.getOptions().colors[1],
					align: 'center',
					color: "#0099ff",
					x: -10,
					y: 0,
					style: {
						fontFamily: 'Verdana, sans-serif',
					}
				}
			}]
	});
	
}
else
{
	$('#container1').highcharts({
	chart: {
		type: '{{typeGraphe}}'
	},
	title: {
		text: '{{"nbr_entreprise_crees_par_origine"|trans|e('js') }}'
	},
	subtitle: {
		text: '<a href="#">{{"du"|trans}} {{dateDebut|localizeddate("none", "none", locale, null, "dd MMMM y")}} {{"au"|trans}} {{dateFin|localizeddate("none", "none", locale, null, "dd MMMM y")}}</a>'
	},
	xAxis: {
		type: 'category',
		labels: {
			rotation: 0,
			align: 'center',
			style: {
				fontSize: '8px',
				fontFamily: 'Verdana, sans-serif'
			}
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: '{{"message_nbr_entreprises"|trans|e('js') }}'
		}
	},
	legend: {
		enabled: true,
		
		borderWidth: 0,
		labelFormatter: function() {
			return '<span style="color:#000000,font-size:12px !important;"><b>'+ this.name + '</b></span><br/><span style="color:#000000,font-size:12px !important;">'+this.y+'</span>'; 
		},				   

		useHTML: true

								
	},

						
	tooltip: {
		pointFormat: '{{"message_nbr_entreprises"|trans|e('js') }}: <b>{point.y:.0f} </b>',
	},
	//colors: ['#269abc','#8926bc','#97bc26','#1000ff','#0100ff','#e83b3b'],
	plotOptions: {
		column: {
            dataLabels: {
                enabled: true,
				formatter: function() {
						if(this.y != 0) {
							return this.y;
						}   
                    },
            },
			colorByPoint: true,
            enableMouseTracking: true,
			showInLegend: false
        },	
        scatter: {
            dataLabels: {
                enabled: true
            },
			showInLegend: false,
            enableMouseTracking: true
        },
		pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
					formatter: function() {
						if(this.y != 0) {
							return Math.round(this.percentage*100)/100 + ' %';
						}   
                    },
                    distance: 30,
					color:'black',
					fontSize: '14px',
					style: {
						textShadow: '1px 1px 2px white'
					}
                },

                showInLegend: true
            }
    },
		series: [{
				name: '{{"message_nbr_entreprises"|trans|e('js') }}',
				data: tab,
				//color: Highcharts.getOptions().colors[7],
				//colorByPoint: true,
				//color: Highcharts.getOptions().colors[10],
				dataLabels: {
					enabled: true,
					rotation: 0,
					//color: Highcharts.getOptions().colors[1],
					align: 'center',
					x: 0,
					y: 0,
					style: {
						fontFamily: 'Verdana, sans-serif',
					}
				}
			}]
	});


}
	
	
	/*
	var chart = $('#container1').highcharts();
    var opt = chart.series[0].options;
	if('{{typeGraphe}}'=='pie')
	{
		opt.dataLabels.enabled = !opt.dataLabels.enabled;
		chart.series[0].update(opt);
	}
	*/


});

</script>

{% endblock %}	
