{% extends '::base.html.twig' %}
{%block title%}{%trans%}titre_statistique{%endtrans%}{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{asset('js/exportdatatable/buttons.dataTables.min.css') }}" />
<link rel="stylesheet" href="{{asset('js/exportdatatable/jquery.dataTables.min.css') }}" />
			
    <div class="col-md-12" style="margin:0 0 20px 0">
        <div>
            <form method="POST" {{ form_enctype(form) }}>
                <div class="row">
                    <div class="form-group col-sm-2" style="min-width:175px">
                        <label>{%trans%}date_debut_creation{%endtrans %}</label>                                
                        <div class="input-group date" id="datetimepicker1">
                            {{ form_widget(form.dateCreationDebut, {'attr': {'class': 'datepicker1 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="min-width:175px">
                        <label>{%trans%}date_fin_creation{%endtrans %}</label> 
                        <div class="input-group date" id="datetimepicker2">
                            {{ form_widget(form.dateCreationFin, {'attr': {'class': 'datepicker2 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div style="margin-top:25px">
                        <button type="submit"  class="btn btn-info" >{%trans%}valider{%endtrans %} </button>
                    </div>                   
                </div>
                {{ form_rest(form) }} 
            </form>
            <br/>
            <br/>
            <br/>
            <div id="container3" style="margin: 0 auto"></div>
            <br/> 
            <div id="container4" style=" margin: 0 auto"></div>        
        </div>


        <div class="panel-body table-responsive">
            <table id="typesEntreprisesFormeLegale" class=" table-striped table table-bordered" >
                <thead>
                    <tr>
                        <th>{%trans%}forme_juridique{%endtrans%}</th>
                        <th>{%trans%}message_nombre_entreprise_cree{%endtrans%}</th>                                                    
                    </tr>
                </thead>
                {% for tab in tabSerie %}
                    <tr>
                        <td>{{ tab["name"] }}</td> 
                        {% set total = 0 %}
                        {% for data in tab["data"] %}
                            {% set total = total+data %}
                        {% endfor%}							
                        <td>{{ total }}</td>   										
                    </tr>   
                {% endfor %}
            </table> 		

        </div>  


        <div class="panel-body table-responsive">                       
            <table id="typesEntreprisesSecteur" class=" table-striped table table-bordered" >
                <thead>
                    <tr>
                        <th>{%trans%}secteur_activite{%endtrans%}</th>
                        <th>{%trans%}message_nombre_entreprise_cree{%endtrans%}</th>                                                    
                    </tr>
                </thead>
                {% for tab in tabSerieSecteur %}
                    <tr>
                        <td>{{ tab["name"] }}</td> 
                        {% set total = 0 %}
                        {% for data in tab["data"] %}
                            {% set total = total+data %}
                        {% endfor%}							
                        <td>{{ total }}</td>   										
                    </tr>   
                {% endfor %}
            </table> 		

        </div>  


    </div>
    <br/>

{% endblock %}

{%block javascripts%}
    {{parent()}}        
	
	<script src="{{asset('js/exportdatatable/jquery-1.12.3.js')}}"></script>	 
	<script src="{{asset('js/exportdatatable/jquery.dataTables.min.js')}}"></script>		 
	<script src="{{asset('js/exportdatatable/jszip.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/pdfmake.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/vfs_fonts.js')}}"></script>		 
	<script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
	<script type="text/javascript" src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>		
	<script src="{{asset('js/exportdatatable/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/buttons.html5.min.js')}}"></script>
	
    <script src="{{asset('js/highcharts.js')}}" charset="utf-8"></script>
    <script src="{{asset('js/modules/exporting.js')}}" charset="utf-8"></script>
    <script src="{{asset('js/highcharts-3d.js')}}" charset="utf-8"></script>

    <script type="text/javascript">
        $(function () {

            var tab = {{tabCategorie|json_encode()|raw}};
                    var tabSerie = {{tabSerie|json_encode()|raw}};
                    //alert(tabSerie);

                    $('#container3').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{ "message_nbr_entreprise_par_forme_juridique"|trans|e('js') }}'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: tab
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{{ "message_nbr_entreprises"|trans|e('js') }}'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.0,
                        borderWidth: 0
                    }
                },
                series: tabSerie
            });
        });

    </script>


    <script type="text/javascript">
        $(function () {

            var tabSerie = {{tabSerieSecteur|json_encode()|raw}};
                    $('#container4').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{{ "message_nbr_entreprise_par_secteur_activite"|trans|e('js') }}'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: ['{{ "message_secteur_activite"|trans|e('js') }}'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{{ "message_nbr_entreprises"|trans|e('js') }}',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ''
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 0,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: tabSerie
            });
			
			
        });

        $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

        $('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
		
		
		
		var buttonCommon = {exportOptions: {format: {body: function ( data, column, row, node ) {
                    return  data;
                }
            }
        }
    };
	
	
		
			$('#typesEntreprisesFormeLegale').DataTable( {  "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                },
				"bPaginate": true,"bInfo" : true,

        dom: 'Bfrtip',
        buttons: [
            $.extend( true, {}, buttonCommon, {
                extend: 'excelHtml5',
				title: 'entreprises'
            }),
            $.extend( true, {}, buttonCommon, {
                extend: 'pdfHtml5',
				title: 'entreprises'
            })
        ]
    });
	
	
	
	$('#typesEntreprisesSecteur').DataTable( {  "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                },
				"bPaginate": true,"bInfo" : true,

        dom: 'Bfrtip',
        buttons: [
            $.extend( true, {}, buttonCommon, {
                extend: 'excelHtml5',
				title: 'entreprises'
            }),
            $.extend( true, {}, buttonCommon, {
                extend: 'pdfHtml5',
				title: 'entreprises'
            })
        ]
    });

    </script>

{%endblock%}