{% extends 'base.html.twig' %}
{% block title %} {%trans%}edit_utilisateurs_titre{%endtrans%}{% endblock%}
{% block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':5})) }}

{% endblock %}
{% block body %}
    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('error') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}edit_utilisateurs_titre{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{path('utilisateurs_index')}}">{%trans%}utilisateurs{%endtrans%}</a>
                            </li>
                            <li>{{'modification'|trans}}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">  

                <div class="row col-lg-10">
                    <section>
                        <div class="wizard">
                            <ul class="nav nav-wizard">
                                <li class="active">
                                    <a href="#step1" data-toggle="tab">{%trans%}informations_personnelles_titre{%endtrans%}</a>
                                </li>

                                <li >
                                    <a href="#step2" data-toggle="tab">{%trans%}identifiants_utilisateur_titre{%endtrans%}</a>
                                </li>
                            </ul>
                            {{form_start(form, {'method': 'POST', 'action': path('utilisateurs_edit',{'id':utilisateur.id}), 'attr': {'class': 'fos_user_registration_register',novalidate: 'novalidate'}}) }}

                            <div class="tab-content">
                                <div class="tab-pane active" id="step1">
                                    <h3>{{'informations_personnelles_titre'|trans}}</h3>
                                   
                                    <div class="form-group">
                                        {{ form_label(form.nom,'nom' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.nom,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}			
                                    </div>	
                                    <div class="form-group">
                                        {{ form_label(form.prenom,'prenom' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.prenom,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}			
                                    </div>	
                                    <div class="form-group ">
                                        {{ form_label(form.dateNaissance,'date_naissance' |trans) }} 
                                        {{ form_errors(form.dateNaissance) }} 
                                        <div class='input-group date' id='datetimepicker1'>
                                            {{ form_widget(form.dateNaissance,{'attr': {'class': 'form-control'}}) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.lieuNaissance,'utilisateur.lieu' |trans) }} 
                                        {{ form_errors(form.lieuNaissance,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.lieuNaissance, {'attr': {'class': 'form-control'}}) }}			
                                    </div>	                                                                       
                                    <div class="form-group">
                                        {{ form_label(form.telephone,'utilisateur.telephone' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.telephone,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}			
                                    </div>                                  	
                                    {#<div class="form-group">
                                        {{ form_label(form.regionResidence,'region' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.regionResidence,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.regionResidence, {'attr': {'class': 'form-control'}}) }}			
                                    </div>	
                                    <div class="form-group">
                                        {{ form_label(form.prefecture,'prefecture' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.prefecture,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.prefecture, {'attr': {'class': 'form-control'}}) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.sousPrefecture,'sousPrefecture' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.sousPrefecture,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.sousPrefecture, {'attr': {'class': 'form-control'}}) }}			
                                    </div>	
                                    <div class="form-group">
                                        {{ form_label(form.adresse) }} 
                                        {{ form_errors(form.adresse,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}			
                                    </div>#}


                                </div>
                                <div class="tab-pane" id="step2">
                                    <div class="form-group">
                                        {{ form_label(form.email,'email' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.email,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}			
                                    </div>	
                                    <div style="" class="form-group">
                                        {{ form_label(form.username,'utilisateur.username' |trans ~ ' (*)') }} 
                                        {{ form_errors(form.username,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}			
                                    </div>

                                    <div style="" class="form-group">
                                        {{ form_label(form.pole) }} 
                                        {{ form_errors(form.pole,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.pole, {'attr': {'class': 'form-control'}}) }}			
                                    </div>
                                    <div style="" class="form-group">
                                        {{ form_label(form.profile) }} 
                                        {{ form_errors(form.profile,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.profile, {'attr': {'class': 'form-control'}}) }}			
                                    </div>
                                    <div style="" class="form-group">
                                        {{ form_label(form.entreprise) }} 
                                        {{ form_errors(form.entreprise,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}			
                                    </div>
                                    <div style="" class="form-group">
                                        {{ form_label(form.enabled) }} 
                                        {{ form_errors(form.enabled,{'attr':{'class':'alert alert-danger'}}) }} 											
                                        {{ form_widget(form.enabled, {'attr': {'class': 'form-control'}}) }}			
                                    </div>


                                </div>

                                <div class="clearfix"></div>
                                <div class="row">
                                    <input class="btn btn-success col-md-2" type="submit" id="_submit" name="_submit" value="{{ 'enregistrer'|trans }}" />


                                    {{ form_end(form) }}
                                    {#{ form_start(delete_form) }}
                                    <input type="submit" value="{{'supprimer'|trans}}" class="btn btn-danger col-md-offset-7">
                                    {{ form_end(delete_form) }#}
                                </div>


                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </section>
                </div>

            </div>
            <hr>
            <a href="{{ path('utilisateurs_index') }}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp; {%trans%}retour{%endtrans%}
            </a>



        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javaScript">
        $(function(){	
        //Wizard


        $('#poles').prepend("<option value='-1'></option>");

        $('#utilisateurs_paysResidence').prepend("<option value='-1'>{{'message.selectionner.pays'| trans}}</option>");





        //Wizard
        $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

        $('#utilisateurs_paysResidence').change(function () {
        $('.loading').show();
        $('#utilisateurs_departement').empty();
        if($(this).val() != -1)
        {

        $.ajax({
        url: "{{ path('charge_region') }}",
        type: 'POST',
        data: {idpays: $(this).val()},
        success: function (data) {


        $('#utilisateurs_regionResidence').empty();
        $('#utilisateurs_regionResidence').val(null);
        $('#utilisateurs_regionResidence').append("<option value='-1'>{{'message.selectionner.region'| trans}}</option>");

        for (var i in data.retour)
        {
        $('#utilisateurs_regionResidence').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
        }
        $('.loading').hide();
        }
        ,
        error: function () {
        }
        });

        }
        else
        {
        $('.loading').hide();
        $('#utilisateurs_regionResidence').empty();
        $('#utilisateurs_regionResidence').val(null);
        $('#utilisateurs_departement').empty();
        $('#utilisateurs_departement').val(null);
        }

        });


        $('#utilisateurs_regionResidence').change(function () {
        $('.loading').show();


        if($(this).val() != -1)
        {	

        $.ajax({
        url: '{{ path("charge_departement") }}',
        data: {region: $('#utilisateurs_regionResidence').val()}, // on envoie $_GET['id_region']	
        dataType: 'json',
        type: 'POST',
        success: function (donnee) {
        $('#utilisateurs_departement').empty();
        $('#utilisateurs_departement').val(null);
        $('#utilisateurs_departement').append("<option value='-1'>{{'message.selectionner.departement'| trans}}</option>");
        for (var i in donnee.retour)
        {
        $('#utilisateurs_departement').append("<option value=" + donnee.retourId[i] + ">" + donnee.retour[i] + "</option>");
        }
        $('.loading').hide();

        },
        error: function () {
        }
        });

        }
        else
        {
        $('.loading').hide();

        $('#utilisateurs_departement').empty();
        }
        });
        var poles = $('#poles');
        var profil = $('#profil');


        });

    </script>
    <script>
                $("#frmUtilisateur_regionResidence").change(function () {
                    $('.loading').show();
                    var idR = $(this).val();
                    $("#frmUtilisateur_prefecture").children().remove();
                    //$("#frmPrefecture_departement").children().remove();
                    if (idR !== "") {
                        $.ajax({
                            url: "{{path('charger_prefecture')}}",
                            type: "POST",
                            dataType: 'json',
                            data: {idR: $(this).val()},
                            success: function (data) {
                                $('#frmUtilisateur_prefecture').prepend("<option value=''>{{'select'|trans}}</option>");
                                for (var i in data.retour) {
                                    $('#frmUtilisateur_prefecture').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                                }
                                $('.loading').hide();
                            },
                            error: function () {
                                alert('erreur');
                            }
                        });
                    } else {
                        $('.loading').hide();
                        return;
                    }
                });

                $("#frmUtilisateur_pole").change(function () {
                    $('.loading').show();
                    var idP = $(this).val();

                    $("#frmUtilisateur_profile").children().remove();
                    $("#frmUtilisateur_entreprise").children().remove();
                    if (idP !== "") {
                        $.ajax({
                            url: "{{path('charger_profil')}}",
                            type: "POST",
                            dataType: 'json',
                            data: {idP: $(this).val()},
                            success: function (data) {
                                $('#frmUtilisateur_profile').prepend("<option value=''>{{'select'|trans}}</option>");
                                for (var i in data.retour) {
                                    $('#frmUtilisateur_profile').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                                }
                                $('.loading').hide();
                            },
                            error: function () {
                                alert('erreur');
                            }
                        });
                        $.ajax({
                            url: "{{path('charger_entreprise')}}",
                            type: "POST",
                            dataType: 'json',
                            data: {idP: $(this).val()},
                            success: function (data) {
                                $('#frmUtilisateur_entreprise').prepend("<option value=''>{{'select'|trans}}</option>");
                                for (var i in data.retour) {
                                    $('#frmUtilisateur_entreprise').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                                }
                                $('.loading').hide();
                            },
                            error: function () {
                                alert('erreur');
                            }
                        });
                    } else {
                        $('.loading').hide();
                        return;
                    }
                });

                $("#frmUtilisateur_prefecture").change(function () {
                    $('.loading').show();
                    var idP = $(this).val();
                    $("#frmUtilisateur_sousPrefecture").children().remove();
                    if (idP !== "") {
                        $.ajax({
                            url: "{{path('charger_sousPrefecture')}}",
                            type: "POST",
                            dataType: 'json',
                            data: {idP: $(this).val()},
                            success: function (data) {
                                $('#frmUtilisateur_sousPrefecture').prepend("<option value=''>{{'select'|trans}}</option>");
                                for (var i in data.retour) {
                                    $('#frmUtilisateur_sousPrefecture').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                                }
                                $('.loading').hide();
                            },
                            error: function () {
                                alert('erreur');
                            }
                        });
                    } else {
                        $('.loading').hide();
                        return;
                    }
                });

            </script>
{% endblock%}

