{% extends "::base.html.twig" %}
{% block title %}{%trans%}titre_page_ajout_pays{%endtrans%}{% endblock %}

{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock%}
{% block body%}
    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}titre_page_ajout_pays{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('pays_index') }}">{{'pays'|trans}}</a>
                            </li>
                            <li><i></i>{%trans%}ajout{%endtrans%}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form method="POST" style = "width:70%;margin:auto;" >
                    <div class = "form-group">
                        <label>{{'code_pays'|trans}}</label>
                        {%if resultat==-2%}<div class="alert alert-warning">{{'message_renseigner_code_pays'|trans}}</div>
                        {%elseif resultat==-3%} <div class="alert alert-warning">{{'message_code_pays_existe'|trans}}</div>{%endif%}
                        <input placeholder = "{{'pays.code'|trans}}" maxlength="2" name = "code_pays" class = "form-control" required/>	
                    </div>
                    {%if langues|length==0%}
                        <div class="alert alert-info">{%trans%}alert_parametrage_langue{%endtrans%}</div>
                    {%else%}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'langue' |trans}}</th>
                                    <th>{{'nom'|trans}}</th>
									<th>{{'nationalite'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for langue in langues %}
                                    <tr>
                                        <td>{{ langue.libelle|trans }}</td>
                                        <td>
                                            <input placeholder = "{{'nom'|trans}}" maxlength="100" name = "libelle_{{ langue.libelle }}" required class = "form-control"/>
                                            
                                        </td>
										<td>
                                            <input placeholder = "{{'nationalite'|trans}}" maxlength="100" name = "nationalite_{{ langue.libelle }}" required class = "form-control"/>
                                            <input type = "hidden" name = "langue" value = "{{ langue.libelle }}" class = "form-control" required/>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><label>{%trans%}est_pays_par_defaut{%endtrans%}</label>&nbsp;<input type="checkbox" name="residence_pays" value="1"/></td>
                                    <td>
                                        <input class = "btn btn-success" type = "submit" value = "{{'enregistrer'|trans}}" />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    {%endif%}
                </form>					
            </div>
        </div>
    </div>
{% endblock %}
