{% extends '::base.html.twig' %}



{% block body %}
    <div class="col-lg-12">
        <div class="hpanel">  
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}document_collecter{%endtrans%} <label class="pull-right h4" style="color: #d44" >{%trans%}message_dossier_numero{%endtrans%} {{dd.numeroDossier}}</label>
                        </h1>
                        {% block sousMenu %}
                            {{ render(controller("BanquemondialeBundle:Shared:etapeCreationPole",{'idd':idd})) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>   

        <div class="panel-body">

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th> 
                        <th>{%trans%}pole{%endtrans%}</th>
                        <th>{%trans%}ordre{%endtrans%}</th>                                       
                    </tr>
                </thead>

                {% for doc in listDocForCollect %}
                    <tr>
                        <td>
                            <input type="checkbox" class="cocher"  name="checkbox[{{loop.index}}]" checked="true" />
                        </td>
                        <td>{{ doc.pole.nom }}</td> 
                        <td>{{ doc.ordre }}</td>  

                    </tr>            
                {% endfor %}

            </table>
            <div class="row pull-right">

                {% if routeAvant %}<input class="btn btn-primary btn-goto" style="width: 100px" value="{{'precedent'|trans}}" type="button" data-url="{{path(routeAvant,{'idd':idd})}}" />{% endif %}
                {% if rteSuivant %}<input class="btn btn-info btn-goto" style="width: 100px" value="{{'suivant'|trans}}" type="button" data-url="{{path(rteSuivant,{'idd':idd})}}" />{% endif %}
            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(".btn-goto").click(function () {
            var url = $(this).attr('data-url');
            window.location.href = url;
        });
    </script>
{%endblock %}   