{% extends "::base.html.twig" %}
{% block title %}{%trans%}ajouter_un_categorie{%endtrans%}{% endblock %}

{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock%}
{% block body%}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           {%trans%}ajouter_categorie{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('categorie_index') }}">{%trans%}categories_activite{%endtrans%}</a>
                            </li>
                            <li><i></i>{%trans%}ajout{%endtrans%}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form method="POST" style = "width:70%;margin:auto;" >
                    <div class = "form-group">
                        <label>{{'code'|trans}}</label>
                        {%if resultat==-2%}<div class="alert alert-warning">{{'renseigner_categorie'|trans}}</div>
                        {%elseif resultat==-3%} <div class="alert alert-warning">{{'categorie_existe_deja'|trans}}</div>{%endif%}
                        <input placeholder = "{{'code'|trans}}" name = "code_categorie" class = "form-control" required/>	
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'langue' |trans}}</th>
                                <th>{{'libelle'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for langue in langues %}
                                <tr>
                                    <td>{{ langue.libelle }}</td>
                                    <td>
                                        <input placeholder = "{{'libelle'|trans}}" name = "libelle_{{ langue.libelle }}" required class = "form-control"/>
                                        <input type = "hidden" name = "langue" value = "{{ langue.libelle }}" class = "form-control" required/>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>
                                    <input class = "btn btn-success" type = "submit" value = "{{'enregistrer'|trans}}" />
									
									 <a href="{{ path('categorie_index') }}" class="btn btn-default">{%trans%}retour{%endtrans%}</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>					
            </div>
        </div>
    </div>


{% endblock %}
