{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <label>{%trans%}forme juridique(*){%endtrans %} </label>
            {{ form_widget(form.formeJuridiqueTraduction, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.formeJuridiqueTraduction, {'attr': {'class': 'form-control'}}) }}

            <label>{%trans%}Libelle(*){%endtrans %} </label>
            {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.libelle, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div  class="col-md-6">
            <label>{%trans%}Montant(*){%endtrans %} </label>
            {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.amount, {'attr': {'class': 'form-control'}}) }}

            <label>{%trans%}Valeur Numerique(*){%endtrans%}</label>
            {{ form_widget(form.nombre, {'attr': {'class': 'form-control input-sm','placeholder':'Votre prénom'}}) }}
            {{ form_errors(form.nombre, {'attr': {'class': 'form-control'}}) }}

            <br>
            <a href="{{ path('periodereservation_index') }}">  <button type="button" class="btn btn-warning" >Annuler</button></a>
            <button type="submit" class="btn btn-success" >Modifier</button>
        </div>


    </div>

{% endblock %}
