{% extends 'base.html.twig' %}
{% block body %}
    <div class="">
        <h2> Liste des périodes par formes juridiques</h2>
        <ul class="nav nav-tabs">
            {% for f in formj %}
                <li {% if loop.index==1 %}class="active"{% endif %}><a data-toggle="tab"
                                                                       href="#menu{{ loop.index }}">{{ f.sigle }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for f in formj %}
                <div id="menu{{ loop.index }}" {% if loop.index==1 %}class="tab-pane fade in active"
                     {% else %}class="tab-pane fade"{% endif %}>
                    <h3>{{ f.libelle }}</h3>
                   <div class="table-responsive">
                       <table  class="table table-bordered table-responsive table-condensed table-striped">
                           <thead>
                           <tr>
                               <th>N&deg;</th>
                               <th>Libelle</th>
                               <th>Montant</th>
                               <th>Actions</th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for p in periodeReservations %}
                               {% if p.formeJuridiqueTraduction==f %}
                                   <tr>
                                       <td>{{ p.nombre }}</td>
                                       <td>{{ p.libelle }}</td>
                                       <td>{{ p.amount }}</td>
                                       <td>
                                         <div class="btn-group pull-right">
                                             <form method="post" action="{{ path('periodereservation_delete',{'id': p.id}) }}"
                                                   onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                                                 <input type="hidden" name="_method" value="DELETE">
                                                 <input type="hidden" name="_token"
                                                        value="{{ csrf_token('delete' ~ p.id) }}">
                                                 <button   class="btn btn-danger btn-xs">Supprimer</button>
                                                 <a href="{{ path('periodereservation_edit', { 'id': p.id }) }}"> <button type="button"  class="btn btn-info btn-xs">Modifier</button></a>
                                             </form>



                                         </div>
                                       </td>
                                   </tr>
                               {% endif %}
                           {% endfor %}
                           </tbody>
                       </table>
                   </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
