{% extends "::base.html.twig" %}

{% block title %}{%trans%}gerer_poles{%endtrans%}{% endblock %}
{% block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{% endblock %}
{% block body %}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}gerer_poles{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>                            
                            <li>
                                <i>{%trans%}pole{%endtrans%}</i>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">


                <div class="col-lg-12">
                    <div class="panel-body">
                        <form id="frmPole" name="frmPole" action="{{path('ajouter_pole',{'idP':id})}}" method="POST" {{ form_enctype(form) }}>                        
                            <div class="row">
								<input type="hidden" name="id" id="id" value="{{ id }}" />
                                <div class="form-group col-sm-4">
                                    <label>{%trans%}pole{%endtrans%}</label> 
                                    {{ form_errors(form.nom,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
								<div class="form-group col-sm-4">
                                    <label>{%trans%}sigle{%endtrans%}</label> 
                                    {{ form_errors(form.sigle,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                    {{ form_widget(form.sigle, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>{%trans%}adresse{%endtrans%}</label> 
                                    {{ form_errors(form.adresse,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                </div>
								
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="btn-group">
                                    <div >
									{%if id==0 %}
                                        <input id="save" name="save" style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{{'enregistrer'|trans}}"/>                            
                                    {% else %}
										<input id="update" name="update" style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{{'modifier'|trans}}"/>
										&nbsp;&nbsp;&nbsp;&nbsp;<input id="cancel" name="cancel" style = "width:100px;" class = "btn btn-cancel form-control col-sm-3" type = "button" value = "{{'annuler'|trans}}"/>
									{% endif %}
									</div>
                                  {#  <div class="col-sm-2">
                                        <input style = "width:100px;" class = "btn btn-success" id="btnSearch" type = "submit" value = "{{'search'|trans}}" />                            
                                    </div>  #}                      
                                </div>                    
                            </div>
                            {{ form_rest(form) }}        
                        </form>

                    </div>
                </div>
                <div class="table-responsive" style="width:100%">
                    <table id="poles" class="table  table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{%trans%}pole{%endtrans%}</th>
                                <th>{%trans%}sigle{%endtrans%}</th>
								<th>{%trans%}adresse{%endtrans%}</th>

                            </tr>
                        </thead>
                        {% for p in listePoles%}
                            <tr>
                                <td style="white-space:nowrap;"><a href="{{path('ajouter_pole',{'idP':p.id})}}" title="{{'modifier'|trans}}" class=""><span class='fa fa-pencil'></span></a> |
								{%if p.actif %}
									<a href="#" title="{%trans%}desactiver{%endtrans%}"><i class="fa fa-remove desactiverPole"  data-id="{{p.id}}"></i></a>
								{% else %}																	
									<a href="#" title="{%trans%}activer{%endtrans%}"><i class="fa fa-check activerPole" data-id="{{p.id}}"></i></a>
								{% endif %}	                                    
                                </td>
                                <td>{{ p.nom|trans}}</td>
                                <td>{{ p.sigle }}</td>
								<td>{{ p.adresse|trans }}</td>

                            </tr>            
                        {% endfor %}
                    </table>
                    <!--a href = "{{ path('champ_pole') }}" style = "width:100px;" class = "btn btn-warning form-control col-md-offset-7 col-sm-1">{%trans%}suivant{%endtrans%}</a-->
                </div>
            </div></div></div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $("#btnSearch").click(function () {
            $("#frmPole").attr("action", "{{ path('searchPole') }}");
            $("#frmPole").submit();
        });

        $(".deletePole").click(function () {
            var url = $(this).attr("data-url");
            swal({
                title: "{{'message_confirmation'|trans}}",
                text: "{{'message_confirmer_suppression'|trans}}",
                showCancelButton: true,
                confirmButtonColor: "#3f5872",
                cancelButtonText: "{{'annuler'|trans}}",
                confirmButtonText: "{{'confirm_suppression'|trans}}",
            },
                    function () {

                        window.location.replace(url);
                    });
        });
		
		$('.desactiverPole').click(function(){
		var poleId = '';
		poleId = $(this).attr('data-id');
		var url = '{{ path("supprimer_pole",{"idP":"poleid"} ) }}'; 
		
					swal({
					title: "{{'message_confirmer_desactivation_titre'|trans}}",
					text: "{{'message_confirmer_desactivation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_desactivation'|trans}}",		
					},
					function () {
					url = url.replace("poleid", poleId );
					window.location.replace(url);
					});
			});
			
		$('.activerPole').click(function(){
		var poleId = '';
		poleId = $(this).attr('data-id');
		var url = '{{ path("activer_pole",{"idP":"poleId"} ) }}'; 
		
					swal({
					title: "{{'message_confirmation'|trans}}",
					text: "{{'message_confirmer_activation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_activation'|trans}}",		
					},
					function () {
					url = url.replace("poleId", poleId );
					window.location.replace(url);
					});
			});
		
		
		$('#poles').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]], "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }});
				
				

    </script>
	{%if id!=0 %} 
		<script>               
		$(function () 
		{                              
			document.getElementById("cancel").onclick = function ()                        
			{
						location.href = "{{ path('ajouter_pole') }}";
		   };        
		})            
		</script>             
	{% endif %}

{% endblock %}