{% extends "::base.html.twig" %}

{% block title %}{%trans%}message_titre_circuit{%endtrans%}{% endblock %}

{% block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{% endblock%}


{% block body %}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}message_titre_circuit{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li><i></i><a href="{{path('definirCircuit')}}">{%trans%}circuit{%endtrans%}</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            {% for message in app.session.flashbag.get('info') %}            
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %} 
            <div class="col-lg-12">
                <div class="panel-body">            
                    <form name="frmCircuit" id="frmCircuit" method="POST" action="{{path('definirCircuit',{'idC':idC})}}" {{ form_enctype(form) }}>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>{%trans%}type_operation{%endtrans%}</label>
                                {{ form_errors(form.typeOperation,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.typeOperation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{%trans%}forme_juridique{%endtrans%}</label>
                                {{ form_errors(form.formeJuridique,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{%trans%}type_dossier{%endtrans%}</label>
                                {{ form_errors(form.typeDossier,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.typeDossier, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row">                
                            <div class="form-group col-sm-4">
                                <label>{%trans%}pole{%endtrans%}</label> 
                                {{ form_errors(form.pole,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.pole, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{%trans%}ordre{%endtrans%}</label>
                                {{ form_errors(form.ordre,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.ordre, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="btn-group">
                                <div >
                                    <input style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{{'enregistrer'|trans}}"/>                            
                                </div>
                                <div class="col-sm-2">
                                    <input style = "width:100px;" class = "btn btn-success" id="btnSearch" type = "button" value = "{{'search'|trans}}" />                            
                                </div>                        
                            </div>                    
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
            <div class="table-responsive" style="width:100%">
                <table id ="circuits" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{%trans%}type_operation{%endtrans%}</th>
                            <th>{%trans%}forme_juridique{%endtrans%}</th>
                            <th>{%trans%}pole{%endtrans%}</th>
                            <th>{%trans%}type_dossier{%endtrans%}</th>
                            <th>{%trans%}ordre{%endtrans%}</th>
                        </tr>
                    </thead>
                    {% for ci in listeCircuit%}
                        <tr>
                            <td><a href="{{path('definirCircuit',{'idC':ci.id})}}" title="{{'modifier'|trans}}" class=""><span class='glyphicon glyphicon-pencil'></span></a> |
                                <a href="#" data-idC="{{ci.id}}" title="{{'supprimer'|trans}}" class="deleteCircuit"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                            <td>{{ ci.libbelleTypeOp}}</td>
                            <td>{{ ci.libbelleFormeJ }}</td>
                            <td>{{ ci.poleName|trans}}</td>
                            <td>{{ci.typeDossier}}</td>
                            <td>{{ ci.ordre }}</td>
                        </tr>            
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(function () {


            $("#btnSearch").click(function () {
                $("#frmCircuit").attr("action", "{{ path('searchCircuit') }}");
                $("#frmCircuit").submit();
            });

            $(".deleteCircuit").click(function () {
                var idCircuit = $(this).attr("data-idC");
                var url = '{{ path("supprimer_Circuit",{"idC":"idc"} ) }}';

                swal({
                    title: "{{'message_confirmation'|trans}}",
                    text: "{{'message_confirmer_suppression'|trans}}",
                    showCancelButton: true,
                    confirmButtonColor: "#3f5872",
                    cancelButtonText: "{{'annuler'|trans}}",
                    confirmButtonText: "{{'confirm_suppression'|trans}}",
                },
                        function () {
                            url = url.replace("idc", idCircuit);
                            window.location.replace(url);
                        });
            });

            $('#circuits').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]], "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }});

        })
    </script>
{% endblock %}