{% extends "::base.html.twig" %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Liste Dossier</h1>
	
	<div class="col-md-12" style="margin:0 0 20px 0">
			<form method="GET" {{ form_enctype(form) }}>
					
					 <div class="row">
                            <div class="form-group col-sm-4">
                                {{ form_label(form.id,'Numero dossier') }}  
								{{ form_errors(form.id,{'attr':{'class':'alert alert-danger'}}) }}  								
                                {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
                            </div>
							
							
							<div class="form-group col-sm-4">
                                {{ form_label(form.denominationSociale,'Denomination sociale') }}  
								{{ form_errors(form.denominationSociale,{'attr':{'class':'alert alert-danger'}}) }}  	
								{{ form_widget(form.denominationSociale, {'attr': {'class': 'form-control'}}) }}
                            </div>
							
							<div class="form-group col-sm-4">
                                {{ form_label(form.formeJuridique,'Forme juridique') }}  
								{{ form_errors(form.formeJuridique,{'attr':{'class':'alert alert-danger'}}) }}  	
								{{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
                            </div>
							
							<div class="form-group col-sm-4">
                                {{ form_label(form.typeOperation,'Type operation') }}  
								{{ form_errors(form.typeOperation,{'attr':{'class':'alert alert-danger'}}) }}  	
								{{ form_widget(form.typeOperation, {'attr': {'class': 'form-control'}}) }}
                            </div>
							
							<div class="form-group col-sm-4">
                                {{ form_label(form.statutTraitement,'Statut traitement') }}  
								{{ form_errors(form.statutTraitement,{'attr':{'class':'alert alert-danger'}}) }}  	
								{{ form_widget(form.statutTraitement, {'attr': {'class': 'form-control'}}) }}
                            </div>
							
							
							
					</div>
					{{ form_rest(form) }} 
			<button type="submit"  class="btn btn-info" >chercher <span class="glyphicon glyphicon-search"></span></button>
			
		<span style ="float:right">
			limite par page
            <select name="maxItemPerPage" id="maxItemPerPage" class=" btn-sm ">
				<option id="1">1</option>
				<option id="3">3</option>
                <option id="5">5</option>
                <option id="10">10</option>
                <option id="20">20</option>
				<option id="30">30</option>
				<option id="50">50</option>
				<option id="100">100</option>
            </select>
        </span>	
		
		</form>
	</div>
	
    
    <div style="width:100%">
        <table class="table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Numéro Dossier</th>                    
                    <th>Forme Juridique</th>
                    <th>TypeOperation</th>
                    <th>Dénomination sociale</th>
                    <th>Statut</th>
                </tr>
            </thead>
            {% for d in listedossier%}
                <tr>
                    <td></td>
                    <td>{{ d.id}}</td>
                    <td>{{ d.libelleFormeJ}}</td>
                    <td>{{ d.libelleTypeOp}}</td>
                    <td>{{ d.denominationSociale }}</td>
                    <td>{{d.libelleStatutTraitement}}</td>
                </tr>            
            {% endfor %}
        </table>

    </div>
	
	<div class="text-center">
	<div>
         {{ knp_pagination_render(listedossier) }} 
    </div>
</div>
{% endblock %}


{%block javascripts %}
{{parent()}}
 <script type="text/javascript">
function SelectElement(maxItemPerPage)
{    
    var element = document.getElementById('maxItemPerPage');
    element.value = maxItemPerPage;
}

window.onload = SelectElement( {{maxItemPerPage}} );
 </script>
 
 
 <script type="text/javascript">
        //on select change, you navigate to indexAction and send the parameter maxItemPerPage
        $('#maxItemPerPage').change(function(){
              $(this).closest('form').trigger('submit');
        });
    </script>
{% endblock %}