<page backtop="14mm" backbottom="14mm" backleft="10mm" backright="10mm">
    <style>
	body{
		font-size:14px;
	}
		.titre2{
			background-color:grey;
			color:white;
			padding:5px 10px 5px 5px;
			width:135px;
			margin:0 0 10px 0;
			font-size:16px;
		}
		
		.titre3{
			background-color:grey;
			color:white;
			padding:5px 10px 5px 5px;
			width:80px;
			display:inline;
			margin-right:5px;
			font-size:16px;
		}
        .divFieldSet
        {
            border:1px black solid;                         
            position:relative;
                            
            
        }
       
        .labelFormulaire
        {
            width:230px;
			display:inline;
			margin:0 0 5px 0;
			
        }
		.valeurChampFormulaire
		{
			width:300px;
		}
		
		.labelFormulaire2
        {
            width:auto;
			display:inline;
			margin:0 0 5px 0;			
        }
		.valeurChampFormulaire2
		{
			width:150px;
			display:inline;
		}

		input[type="text"]{
            min-width: 200px;
			padding:0 0 0 5px;
			margin-bottom: 15px;
        }

		#areaActivite
		{
			width:88%;
		}
		#cadrePhoto{
			border:1px black solid;
			height:180px;
			width:150px;
			position:absolute;
			margin:20px 0 0 530px;
			
		}
		.labelCadrePhoto
		{			
			text-align:center;
			margin-top:60px;
		}
		.petitHeader
		{
			margin:40px 0 50px 0;
		}
		.centralText
		{
			text-align:center;
		}
		.bloc2Adresse
		{
			padding-left:100px;
		}
		.textBlocImmatriculation
		{
			display:inline;
			width:460px;
			font-size:16px;
			margin-left:40px;
		}
		#dateBlocImmatriculation
		{
			font-size:16px;
			margin-left:40px;
			font-weight:bold;
			padding:5px 0 0 0;
		}
    </style>
	
	<div><b>REPUBLIQUE DE GUINEE</b></div>
	<div id="cadrePhoto"><div class="labelCadrePhoto">Photo<br/>Personne physique</div></div>
	<div style="margin:0 0 0 38px">___________</div>
	<div><b>MINISTERE DU BUDGET</b></div>
	
	<div class="petitHeader">
	<img src="{{asset('img/logo-dni.png')}}" style="margin:0 0 0 20px" />
	<b><label style="margin:20px 0 0 100px;font-size:16px">N° {% if nif %}{{nif.numeroFormulaire}}/{{nif.numeroFormulaireBis}}{% endif %}</label></b>
	</div>
            <div class="divFieldSet">  
				<br/>			
				<div class="row" style="font-size:24px;">                  
					<div class="centralText"><b>CERTIFICAT D'IMMATRICULATION FISCALE</b></div>
					<div class="centralText"><label>Valable jusqu'au : {{dateValidite|localizeddate('long', 'none')}}</label></div>              
				</div>
				<br/>            
			</div>
			<div style="padding:0 0 0 10px;">
                <br/>
					<div class="titre2"><b>Le contribuable : </b></div>
   
                                        <div class="labelFormulaire">Prénoms et Nom ou Raison Sociale : </div> <div class="valeurChampFormulaire"> {% if dd.denominationSociale%} {{dd.denominationSociale|upper}} {%endif%}</div>
					<div class="labelFormulaire">Type de contribuable : </div> <div class="valeurChampFormulaire"> {%if dd.formeJuridique.sigle == 'EI'%}{{'personne_physique'|trans}}{%else%}{{'personne_morale'|trans}}{%endif%}</div>
					<div class="labelFormulaire">Sigle ou Dénomination Sociale : </div> <div class="valeurChampFormulaire">{%if dd.sigle%}{{dd.sigle|upper}}{%else%}{{dd.denominationSociale|upper}}{%endif%}</div>                   
					<div class="labelFormulaire">N°Carte d'Identité/N°Passeport : </div> <div class="valeurChampFormulaire">{{rep.numeroIdentiteNational}}</div>  
					<div class="labelFormulaire">Forme Juridique : </div> <div class="valeurChampFormulaire"> {{dd.formeJuridique}}</div> 
					<div class="labelFormulaire">Numéro du registre de commerce : </div> <div class="valeurChampFormulaire">{%if rccm%}{{rccm.numRccmEntreprise}}{%endif%}</div>                					
					<div class="labelFormulaire">Profession/Activit&eacute; : </div> <div class="valeurChampFormulaire"> {{activitePrincipale}}{%if activiteSecondaire%};{{activiteSecondaire}}{%endif%}{%if dd.activiteSecondaire2%};{{activiteSecondaire2}}{%endif%}{%if dd.ActiviteSociale%};{{dd.ActiviteSociale|upper}}{%endif%}</div>
					
					<br><div class="titre3"><b>Adresse : </b></div>
					
					<div class="labelFormulaire2">BP : </div> <div class="valeurChampFormulaire2"> {{dd.boitePostale}} </div>
					<div class="labelFormulaire2">Quartier : </div> <div class="valeurChampFormulaire2"> {%if nif%}{{nif.quartier}}{%endif%}</div>
					<div class="labelFormulaire2">Ville : </div> <div class="valeurChampFormulaire2"> {{dd.ville}}</div>
					<br/>
					<div class="bloc2Adresse">
						<div class="labelFormulaire2">Secteur : </div> <div class="valeurChampFormulaire2"> {%if nif%}{{nif.secteur}} {%endif%}</div>
						<div class="labelFormulaire2">Rue : </div> <div class="valeurChampFormulaire2"> {%if nif%}{{nif.rue}}{%endif%} </div>
						<div class="labelFormulaire2">Tél : </div> <div class="valeurChampFormulaire2"> {{dd.telephone}}</div>
						<br/>
						<div class="labelFormulaire2">Adresse : </div> <div class="valeurChampFormulaire2" style="width:500px"> {{dd.adresseSiege}} </div>
						<br/>
						<div class="labelFormulaire2">Email : </div> <div class="valeurChampFormulaire2" style="width:500px"> {{dd.email}} </div>                   
						<br/>
						<div class="labelFormulaire2">Marché : </div> <div class="valeurChampFormulaire2" style="width:280px"> {%if nif%}{{nif.marche}}{%endif%} </div>
						<div class="labelFormulaire2">Boutique N° : </div> <div class="valeurChampFormulaire2"> {%if nif%}{{nif.boutique}}{%endif%} </div>
					</div>
									
					<div class="textBlocImmatriculation" style=""><b>est immatriculé sous le numéro d'identification fiscale (NIF) </b></div><div style="display:inline;border:2px black solid;width:110px"><b> : &nbsp;&nbsp; {%if nif%}{{nif.numeroIdentificationFiscale}}{%endif%}</b></div>
					<br/>
					<div id="dateBlocImmatriculation">Date de création: {{'now'|date('d/m/Y')}}</div>
					<br/>
					<div style="font-size:14px;width:650px;margin-bottom:10px">Ce numéro doit figurer sur tous les documents professionnels (correspondances, factures, déclarations, BDT... sous peine des sanctions prévues par les textes en vigueur (art 383/CGI - art 38 et art 11 de l'arrêté A/2006/0035))</div>
					
					<div style="border:1px black solid;width:500px;padding:5px">
						<div style="font-size:16px;"><b><u>SERVICE DE CREATION : </u></b></div>
						<br/>Nom: Guichet Unique Apip-Guinée
						<br/>
						<br/>Adresse: Boulbinet <div style="margin-left:300px">Ville: Conakry/Kaloum</div>
						
						<br/>BP: 2024		<div style="margin-left:360px">Tél: 656 31 11 13</div>						
					</div>
					<div style="font-weight:bold;Font-size:14px;">
						<div style="margin:30px 0 0 350px;text-align:center;width:350px">Conakry le, {{'now'|localizeddate('long', 'none', 'fr')}} <br/>Le Préposé de la Direction Nationale des Impôts</div>
						<div style="text-align:center;width:250px">Visa du chef du bureau de <br/> l'immatriculation fiscale</div>
						<div style="margin:0px 0 0 350px;text-align:center;width:350px">Diallo Mamadou Baïlo</div>
					</div>
			</div>

</page>