{% extends "::base.html.twig" %}
{% block title %}{%trans%}ajouter_un_secteur{%endtrans%}{% endblock %}

{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock%}
{% block body %}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}ajouter_un_secteur{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('secteur_index') }}">{%trans%}secteurs_activite{%endtrans%}</a>
                            </li>
                            <li><i></i>{%trans%}ajout{%endtrans%}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form method="POST" style = "width:70%;margin:auto;" >
                    <div class = "form-group">
                        <label>{{'secteur.code'|trans}}</label>
                        {%if resultat==-2%}<div class="alert alert-warning">{{'renseigner_secteur'|trans}}</div>
                        {%elseif resultat==-3%} <div class="alert alert-warning">{{'secteur_existe_deja'|trans}}</div>{%endif%}
                        <input placeholder = "{{'secteur.code'|trans}}" name = "code_secteur" class = "form-control" required/>	
                    </div>
                    <div class = "form-group">
                        <label>{{'categorie_activite'|trans}}</label>

                        <select name="categorie_activite" id="categorie_activite" class = "form-control" required="true">
                            {%if idC==0%}
                                <option value =""  selected="selected">{{'selectionner_categorie_activite'|trans}}</option>
                            {%endif%}
                            {% for categorieTraduction in categoriesTraduction %}

                                <option value ="{{categorieTraduction.categorieActivite.id}}"
                                        {%if idC!=0 and categorieTraduction.categorieActivite.id==idC%} selected="selected" {%endif%}
                                        >{{categorieTraduction.libelle}}</option>							 
                            {% endfor %}							
                        </select>					
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'secteur.langue' |trans}}</th>
                                <th>{{'secteur.libelle'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for langue in langues %}
                                <tr>
                                    <td>{{ langue.libelle }}</td>
                                    <td>
                                        <input placeholder = "{{'secteur.libelle'|trans}}" name = "libelle_{{ langue.libelle }}" required class = "form-control"/>
                                        <input type = "hidden" name = "langue" value = "{{ langue.libelle }}" class = "form-control" required/>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>
                                    <input class = "btn btn-success" type = "submit" value = "{{'enregistrer'|trans}}" />
                                    {%if idC==0%}
                                        <a href="{{ path('secteur_index') }}" class="btn btn-default">{%trans%}retour{%endtrans%}</a>
                                    {%else%}
                                        <a href="{{ path('categorie_index') }}" class="btn btn-default">{%trans%}retour{%endtrans%}</a>                                
                                    {%endif%}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>					
            </div>
        </div>
    </div>


{%endblock %}
