{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}{%trans%}authentification{%endtrans%} - {{parent()}} {% endblock %}



{% block fos_user_content %}
    
      <div  class="clearfix width-100" style="height:100%">
                    <div class="fusion-row" style="max-width:100%;">
                        <div id="content" class="full-width">
                            <div class="fusion-row" style="border-color:#e2e2e2;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-top:40px;padding-left:30px;padding-right:30px;padding-left:30px !important;padding-right:30px !important;background-color:#ffffff;margin-bo"> 


            <div class="col-xs-10 col-md-offset-1">
                <div class="service-single text-center wow fadeInDown" data-wow-delay="0.2s">
                    <div class="box-top">
                        <i class="fa fa-user"></i>
                        <h2>{%trans%}titre_connexion_page_personnel{%endtrans%}</h2>
                    </div>
                    <div class="box-down">
                        {% if error %}
                            <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path("fos_user_security_check") }}" method="POST">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input class = "form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input class = "form-control" type="password" id="password" name="_password" required="required" />
                            </div>
                            <div class="checkbox">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    {{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>
                            <input class="btn wpcf7-form-control wpcf7-submit btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        </form>
                        <div class = "col-lg-1"><a href = "{{ path('fos_user_registration_register') }}">{%trans%}s-inscrire{%endtrans%}</a></div>
                        <div class = "col-lg-2 col-md-offset-8"><a href = "{{ path('fos_user_resetting_request') }}" class = "pull-right">{%trans%}mot_passe_oublie{%endtrans%}</a></div>
                    </div>
                </div>
            </div>
        </div></div></div></div>
    {% endblock fos_user_content %}
