{% extends "::base.html.twig" %}
{% block title %}{{'modification_fonction'|trans}}{% endblock %}

{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock%}
{% block body%}
    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header col-sm-12">
                            {%trans%}message_fonction{%endtrans%} {{ fonction.code }}        
                        </h1>	
                        {# <div class="col-sm-12">
                             <a class = "pull-right" href="{{path('fonction_delete',{'id':fonction.id})}}" title=" {%trans%}supprimer{%endtrans%}"><i class="fa fa-remove supprimer"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         </div>	#}
                        <ol class="breadcrumb col-sm-12">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('fonction_index') }}">&nbsp;&nbsp;{%trans%}fonctions_activite{%endtrans%}</a>
                            </li>
                            <li>
                                &nbsp;&nbsp;{%trans%}message_modifier{%endtrans%}
                            </li>	
                        </ol>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-6">
                    <label>{{"sigle"|trans}}</label>
                    <input placeholder = "{{'fonction.label'|trans}}" value="{{fonction.code}}" name = "code_fonction"  id="code_fonction" class = "   form-control" required/>
                </div><br/>
                <div class="col-md-6">   <input type="button" value="{{'modifier'|trans}}" id="uptodate" class=" btn btn-success"  /></div>
            </div>

            <h3>{%trans%}liste_traduction{%endtrans%}</h3>
			<div class="table-responsive" style="width:100%">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{%trans%}langue{%endtrans%}</th>
                        <th>{%trans%}fonction.libelle{%endtrans%}</th>						
                        <th>{%trans%}fonction.libelleFeminin{%endtrans%}</th>
                        <th>{%trans%}fonction.description{%endtrans%}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id = "listeTraduction">
                    {% for traduction in fonction.fonctionTraduction %}
                        <tr class="" id="{{ traduction.id }}">
                            <td class = "langueTr" >
                                {{ traduction.langue.libelle }}
                            </td>
                            <td  class = "libelleTr">
                                {{ traduction.libelle }}
                            </td>
							 <td  class = "libelleFemininTr">
                                {{ traduction.libelleFeminin }}
                            </td>
                            <td  class = "descriptionTr">
                                {{ traduction.description }}
                            </td>
                            <td>
                                <a class = "supprimerTra" onclick ="setTraduction({{traduction.id}});"href = "#" title = "{%trans%}supprimer{%endtrans%}" ><i class="fa fa-remove"></i></a>
                                <a class = "modifierTra" style = "margin-left:15px;" href = "#" title = "{%trans%}modifier{%endtrans%}" ><i class="fa fa-pencil"></i></a>										
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div>
            {% set canShow = false %}
            {% for langue in langues %}
                {%if langue not in languesTraduit %}
                    {% set canShow = true %}
                {% endif %}
            {% endfor %}
            {% if canShow == true %}
                <a id = "ffa" href="#"><i class="fa fa-plus">&nbsp;&nbsp;{%trans%}tranduction.new{%endtrans%}</i></a>
            {% endif %}
            <form id = "ff" style = "margin-top:15px;display:none;" role="form" class = "form-inline" >
                <div class="form-group">
                    <select id = "traduction_langue" class="form-control">
                        {% for langue in langues %}
                            {%if langue not in languesTraduit %}
                                <option value="{{ langue.id }}">{{ langue.libelle }}</option>
                                <!-- <input type="hidden" value="{{langue.libelle}}" id="langue_libelle"></input> -->
                            {%endif%}
                        {% endfor %}
                    </select>
                    <select id = "traduction_langue_2" style = "display:none;" class="form-control">
                        {% for langue in langues %}
                            <option value="{{ langue.id }}">{{ langue.libelle }}</option>
                            <!-- <input type="hidden" value="{{langue.libelle}}" id="langue_libelle"/> -->
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type = "text" placeholder = "{%trans%}libelle{%endtrans%}" class = "form-control" id = "traduction_libelle" />
                </div>
				<div class="form-group">
                    <input type = "text" placeholder = "{%trans%}libelleFeminin{%endtrans%}" class = "form-control" id = "traduction_libelleFeminin" />
                </div>
                <div class="form-group">
                    <input type = "text" placeholder = "{%trans%}description{%endtrans%}" class = "form-control" id = "traduction_description" />
                </div>
                <button id = "ajouterTraduction" class="btn btn-success">{%trans%}ajouter{%endtrans%}</button>	
                <button id = "annuler" class="btn btn-default">{%trans%}annuler{%endtrans%}</button>					
                <div class = "loading" style = "display:none;margin-top:15px;" class="col-lg-12">
                    <img style = "display:block;margin:auto;" src="{{ asset('loading.gif') }}" />
                </div>  
            </form>

            <hr />
            <a href="{{ path('fonction_index') }}" class="btn btn-default ">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp; {%trans%}retour{%endtrans%}
            </a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
                var idTraduction = 0;
                $("#ffa").click(function() {
        if ($("#ff").css('display') == 'none') {
        $("#ff").fadeIn("slow", function() {});
        }
        else
        {
        $("#ff").fadeOut("fast", function() {});
        }
        });
                $('.supprimerTra').click(function(){
        swal({
        title: "{{'message_confirmation'|trans}}",
                text: "{{'message_confirmer_suppression'|trans}}",
                showCancelButton: true,
                confirmButtonColor: "#3f5872",
                confirmButtonText: "{{'confirm_suppression'|trans}}",
                cancelButtonText: "{{'annuler'|trans}}"
        },
                function () {


                $('listeTraduction tr').each(function(){
                $(this).attr('class', '');
                });
                        var tr = $(this).parent().parent().attr('class', 'click');
                        $('#listeTraduction tr').each(function(){
                if ($(this).attr('class') == 'click')
                {
                tr = $(this);
                }
                });
                        $('.loading').show();
                        $.ajax({
                        url:"{{ path('delete_traduction_fonction') }}",
                                type:'POST',
                                data:{ id:{{ fonction.id }}, langue : $('#traduction_langue').val(), traduction: idTraduction},
                                success:function(data){
                                $('.loading').hide();
                                        if (data.error == '0')
                                {
                                $(tr).remove();
                                        location.reload();
                                }
                                },
                                error:function(){
                                $('.loading').hide();
                                }
                        });
                })});
                $('.modifierTra').click(function(){

        $('#traduction_langue_2').show();
                $('#traduction_langue').hide();
                $('#listeTraduction tr').each(function(){
        $(this).attr('class', '');
        });
                $('#traduction_langue_2 option').each(function(){
        $(this).attr('selected', false);
        });
                var tr = $(this).parent().parent().attr('class', 'click');
                //alert($(tr).find('.langueTr').text().trim());

                if ($("#ff").css('display') == 'none') {
        $('#ffa').hide();
                $("#ff").fadeIn("slow", function() {


        $('#traduction_langue_2 option').each(function(){

        if ($(this).text() == $(tr).find('.langueTr').text().trim())
        {
        $(this).attr('selected', true);
        }
        else
        {
        $(this).attr('selected', false);
        }
        });
                $('#ajouterTraduction').text("{{'message_modifier'|trans}}");
                $('#traduction_libelle').val($(tr).find('.libelleTr').text().trim());
                $('#traduction_libelleFeminin').val($(tr).find('.libelleFemininTr').text().trim());
                $('#traduction_description').val($(tr).find('.descriptionTr').text().trim());
        });
        }
        else
        {
        if ($('#ajouterTraduction').text() == "{{'message_modifier'|trans}}")
        {
        $('#traduction_langue_2 option').each(function(){

        if ($(this).text() == $(tr).find('.langueTr').text().trim())
        {
        $(this).attr('selected', true);
        }
        else
        {
        $(this).attr('selected', false);
        }
        });
                $('#traduction_libelle').val($(tr).find('.libelleTr').text().trim());
				$('#traduction_libelleFeminin').val($(tr).find('.libelleFemininTr').text().trim());
                $('#traduction_description').val($(tr).find('.descriptionTr').text().trim());
        }
        else
        {
        $('#ffa').hide();
                $('#traduction_libelle').val($(tr).find('.libelleTr').text().trim());
				$('#traduction_libelleFeminin').val($(tr).find('.libelleFemininTr').text().trim());
                $('#traduction_description').val($(tr).find('.descriptionTr').text().trim());
                $('#ajouterTraduction').text('Modifier');
        }
        }
        });
                $("#uptodate").click(function()
        {
        $('.loading').show();
                $.ajax({
                url:"{{ path('update_code_fonction') }}",
                        type:'POST',
                        data:{ id:{{ fonction.id }}, code:$("#code_fonction").val()},
                        success:function(data){
                        $('.loading').hide();
                                if (data.error == '0')
                        {
                        toastr.success('{{"succes_modification"|trans}}');
                                $("#ff").fadeOut("fast", function() {
                        });
                        }
                        },
                        error:function(){
                        $('.loading').hide();
                        }
                });
        });
                $('#annuler').click(function(){
        $("#ff").fadeOut("fast", function() {});
                $('#traduction_libelle').val('');
                $('#traduction_description').val('');
                $('#ajouterTraduction').text('{{"ajouter"|trans}}');
                $('#ffa').show();
        });
                $('#ajouterTraduction').click(function(){

        var canI = true;
                $('#ff input').each(function(){
        if ($(this).val() == '')
        {
        canI = true;
        }
        });
                if (canI == true)
        {
        $('.loading').show();
                if ($(this).text() != "{{'message_modifier'|trans}}")
        {
        $.ajax({
        url:"{{ path('add_traduction_fonction') }}",
                type:'POST',
                data:{ id:{{ fonction.id }}, langue : $('#traduction_langue').val(), libelleFeminin : $('#traduction_libelleFeminin').val(), libelle : $('#traduction_libelle').val(), description : $('#traduction_description').val() },
                success:function(data){
                $('.loading').hide();
                        if (data.error == '0')
                {
                location.reload();
                        $("#ff").fadeOut("fast", function() {
                });
                        $('#traduction_libelle').val('');
						$('#traduction_libelleFeminin').val('');
                        $('#traduction_description').val('');
                }
                },
                error:function(){
                $('.loading').hide();
                }
        });
        }
        else
        {
        var tr;
                $('#listeTraduction tr').each(function(){
        if ($(this).attr('class') == 'click')
        {
        tr = $(this);
        }
        });
                $.ajax({
                url:"{{ path('update_traduction_fonction') }}",
                        type:'POST',
                        data:{ id:{{ fonction.id }}, langue : $('#traduction_langue_2').val(), libelleFeminin : $('#traduction_libelleFeminin').val(), libelle : $('#traduction_libelle').val(), description : $('#traduction_description').val(), traduction: $(tr).attr('id')},
                        success:function(data){
                        $('.loading').hide();
                                if (data.error == '0')
                        {
                        var route_edit = "{{ path('update_traduction_fonction') }}";
                                var route_del = "{{ path('delete_traduction_fonction') }}";
                                $(tr).find('.langueTr').text(data.langue);
                                $(tr).find('.libelleTr').text($('#traduction_libelle').val());
                                $(tr).find('.libelleFemininTr').text($('#traduction_libelleFeminin').val());
                                $(tr).find('.descriptionTr').text($('#traduction_description').val());
                                //	$('#listeTraduction').append("<tr><td>"+$('#traduction_langue').val()+"</td><td>"+$('#traduction_libelle').val()+"</td><td><a href="+route_del+" title=\"Supprimer\"><i class=\"fa fa-remove supprimer\"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="+route_edit+" title=\"Modifier\"><i class=\"fa fa-pencil\"></i></a></td></tr>");

                                $("#ff").fadeOut("fast", function() {
                        });
                                $('#traduction_libelle').val('');
								$('#traduction_libelleFeminin').val('');
                                $('#traduction_description').val('');
                        }
                        else
                        {alert(data.message); }
                        },
                        error:function(){
                        alert('erreur update');
                                $('.loading').hide();
                        }
                });
        }
        }
        });
                function setTraduction($id)
                {
                idTraduction = $id;
                }
    </script>
{% endblock %}