{% extends "DefaultBundle:messages:messages.html.twig" %}
{% block title %}{%trans%}vos_mails_envoyes{%endtrans%} {% endblock %} 
{% block menu1 %}	
    <li>
        <a href="{{path('message_new')}}"><i class="fa fa-pencil-square-o"></i>&nbsp;{%trans%}nouveau_message{%endtrans%}</a>
    </li>
    <hr/>
    <li >
        <a href="{{ path('mes-messages') }}">
            <span class="pull-right">{{ app.user.getEmailNonLus | length }}</span>
            <i class="fa fa-envelope"></i> {{'discussion'|trans}}
        </a>
    </li>
    <hr/>
    <li class="mactive">
        <a href="{{ path('mes_messages_envoyer') }}"><span class="pull-right">{{ app.user.getEmailsEnvoyesNonBloquer | length }}</span> <i class="fa fa-paper-plane"></i> {{'envoyes'|trans}}</a>

    </li>


{% endblock %}		
{% block tableau %}
    <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
        <thead>
            <tr>
				<th class = "col-sm-3" data-toggle="true">{{'numero_dossier'|trans}}</th>
                <th class = "col-sm-2" data-toggle="true">{{'message.destinataire'|trans}} </th>
                <th class = "col-sm-2" data-toggle="true">{{'discussion.objet'|trans}}</th>
                <th class = "col-sm-3" data-toggle="true">{{'message.date_envoie'|trans}}</th>							
                <th class = "col-sm-2">{{'action'|trans}}</th>
            </tr>
        </thead>
        <tbody>	
            {% for message in messages %}
                <tr>
				<td><span>
					<a title="{{'voir'|trans}}"  href = "{{path('details-discussion',{'id':message.discussion.id})}}" >{{ message.discussion.numeroDossier }}</a>
				</span></td>				
                    <td>


                        {% if  message.discussion.destinataire != null %}
                            {%if message.auteur==message.discussion.destinataire%}
                                {{ message.discussion.expediteur.prenom }} {{ message.discussion.expediteur.nom }}
                            {%else%}
                                {{ message.discussion.destinataire.prenom }} {{ message.discussion.destinataire.nom }}
                            {%endif%}
                        {% endif %}	

                    </td>							
                    <td>{{ message.discussion.objet }}</td>
                    <td>{{ message.dateEnvoie | date("d/m/y \\, H:i") }}</td>
                    <td>
                        <a  style = "margin-right:10px;" href = "{{ path('message_bloquer',{id:message.id}) }}"><i class="fa fa-trash-o"></i></a> 
                        <a data-toggle=modal data-backdrop=false  style = "margin-right:10px;" href = "{{path('details-discussion',{'id':message.discussion.id})}}" ><i class="fa fa-eye"></i></a>	


                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
