{% extends "::base.html.twig" %}
{% block title %}
    {%trans%}boite_reception{%endtrans%}
{% endblock %}
{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':1})) }}

{% endblock %}
{% block body %}
    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
 {% for message in app.session.flashbag.get('error') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}		
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}boite_reception{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{path('mes-messages')}}"><i class="fa  fa-envelope"></i>&nbsp;&nbsp;{%trans%}boite_reception{%endtrans%}</a>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="hpanel">
                        <div class="panel-body">
                            <ul class="mailbox-list" style="list-style-type: none;">
                                {% block menu1 %}	
                                     <li>
                                        <a href="{{path('message_new')}}"><i class="fa fa-pencil-square-o"></i>&nbsp;{%trans%}nouveau_message{%endtrans%}</a>
                                    </li>
                                    <hr/>
                                    <li class="mactive">
                                        <a href="{{ path('mes-messages') }}">
                                            <span class="pull-right">{{ app.user.getEmailNonLus | length }}</span>
                                            <i class="fa fa-envelope"></i> {{'discussion.recus'|trans}}
                                        </a>
                                    </li>
                                    <hr/>
                                    <li>
                                        <a href="{{ path('mes_messages_envoyer') }}"><span class="pull-right">{{ app.user.getEmailsEnvoyesNonBloquer | length }}</span> <i class="fa fa-paper-plane"></i> {%trans%}envoyes{%endtrans%}</a>
                                    </li>                                 
                                   
                                {% endblock %}	
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="hpanel">
                        <div class="panel-body">
                                {% block tableau %}
                                    <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="{{'rechercher_message'|trans}}">
                            <div class="table-responsive">
                            
                                    <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                        <thead>
                                            <tr>
												<th class = "col-sm-3" data-toggle="true">{{'numero_dossier'|trans}}</th>
												<th class = "col-sm-2" data-toggle="true">{{'discussion.objet'|trans}}</th>
                                                <th class = "col-sm-2" data-toggle="true">{{'discussion.origine'|trans}}</th>
                                                
                                                <th class = "col-sm-3" data-toggle="true">{{'date_creation' |trans}}</th>							
                                                <th class = "col-sm-2">{{'action'|trans}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for discussion in discussions %}
											
											  {% if discussion.expediteur!=app.user or discussion.messages|length > 1 %}
                                                <tr {%if discussion.getMessagesNonLus and discussion.getMessagesNonLus.auteur!=app.user%} style="font-weight:bold" {%endif%}>
                                                    {%if discussion.getMessagesNonLus%}
                                                <b>
                                                {%endif%}
												<td><span><a title="{{'voir'|trans}}"  href = "{{path('details-discussion',{'id':discussion.id})}}" >{{ discussion.numeroDossier }}</a></span></td>
												<td><span id="objet{{loop.index}}">{{ discussion.objet }} ({{discussion.messages|length}})</span> </td>
                                                <td>
                                                    {% if  discussion.expediteur != null %}
                                                        {%if discussion.expediteur==app.user%}
                                                            {{'moi'|trans}} {#à {{ discussion.destinataire.nom }} {{ discussion.destinataire.prenom }} (Pole {{ discussion.destinataire.pole.nom }})#}
                                                        {%else%}
                                                            {{ discussion.expediteur.prenom }} {{ discussion.expediteur.nom }}
                                                        {%endif%}
                                                    {% endif %}	
													
                                                    
                                                    {#{% if discussion.destinataire != null %}
                                                        {%if discussion.destinataire==app.user %}
                                                            {{'moi'|trans}}
                                                        {%else%}
                                                            {{ discussion.destinataire.nom }} {{ discussion.destinataire.prenom }} 

                                                        {% endif %}
                                                    {%endif%}}#}
                                                </td>
                                                
                                                <td>
                                                    {%if discussion.getMessagesNonLus%}
                                                        {{ discussion.getMessagesNonLus.dateEnvoie | date("d/m/y \\, H:i") }}
                                                    {%elseif discussion.messages%}
                                                        {{discussion.messages.first.dateEnvoie | date("d/m/y \\, H:i")}}
                                                    {%endif%}
                                                </td>
                                                <td>
                                                    <a   style = "margin-right:10px;" title="{{'repondre'|trans}}" href = "{{path('details-discussion',{'id':discussion.id})}}"><i class="fa fa-reply"></i></a>	
                                                    {#<a title="{{'detail'|trans}}" style = "margin-right:10px;" href = "{{path('details-discussion',{'id':discussion.id})}}" ><i class=" fa fa-eye"></i></a>#}	
                                                    <a style = "margin-right:10px;" title="{{'supprimer'|trans}}" href = "{{ path('discussion_bloquer',{id:discussion.id}) }}"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                                {%if discussion.getMessagesNonLus%}
                                                </b>
                                            {%endif%}
                                            </tr>

                                    </div>	
									 {%endif%}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                                </table>
                                </div>
                        <div class="panel-footer">
                            <i class="fa fa-eye"> </i> {{ app.user.getEmailNonLus() | length }} {%trans%}non_lus{%endtrans%}
                        </div>
                            {% endblock %}	
                           
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
{% block javascripts%}
    {{parent()}}
    <script src="{{asset('js/fooTable/dist/footable.all.min.js') }}"></script>
   
{% endblock %}