<div class="fusion-row">
    <div class=" news fusion-content-boxes content-boxes columns fusion-columns-4 fusion-columns-total-4 fusion-content-boxes-1 content-boxes-icon-on-top row content-left" data-animationoffset="100%" style="margin-top:0px;margin-bottom:60px;padding:0 150px 0 150px">


        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form'}}) }}
        <div class="tab-pane" id="step3">

            <h2>{%trans%}identification_utilisateur{%endtrans%}</h2>

            <div class="row">
                <div class="form-group col-lg-4">
                    {{ form_label(form.genre) }} (*)
                    {{ form_errors(form.genre,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}			
                </div>
                <div class="form-group col-lg-4">
                    {{ form_label(form.nom) }} (*)
                    {{ form_errors(form.nom,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}			
                </div>	

                <div class="form-group col-lg-4">
                    {{ form_label(form.prenom) }} (*)
                    {{ form_errors(form.prenom,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}			
                </div>
                <div class="form-group col-lg-4">
                    {{ form_label(form.email) }} (*)
                    {{ form_errors(form.email,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>	

                <div class="form-group col-lg-4">
                    {{ form_label(form.typeIdentification,'utilisateur.type_identification') }} 
                    {{ form_errors(form.typeIdentification,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.typeIdentification, {'attr': {'class': 'form-control'}}) }}			
                </div>
                <div class="form-group col-lg-4">
                    {{ form_label(form.cni,'utilisateur.cni') }} 
                    {{ form_errors(form.cni,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.cni, {'attr': {'class': 'form-control'}}) }}			
                </div>

            </div>
            {#<div class="row">
                 <div class="form-group col-lg-6">
                    {{ form_label(form.dateNaissance) }} 
                    {{ form_errors(form.dateNaissance) }} 
                    <div class='input-group date' id='datetimepicker1'>
                        {{ form_widget(form.dateNaissance,{'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    {{ form_label(form.lieuNaissance) }} 
                    {{ form_errors(form.lieuNaissance,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.lieuNaissance, {'attr': {'class': 'form-control'}}) }}			
                </div>			
               
            </div>#}
            <div class="row">
                <div class="form-group col-lg-4">
                    {{ form_label(form.telephone) }} (*)
                    {{ form_errors(form.telephone,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}			
                </div>	
                <div class="form-group col-lg-4">
                    {{ form_label(form.paysResidence) }} (*)
                    {{ form_errors(form.paysResidence,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.paysResidence, {'attr': {'class': 'form-control'}}) }}			
                </div> 
                <div class="form-group col-lg-4 divVille">
                    {{ form_label(form.ville,'ville') }} (*)
                    {{ form_errors(form.ville,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}			
                </div>
            </div>
            <div class="row divInfoResident" style="display: none">    
                <div class="form-group col-lg-4">
                    <label>{%trans%}utilisateur.regionResidence{%endtrans%} (*)</label>
                    {{ form_widget(form.regionResidence, {'attr': {'class': 'form-control'}}) }}		
                    {{ form_errors(form.regionResidence,{'attr':{'class':'alert alert-danger'}}) }} 	
                    <img class='loadingR' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />
                </div>

                <div class="form-group col-lg-4">
                    <label>{%trans%}prefecture{%endtrans%} (*)</label>
                    {{ form_widget(form.prefecture, {'attr': {'class': 'form-control'}}) }}		
                    {{ form_errors(form.prefecture,{'attr':{'class':'alert alert-danger'}}) }} 
                    <img class='loadingP' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />
                </div>

                <div class="form-group col-lg-4">
                    <label>{%trans%}sousPrefecture{%endtrans%} (*)</label> 
                    {{ form_widget(form.sousPrefecture, {'attr': {'class': 'form-control'}}) }}		
                    {{ form_errors(form.sousPrefecture,{'attr':{'class':'alert alert-danger'}}) }} 
                    <img class='loadingD' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />
                </div>

            </div> 
            <div class="row">
                <div class="form-group col-lg-12">
                    {{ form_label(form.adresse,'utilisateur.adresse') }} (*)
                    {{ form_errors(form.adresse,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}			
                </div>
            </div>

            <div class="row">
                <div style = "display:none;"  class="form-group col-lg-6">
                    {{ form_label(form.username,'utilisateur.departementResidence') }} 
                    {{ form_errors(form.username,{'attr':{'class':'alert alert-danger'}}) }} 											
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}			
                </div>
                <div class="clearfix"></div>
                <div class="form-group  col-lg-12">
                    <input class="btn wpcf7-form-control wpcf7-submit next btn-block" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        {% do form.particulier.setRendered %}
        {% do form.entreprise.setRendered %}
        {{ form_end(form) }}

        </form>
    </div>
</div>

<script src="{{asset('js/jquery.js')}}"></script>
<script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
<script src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
<script>
    //var da = "{{'now'|date('Y') -18 }}";
    //$('#fos_user_registration_form_regionResidence').prepend("<option value='-1'></option>");
    //$('#fos_user_registration_form_regionResidence').val(-1);
    //$('#fos_user_registration_form_departement').prepend("<option value='-1'></option>");
    //$('#fos_user_registration_form_departement').val(-1);
    $(document).ready(function () {
        $("#fos_user_registration_form_prefecture").find(':not(:first)').remove();
        $("#fos_user_registration_form_sousPrefecture").find(':not(:first)').remove();
    });
    $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

    $('form').submit(function () {
        $('input').each(function () {
            if (($this).val() == '')
                $(this).css('border', '1px solid red');
        });
    });

    $('#fos_user_registration_form_paysResidence').change(function () {
        var pays = $(this).val();
        $('.divInfoResident').hide();
        $(".divVille").show();

        if (pays === "79") {
            $('.divInfoResident').show();
            $(".divVille").hide();
            $("#app_user_registration_ville").removeAttr("required");
        }/*else{
         $('.divInfoResident').hide(); 
         }*/

    });

    $("#fos_user_registration_form_regionResidence").change(function () {
        $('.loadingP').show();
        var idR = $(this).val();
        $("#fos_user_registration_form_prefecture").children().remove();
        //$("#frmPrefecture_departement").children().remove();
        if (idR !== "") {
            $.ajax({
                url: "{{path('charger_prefecture')}}",
                type: "POST",
                dataType: 'json',
                data: {idR: $(this).val()},
                success: function (data) {
                    $('#fos_user_registration_form_prefecture').prepend("<option value=''>{{'select'|trans}}</option>");
                    for (var i in data.retour) {
                        $('#fos_user_registration_form_prefecture').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                    }
                    $('.loadingP').hide();
                },
                error: function () {
                    alert('erreur');
                }
            });
        } else {
            $('.loadingP').hide();
            return;
        }
    });


    $("#fos_user_registration_form_prefecture").change(function () {
        $('.loading').show();
        var idP = $(this).val();
        $("#fos_user_registration_form_sousPrefecture").children().remove();
        if (idP !== "") {
            $.ajax({
                url: "{{path('charger_sousPrefecture')}}",
                type: "POST",
                dataType: 'json',
                data: {idP: $(this).val()},
                success: function (data) {
                    $('#fos_user_registration_form_sousPrefecture').prepend("<option value=''>{{'select'|trans}}</option>");
                    for (var i in data.retour) {
                        $('#fos_user_registration_form_sousPrefecture').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                    }
                    $('.loading').hide();
                },
                error: function () {
                    alert('erreur');
                }
            });
        } else {
            $('.loading').hide();
            return;
        }
    });


    $('input').focusout(function () {
        if ($(this).val() == '')
            $(this).css('border', '1px solid red');
        else
            $(this).css('border', '1px solid #ccc');
    });

    $('#fos_user_registration_form_nom').change(function () {
        var id = new Date().valueOf();
        $('#fos_user_registration_form_username').val($(this).val() + id);
    });

    $('#fos_user_registration_form_plainPassword').attr('class', 'col-lg-12').children().attr('class', 'form-group');

    $('#fos_user_registration_form_plainPassword input').attr('class', 'form-control');

    //$('#fos_user_registration_form_type').html("<option value=\"entreprise\">Entreprise1</option><option value=\"particulier\">Particulier</option>");

    $('.nyd').find('input').removeAttr('required');

    var liR, stepR;


    $('#fos_user_registration_form_type').change(function () {

        if ($(this).val() == 'particulier')
        {
            var li = $('#deuxLi');
            var step2 = $('#step2');

            liR = "<li id = \"deuxLi\" class=\"disabled\">" + $('#deuxLi').html() + "</li>";
            stepR = "\<div class=\"tab-pane deuxContent\" id=\"step2\">" + $('#step2').html() + "</div>";

            $(li).remove();
            $(step2).remove();

            var cont = $('.deuxContent').html();

            $('#step3').find('h3').text('Etape 2');
        }
        else
        {
            if ($(liR).html() != '')
            {
                $('#step3').find('h3').text('Etape 3');
                $(liR).insertAfter('#unLi');
                $(stepR).insertAfter('#step1');


                $("#step2").find(".next").on('click', function (e) {
                    var $active = $('.wizard .nav-wizard li.active');
                    $active.next().removeClass('disabled');
                    nextTab($active);
                });
            }
        }

        $('.nyd').hide();
        $('#' + $(this).val()).show();
    });

    $(document).ready(function () {

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        if ($('#fos_user_registration_form_type').val() == 'particulier')
        {
            var li = $('#deuxLi');
            var step2 = $('#step2');

            liR = "<li id = \"deuxLi\" class=\"disabled\">" + $('#deuxLi').html() + "</li>";
            stepR = "\<div class=\"tab-pane deuxContent\" id=\"step2\">" + $('#step2').html() + "</div>";

            $(li).remove();
            $(step2).remove();

            var cont = $('.deuxContent').html();

            $('#step3').find('h3').text('Etape 2');
        }
        else
        {
            if ($(liR).html() != '')
            {
                $('#step3').find('h3').text('Etape 3');
                $(liR).insertAfter('#unLi');
                $(stepR).insertAfter('#step1');


                $("#step2").find(".next").on('click', function (e) {
                    var $active = $('.wizard .nav-wizard li.active');
                    $active.next().removeClass('disabled');
                    nextTab($active);
                });
            }
        }

        $('.nyd').hide();
        $('#' + $('#fos_user_registration_form_type').val()).show();

        $(".next").on('click', function (e) {
            var $active = $('.wizard .nav-wizard li.active');
            $active.next().removeClass('disabled');
            nextTab($active);
        });
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }

    $("#_submit").click(function () {

        if (!$("#fos_user_registration_form_email").val().match(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i))
        {
            toastr.warning('{{"aide.email_invalide"|trans}}');
            return false;
        }

        $('#datetimepicker1').datetimepicker({format: 'DD-MM-YYYY'});
        var pays = $('#fos_user_registration_form_paysResidence').val();
        if (pays === "79") {
            $("#fos_user_registration_form_ville").removeAttr("required");
        } else {
            $("#fos_user_registration_form_regionResidence").removeAttr("required");
            $("#fos_user_registration_form_prefecture").removeAttr("required");
            $("#fos_user_registration_form_sousPrefecture").removeAttr("required");
        }


    });
</script>
