{% trans_default_domain 'FOSUserBundle' %}

<div class="fusion-row">
        <div class=" news fusion-content-boxes content-boxes columns fusion-columns-4 fusion-columns-total-4 fusion-content-boxes-1 content-boxes-icon-on-top row content-left" data-animationoffset="100%" style="margin-top:0px;margin-bottom:60px;">


            <div class="col-xs-10 col-md-offset-1">
                <div class="service-single text-center wow fadeInDown" data-wow-delay="0.2s">
                    <div class="box-top">
                        <i class="fa fa-user"></i>
                        <h2>{%trans%}utilisateur_change_password{%endtrans%}</h2>
                    </div>
                    <div class="box-down">
                        {%if password==1%}<div class="alert alert-danger">{%trans%}password_invalid{%endtrans%}</div>{%endif%}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
	
	{{form_widget(form)}}
	{{form_errors(form)}}
    <div>
        <input class = "wpcf7-form-control wpcf7-submit btn-block" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
   </div>
                </div>
            </div>
        </div></div>
<script src="{{asset('js/jquery.js')}}"></script>
<script>
	$('#fos_user_resetting_form_plainPassword_first').parent().attr('class','form-group');
	$('#fos_user_resetting_form_plainPassword_first').attr('class','form-control');

	$('#fos_user_resetting_form_plainPassword_second').parent().attr('class','form-group');
	$('#fos_user_resetting_form_plainPassword_second').attr('class','form-control');
</script>