{% extends "::base.html.twig" %}
{% block title %}{%trans%}ajout_departement{%endtrans%}{% endblock %}
{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}
{%endblock%}

{% block body%}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}ajout_departement{%endtrans%}
                        </h1>
                        <ol class="breadcrumb col-sm-12">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('departement_index') }}">{%trans%}departements{%endtrans%}</a>
                            </li>
                            <li><i></i>{%trans%}ajout{%endtrans%}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{ form_start(form,{'attr':{'name':'simpleForm','id':'simpleForm'}}) }}
                <div class="form-group col-sm-12">
                    {{ form_label(form.libelle,'code'|trans~' (*)') }} 
                    {{ form_errors(form.code,{'attr':{'class':'alert alert-danger'}}) }}                                            
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-12">
                    {{ form_label(form.libelle,'libelle'|trans ~' (*)') }} 
                    {{ form_errors(form.libelle,{'attr':{'class':'alert alert-danger'}}) }}                                            
                    {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-12">
                    {{ form_label(form.pays,'pays'|trans~' (*)') }} 
                    {{ form_errors(form.pays,{'attr':{'class':'alert alert-danger'}}) }}                                            
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-12">
                    {{ form_label(form.Region,'region'|trans~' (*)') }} 
                    {{ form_errors(form.Region,{'attr':{'class':'alert alert-danger'}}) }}                                            
                    {{ form_widget(form.Region, {'attr': {'class': 'form-control'}}) }}
                    <img class='loadingR' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />

                </div>
                <div class="form-group col-sm-12">
                    <p class="text-info pull-left">(*) : {%trans%}obligatoire {%endtrans%}</p><br/>
                    <br />
                    <br />
                    <br />
                    <input style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{%trans%}enregistrer{%endtrans%}"/>
                    <a href = "{{ path('departement_index') }}" style = "width:100px;" class = "btn btn-default form-control col-md-offset-7 col-sm-1">{%trans%}annuler{%endtrans%}</a>                 


                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{%block javascripts%}
    {{parent()}}
    <script>
           $('#departement_pays').change(function () {
            $('.loadingR').show();
            $.ajax({
                url: "{{ path('charge_region') }}",
                type: 'POST',
                data: {idpays: $(this).val()},
                success: function (data) {
                    $('.loadingR').show();
                    $('#departement_Region').empty();
                    for (var i in data.retour)
                    {
                        $('#departement_Region').append("<option value=" + data.retourId[i] + ">" + data.retour[i] + "</option>");
                    }
                    $('.loadingR').hide();

                },
                error: function () {
                }
            });
        });

    </script>
{%endblock%}
