{% extends "::base.html.twig" %}
{% block title %}{%trans%}sous_prefecture_commune{%endtrans%}{% endblock %}

{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock %}

{% block body %}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}sous_prefecture_commune{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                             {%trans%}sous_prefecture_commune{%endtrans%}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div style="margin-left:15px"><a href="{{path('new_sousPrefecture')}}" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;&nbsp;{%trans%}ajout_sous_prefecture{%endtrans%}</i></a>
            <hr/>
            </div>
            <div class="panel-body">
               {%if sousPrefectures | length!=0%}

                    <table id="sousPrefectures" class="table table-bordered table-hover">
                        <thead>
                            <tr> 
                                <th>{%trans%}region{%endtrans%}</th>
                                <th>{%trans%}prefecture{%endtrans%}</th>
                                <th>{%trans%}sousPrefecture{%endtrans%}</th>
                                <th>{%trans%}commune{%endtrans%}</th>
                                <th>{%trans%}quartier{%endtrans%}</th>
                                <th>{%trans%}actions{%endtrans%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sousPrefecture in sousPrefectures %}
                                <tr>
                                    <td>{{ sousPrefecture.prefecture.region.libelle }}</td> 
                                    <td>{{ sousPrefecture.prefecture.libelle }}</td>                                  
                                    <td>{% if sousPrefecture.typeLocalite.id==1 %} {{ sousPrefecture.libelle }} {%endif%}</td>
                                    <td>{% if sousPrefecture.typeLocalite.id==2 %} {{ sousPrefecture.libelle }} {%endif%}</td>
                                    <td>{% if sousPrefecture.typeLocalite.id==3 %} {{ sousPrefecture.libelle }} {%endif%}</td>
                                    <td>
                                        <a href="{{path('sousPrefecture_edit',{'id':sousPrefecture.id})}}" title="{{'modifier'|trans}}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" title="{{'supprimer'|trans}}" class="supprimer" data-id="{{sousPrefecture.id}}"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {%else%}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>                              
                                <th>{%trans%}prefecture{%endtrans%}</th>
                                <th>{%trans%}sousPrefecture{%endtrans%}</th>
                                <th>{%trans%}commune{%endtrans%}</th>
                                <th>{%trans%}quartier{%endtrans%}</th>
                                <th>{%trans%}actions{%endtrans%}</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="alert alert-info">{%trans%}aucun_resultat{%endtrans%}</div>
                {%endif%}
            </div>
        </div>
    </div>
{% endblock %}
{%block javascripts %}
    {{parent()}}
    <script type="text/javascript">

        $(function () {

            $('.supprimer').click(function () {
                var entityId = '';
                entityId = $(this).attr('data-id');                
                var url = '{{path("sousPrefecture_delete",{"id":"entityId"})}}';


                swal({
                    title: "{{'message_confirmation'|trans}}",
                    text: "{{'message_confirmer_suppression'|trans}}",
                    showCancelButton: true,
                    confirmButtonColor: "#3f5872",
                    cancelButtonText: "{{'annuler'|trans}}",
                    confirmButtonText: "{{'confirm_suppression'|trans}}",
                },
                        function () {
                            url = url.replace("entityId", entityId);
                            window.location.replace(url);
                        });
            });



            $('#sousPrefectures').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]], "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }});






        })
    </script>
{%endblock %}