{% extends "::base.html.twig" %}
{% block title %}{%trans%}gestion_des_secteurs{%endtrans%}{% endblock %}

{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock%}
{% block body%}

   <div class="col-lg-12">
            {% for message in app.session.flashbag.get('info') %}            
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %} 
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">
                                    {%trans%}liste_secteurs_activite{%endtrans%}
                                </h1>
                                <ol class="breadcrumb">
                                    <li>
                                        <i class="fa fa-dashboard"></i> <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('pays_index') }}">{%trans%}secteurs_activite{%endtrans%}</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
					<div style="margin-left:15px">
						<a href="{{path('secteur_new')}}" class="btn btn-default" ><i class="fa fa-plus">&nbsp;&nbsp;{%trans%}nouveau_secteur{%endtrans%}</i></a>
					<hr/>
                                        </div>
                     <div class="table-responsive panel-body" style="width:100%">
                     {%if secteurs | length!=0%}
                    
  <table id="secteurs" class="table table-bordered table-hover">
        <thead>
            <tr>
				<th>{%trans%}message_libelle{%endtrans%}</th>
                <th>{%trans%}message_code{%endtrans%}</th>
				<th>{%trans%}categorie{%endtrans%}</th>				
				<th>{%trans%}message_statut{%endtrans%}</th>				
                <th>{%trans%}message_action{%endtrans%}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in secteurs %}
            <tr>
                <td>{{ item.libelle }}</td>
				<td>{{ item.secteurActivite.code }}</td>
				<td>
					{% if item.secteurActivite.categorieActivite %}
						{{ item.secteurActivite.categorieActivite.categorieActiviteTraduction[0].libelle}}
					{% endif %}
				</td>
				<td>
				{%if item.secteurActivite.actif %}{%trans%}message_actif{%endtrans%}
				{% else %} {%trans%}message_inactif{%endtrans%}{% endif %}
				</td>
		
                <td>
	<a style = "margin-right:15px;" href = "{{path('secteur_show',{'id':item.secteurActivite.id})}}" title = "{{'modifier'|trans}}" ><i class="fa fa-pencil"></i></a>	
                {%if item.secteurActivite.actif %}
					<a href="#" title="{%trans%}desactiver{%endtrans%}"><i class="fa fa-remove desactiverSecteur"  data-id="{{item.secteurActivite.id}}"></i></a>
				{% else %}	
					<a href="#" title="{%trans%}activer{%endtrans%}"><i class="fa fa-check activerSecteur" data-id="{{item.secteurActivite.id}}"></i></a>
				{% endif %}	
					
                   
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {%else%}
                  <div class="alert alert-info">{%trans%}message_aucun_element_trouve{%endtrans%}</div>
                {%endif%}

   
        
    </div></div></div>
{% endblock %}
{%block javascripts%}
{{parent()}}
<script type="text/javascript">

    $(function () {

 $('.supprimerSecteur').click(function(){
		var secteurId = '';
		secteurId = $(this).attr('data-id');
		var url = '{{ path("secteur_delete",{"id":"secteurActiviteid"} ) }}'; 
		
		$.ajax({
				url:"{{ path('verifier_suppression_secteur') }}",
				type:'POST',
				data:{id: secteurId},
				success:function(data){	
				if (data.cas == '0') //desactivation
				{
					swal({
					title: "{{'message_confirmer_desactivation_titre'|trans}}",
					text: "{{'message_confirmer_desactivation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_desactivation'|trans}}",								
				},
                function () {
					url = url.replace("secteurActiviteid", secteurId );
					window.location.replace(url);
				});
				}
				else if (data.cas == '1')//suppression
				{
					
					swal({
					title: "{{'message_confirmation'|trans}}",
					text: "{{'message_confirmer_suppression'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_suppression'|trans}}",		
					},
					function () {
					url = url.replace("secteurActiviteid", secteurId );
					window.location.replace(url);
					});
				}
				},
				error:function(){
					alert("error");
					//toastr.warning('{{"Une erreur est survenue!"|trans}}');
					}	
				});
			});
			
	
			
			
						
$('.desactiverSecteur').click(function(){
		var secteurId = '';
		secteurId = $(this).attr('data-id');
		var url = '{{ path("secteur_toggle",{"id":"secteurid"} ) }}'; 
		
					swal({
					title: "{{'message_confirmer_desactivation_titre'|trans}}",
					text: "{{'message_confirmer_desactivation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_desactivation'|trans}}",		
					},
					function () {
					url = url.replace("secteurid", secteurId );
					window.location.replace(url);
					});
			});			
			
$('.activerSecteur').click(function(){
		var secteurId = '';
		secteurId = $(this).attr('data-id');
		var url = '{{ path("secteur_toggle",{"id":"secteurid"} ) }}'; 
		
					swal({
					title: "{{'message_confirmation'|trans}}",
					text: "{{'message_confirmer_activation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_activation'|trans}}",		
					},
					function () {
					url = url.replace("secteurid", secteurId );
					window.location.replace(url);
					});
			});
			

			

		$('#secteurs').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],"language": {
                                "sProcessing": "{{'traitement_en_cours'|trans}}",
                                "sSearch": "{{'rechercher'|trans}} :",
                                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                                "sInfoPostFix": "",
                                "sLoadingRecords": "Chargement en cours...",
                                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                                "oPaginate": {
                                    "sFirst": "{{'premier'|trans}}",
                                    "sPrevious": "{{'precedent'|trans}}",
                                    "sNext": "{{'suivant'|trans}}",
                                    "sLast": "{{'dernier'|trans}}"
                                },
                                "oAria": {
                                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                                }
        }});
			
			
       })
  </script>
{%endblock%}