{% extends "::base.html.twig" %}
{% block title %}Administration page Messagerie{% endblock %}

{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}
{%endblock%}

{% block body%}
   <div class="col-lg-12">
            {% for message in app.session.flashbag.get('info') %}            
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %} 
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">
                                    Edition page de Messagerie
                                </h1>
                                <ol class="breadcrumb">
                                    <li>
                                        <i class="fa fa-dashboard"></i>  <a href="index.html">Tableau de bord</a>
                                    </li>
								    <li>
                                       &nbsp;&nbsp;Votre messagerie
                                    </li>	
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                     {{ form_start(form,{'attr':{'name':'simpleForm','id':'simpleForm'}}) }}
                            <div class="form-group col-sm-12">
                                {{ form_label(form.mailerHost,'mailer Host (*)') }} 
                                {{ form_errors(form.mailerHost,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.mailerHost, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form_label(form.expediteurEmail,'Expediteur (Adresse Email) (*)') }} 
                                {{ form_errors(form.expediteurEmail,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.expediteurEmail, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form_label(form.expediteurName,'Expediteur (Nom)') }} 
                                {{ form_errors(form.expediteurName,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.expediteurName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form_label(form.mailerPort,'mailer Port (*)') }} 
                                {{ form_errors(form.mailerPort,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.mailerPort, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form_label(form.mailerUser,'mailer User (*)') }} 
                                {{ form_errors(form.mailerUser,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.mailerUser, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form_label(form.mailerPassword,'mailer Password (*)') }} 
                                {{ form_errors(form.mailerPassword,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.mailerPassword, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-sm-12">
                                {{ form_label(form.encryption,'Encryption (*)') }} 
                                {{ form_errors(form.encryption,{'attr':{'class':'alert alert-danger'}}) }}                                            
                                {{ form_widget(form.encryption, {'attr': {'class': 'form-control'}}) }}
                            </div>							
                            <div class="form-group col-sm-12">
                            <p class="text-info pull-left">(*) : Obligatoire</p><br/>
                            <br />
                                <br />
                                <br />
                                <input style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "Enregistrer"/>                 
                            </div>
                             {{ form_end(form) }}
                    </div>
                </div>
            </div>

                       
{% endblock %}
