{% extends "::base.html.twig" %}
{% block title %}{%trans%}titre_page_edition_ville{%endtrans%}{% endblock %}
{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{% endblock %}

{% block body%}
    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">

                        <h1 class="page-header col-sm-12">
                            {{ region.libelle }}        
                        </h1>	
                        <div class="col-sm-12">
                            <a class = "pull-right" href="{{path('region_delete',{'id':region.id})}}" title="Supprimer"><i class="fa fa-remove supprimer"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a  class = "pull-right" style = "padding-right:15px;" href="{{path('region_edit',{'id':region.id})}}" title="modifier"><i class="fa fa-pencil"></i></a>   
                        </div>	
                        <ol class="breadcrumb col-sm-12">
                            <li>
                                 <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                           </li>
                            <li>
                                <a href="{{ path('region_index') }}">{%trans%}region{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('region_show',{ id:region.id }) }}">{{ region.libelle }}</a>
                            </li>
                            <li>
                                &nbsp;&nbsp;{%trans%}details{%endtrans%}
                            </li>	
                        </ol>
                    </div>
                </div>
            </div>
            <form role="form">
                
                <div class="form-group">
                    <label for="nom">{%trans%}nom{%endtrans%} (*)</label>
                    <input  style = "margin-bottom: 15px;" type="text" value="{{region.libelle}}" class="form-control" id="nom">
                    <span style = "display:none;" class = "alert alert-danger pull-right">{%trans%}obligatoire{%endtrans%}</span>
                </div>
                <button id = "ajout" class="btn btn-success">{%trans%}modifier{%endtrans%}</button>
                <img style = "display:none;" class = "loading" src = "{{ asset('loading.gif') }}"/>
            </form>
            <div class="panel-body">
                <h3>{%trans%}liste_departements{%endtrans%}</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>{%trans%}nom{%endtrans%}</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody  id = "liste">
                        {% for departement in region.departements %}
                            <tr>
                                <td>{{ departement.code }}</td>
                                <td>{{ departement.libelle }}</td>
                                <td>
                                    <a href="{{path('departement_delete',{'id':departement.id})}}" title="Supprimer" class="supprimer"><i class="fa fa-remove"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{path('departement_edit',{'id':departement.id})}}" title="Modifier"><i class="fa fa-pencil"></i></a></td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#ajout').click(function (e) {
            e.preventDefault();

            if ($('#nom').val() != '')
            {
                if ($('#code').val() != '')
                {
                    $(this).next().show();
                    $('.loading').show();
                    $.ajax({
                        url: "{{ path('action_regions') }}",
                        type: 'POST',
                        data: {id:{{ region.id }}, nom : $('#nom').val()},
                        success: function (data) {
                            $('.loading').hide();
                            if (data.error == '0')
                            {
                               toastr.success("{{'region.modification_succes'|trans}}");
                            }
                        },
                        error: function () {
                            $('.loading').hide();
                        }
                    });
                }
                else
                    $(this).next().show();
            }
            else
                $(this).next().show();
        });
          $('.supprimer').click(function (e) {
                e.preventDefault();
                var a = $(this);
                swal({
                    title: "{{'message_confirmation'|trans}}",
                    text: "{{'message_suppression_departement'|trans}}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3f5872",
                    confirmButtonText: "{{'confirm_suppression'|trans}}",
                    cancelButtonText: "{{'annuler'|trans}}"
                },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location = a.attr('href');
                    } else {
                        e.preventDefault();
                    }
                });
            });
    </script>
{% endblock %}