{% extends "::base.html.twig" %}
{% block title %}{% trans %}depot_page_title{% endtrans %}{% endblock %}
{% block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':4})) }}
{% endblock %}                     

{% block body %}
    <style>
        .notifications {
            display: none;
        }
    </style>
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% trans %}depot_page_title{% endtrans %}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i> <a
                                        href="{{ path('administration') }}">{% trans %}dashboard{% endtrans %}</a>
                            </li>
                            <li>
                                <i>{% trans %}depot_dossier{% endtrans %}</i>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">


                            {% for message in app.session.flashbag.get('error') %}
                                {#                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}#}
                                <div style="color: red;background:#ebccd1"
                                     class="alert alert-message-warning text-center text-capitalize" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <strong>{{ message|raw }} </strong>
                                </div>
                                {#                {% endif %}#}
                            {% endfor %}

                            {% for flashMessage in app.session.flashbag.get('successErrorMail') %}
                                {#                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}#}
                                <div style="color: white;background:green"
                                     class="alert alert-message-warning text-center text-capitalize" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <strong>{{ flashMessage|raw }} </strong>
                                </div>
                                {#                {% endif %}#}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for flashMessage in app.session.flashbag.get('successErrorSMS') %}
                                {#                {% if flashMessage != '<span style="color: red;font-weight: bold ;font-size: larger"></span>' %}#}
                                <div style="color: white;background:green"
                                     class="alert alert-message-warning text-center text-capitalize" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <strong>{{ flashMessage|raw }} </strong>
                                </div>
                                {#                {% endif %}#}
                            {% endfor %}
                        </div>
                    </div>
                    {% if message %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endif %}
                    {% if isNomCommercialReserved==true %}
                        <div class="row">
                            <div class="col-lg-12 col-md-1 col-xs-12"></div>
                            <div class="col-lg-12">
                                <table class="table table-responsive table-condensed table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nom commercial</th>
                                        <th>Promoteur</th>
                                        <th>Observation</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{reservation.nomCommercial }}</td>
                                        <td>
                                            <span>Nom et prenom:{{ reservation.nom~' '~reservation.prenom }}</span><br>
                                            <span>Email:{{reservation.email  }}</span><br>
                                            <span>Tel:{{ reservation.telephone }}</span>
                                            <input id="idReservation" value="{{ reservation.id }}" type="hidden">
                                            <input id="validationCode" value="{{ reservation.validationCode }}" type="hidden">
                                        </td>
                                        <td style="color: #00af5d;font-weight: bold">
                                            {{ 'Ce Nom Commercial Est Déjà Réserve'|raw }}
                                        </td>
                                        <td>

                                            <button id="boutonMotif" data-motif="{{ 'BOCOUM-SERVICE' }}"
                                                    class=" boutonMotif btn btn-success btn-xs btn-block"><img style="width: 15px;display: none" id="loadimage"
                                                                                                               src="{{ asset('img/loading2.gif') }}" alt=""> Créer le
                                                dossier
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br><br>
                        <div id="divMotif" class="modal fade " role="dialog">
                            <div class="modal-dialog ">
                                <div class="modal-content col-md-12">
                                    <br/>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{% trans %}Verification code de validation{% endtrans %}</h4>
                                        <p>Nous avons envoyer un code de validation au promotair</p>
                                    </div>
                                    <div class="modal-body">
                                        <!-- prepending -->
                                        <style>
                                            .InputAddOn {
                                                display: flex;
                                            }

                                            .InputAddOn-field {
                                                flex: 1;
                                                /* field styles */
                                            }

                                            .InputAddOn-item {
                                                /* item styles */
                                            }

                                        </style>
                                        <label for="">Code de validation</label>
                                        <div class="InputAddOn">
                                            <input id="inputRechercher" step="1" type="number" required="required"
                                                   placeholder="Entrez le code de validation envoyer par le promoteur" class="InputAddOn-field form-control"/>
                                            <button id="btnRechercher" class="InputAddOn-item btn-primary" type="submit">Verifier</button>
                                        </div>
                                        <span hidden
                                              class="text-center alertvalidationisCorrecte ">{{ 'Code de validation incorrecte' }}</span>
                                        <div hidden class="validationisCorrecte">
                                            <div class="row"><br>
                                                <form method="get" action="{{ path('creation-dossier-du-nom-commercial-reserver') }}">
                                                    <input id="inputData" name="inputData" value="{{ reservation.id }}" type="hidden">
                                                    <button  style="background: #00af5d;" class="btn btn-warning btn-block " type="submit">
                                                        Confirmer
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {{ form_start(form,{'attr':{'name':'simpleForm','id':'simpleForm'}}) }}
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>{% trans %}type_operation{% endtrans %} (*)</label>
                            {{ form_errors(form.typeOperation,{'attr':{'class':'alert alert-danger'}}) }}
                            <img class='loading' style="display:none;margin:auto;" src="{{ asset('loading.gif') }}"/>
                            {{ form_widget(form.typeOperation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{% trans %}type_dossier{% endtrans %} (*)</label>
                            {{ form_errors(form.typeDossier,{'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.typeDossier, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{% trans %}forme_juridique{% endtrans %} (*)</label>
                            {{ form_errors(form.formeJuridique,{'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>{% trans %}denomination{% endtrans %} (*)</label>
                            {{ form_errors(form.denominationSociale,{'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.denominationSociale, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{% trans %}nom_commercial{% endtrans %}</label>
                            {{ form_errors(form.nomCommercial,{'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.nomCommercial, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{% trans %}email{% endtrans %} (*)</label>
                            {{ form_errors(form.email,{'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-6">
                            <label>{% trans %}adresse{% endtrans %} (*)</label>
                            {{ form_errors(form.adresseSiege,{'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.adresseSiege, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox col-sm-6">
                            <label for="isAguipe col-sm-4" style="margin-bottom:20px">
                                <input type="checkbox" id="isAguipe" name="isAguipe"/>
                                <b>{% trans %}isAguipe{% endtrans %}</b>
                            </label>
                        </div>
                    </div>
                    <fieldset>
                        <legend>{% trans %}renseignement_relatif_gerant{% endtrans %}</legend>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>{% trans %}nom{% endtrans %} (*)</label>
                                <input type="text" id="nom" name="nom" class="form-control" value="{{ reservation.nom }}" required="true">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{% trans %}prenom{% endtrans %} (*)</label>
                                <input type="text" id="prenom" name="prenom" class="form-control" value="{{ reservation.prenom }}"
                                       required="true">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{% trans %}date_naissance{% endtrans %} (*)</label>
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="date" id="dateNaissance" name="dateNaissance" class="form-control"
                                           value="" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>{% trans %}Adresse{% endtrans %} (*)</label>
                                <input type="text" id="adresse" name="adresse" class="form-control" value="{{ reservation.adresse }}"
                                       required="true">
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{% trans %}Téléphone{% endtrans %} (*)</label>
                                <input type="text" id="telephone" name="telephone" class="form-control" value="{{ reservation.telephone }}"
                                       placeholder="(+224) 999-99-99-99" required="true">
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="checkbox col-sm-6">
                            <label for="notification col-sm-4" style="margin-bottom:20px">
                                <input checked disabled type="checkbox" id="notifications" name="notification"/>
                                <b>{% trans %}notification{% endtrans %}</b>
                            </label>
                        </div>
                    </div>

                    <div style="display: none" class="notifications" id="blockNotifications">
                        <fieldset>
                            <legend>{% trans %}notification{% endtrans %}</legend>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label>{% trans %}notification_sms{% endtrans %}</label>
                                    {{ form_widget(form.telephonePromoteur, {'attr': {'class': 'form-control', 'id':'telephonePromoteur'}}) }}
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>{% trans %}notification_email{% endtrans %}</label>
                                    {{ form_widget(form.emailPromoteur, {'attr': {'class': 'form-control', 'id':'emailPromoteur'}}) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group col-sm-12">
                        <p class="text-info pull-left">(*) : {% trans %}message_obligatoire{% endtrans %}</p><br/>
                    </div>
                    <div>
                        <input class="btn btn-info" type="submit" value="{{ 'enregistrer'|trans }}"/>
                        <a href="{{ path('administration') }}"
                           class="btn btn-default">{% trans %}annuler{% endtrans %}</a>
                    </div>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>





{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#simpleForm').submit(function (e) {
            e.preventDefault();
            swal({
                    title: "{{ 'message_confirmation'|trans }}    ",
                    text: "{{ 'message_confirmer_depot'|trans }}",
                    showCancelButton: true,
                    confirmButtonColor: "#3f5872    ",
                    cancelButtonText: "{{ 'annuler'|trans }}    ",
                    confirmButtonText: "{{ 'message_confirmer'|trans }}",
                },
                function () {
                    $('#simpleForm').submit();
                    document.forms["simpleForm"].submit();
                    return true;
                });
        });
    </script>
    <script type="application/javascript">

        $(document).ready(function () {
            var boutonMotif = $("#boutonMotif");
            var url = "{{ path('sent-sms-email-when-depot-dossier-if-reservation') }}";
            $(boutonMotif).on('click', function () {
                $('.validationisCorrecte').attr('hidden', true);
                $('.alertvalidationisCorrecte').attr('hidden', false);
                $('.alertvalidationisCorrecte').html('');
                $('.alertvalidationisCorrecte').css({"background-color": "#ebccd", "color": "green"});
                $('#inputRechercher').css({"border":"black"});
                $('#inputRechercher').val('');

                $.ajax({
                    url: url,
                    method:'post',
                    data: { 'data': 'data' },
                   beforeSend:function () {
                       boutonMotif.attr('disabled',true);
                       $("#loadimage").show();
                   },
                    success: function (data){
                        $("#loadimage").hide();
                        $("#divMotif").modal();
                        boutonMotif.attr('disabled',false);
                    },
                    error: function () {
                        $("#loadimage").hide();
                        boutonMotif.attr('disabled',false);
                        alert('Erreur de connexion.');

                    }
                });
            });
            $('#btnRechercher').on('click', function () {
                var validationCode = $('#validationCode').val();
                var clientCode = $('#inputRechercher').val();




                if (validationCode == clientCode) {
                    $('.validationisCorrecte').attr('hidden', false);
                    $('.alertvalidationisCorrecte').attr('hidden', false);
                    $('.alertvalidationisCorrecte').html('code de vérification accepter');
                    $('.alertvalidationisCorrecte').css({"background-color": "#ebccd", "color": "green"});
                    $('#inputRechercher').css({"border":"solid green"});
                }
                else {
                    $('.validationisCorrecte').attr('hidden', true);
                    $('.alertvalidationisCorrecte').attr('hidden', false);
                    $('.alertvalidationisCorrecte').html('Désolé code de vérification incorrect');
                    $('.alertvalidationisCorrecte').css({"background-color": "#ebccd", "color": "red"});
                    $('#inputRechercher').css({"border":"solid red"});

                }
            });
        });
        const isNumericInput = (event) => {
            const key = event.keyCode;
            return ((key >= 48 && key <= 57) || // Allow number line
                (key >= 96 && key <= 105) // Allow number pad
            );
        };

        const isModifierKey = (event) => {
            const key = event.keyCode;
            return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
                (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
                (key > 36 && key < 41) || // Allow left, up, right, down
                (
                    // Allow Ctrl/Command + A,C,V,X,Z
                    (event.ctrlKey === true || event.metaKey === true) &&
                    (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
                )
        };

        const enforceFormat = (event) => {
            // Input must be of a valid number format or a modifier key, and not longer than ten digits
            if (!isNumericInput(event) && !isModifierKey(event)) {
                event.preventDefault();
            }
        };

        const formatToPhone = (event) => {
            if (isModifierKey(event)) {
                return;
            }

            // I am lazy and don't like to type things more than once
            const target = event.target;
            const input = event.target.value.replace(/\D/g, '').substring(0, 12); // First ten digits of input only
            const zip = '224';
            const middle = input.substring(3, 6);
            const middle1 = input.substring(6, 8);
            const middle2 = input.substring(8, 10);
            const middle3 = input.substring(10, 12);


            if (input.length > 10) {
                target.value = `(+${zip}) ${middle}-${middle1}-${middle2}-${middle3}`;
            } else if (input.length > 7) {
                target.value = `(+${zip}) ${middle}-${middle1}-${middle2}`;
            } else if (input.length > 5) {
                target.value = `(+${zip}) ${middle}-${middle1}`;
            } else if (input.length > 0) {
                target.value = `(+${zip}) ${middle}`;
            }
        };

        const inputElement = document.getElementById('telephone');
        inputElement.addEventListener('keydown', enforceFormat);
        inputElement.addEventListener('keyup', formatToPhone);
    </script>
{% endblock %}