{% extends '::base.html.twig' %}



{% block body %}
<style>
input[type="checkbox"][readonly] {
  pointer-events: none;
}
</style>
    <div class="col-lg-12">
        <div class="hpanel">  
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}document_retrait{%endtrans%} n° {{idd}}
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            				
				<!--div class=" row" >
					<div class="form-group col-sm-4"><label>{%trans%}beneficiaire{%endtrans%}</label><input type="text" class="form-control" name="beneficiaire"  value="" required="required" /></div>
					<div class="form-group col-sm-4"><label>{%trans%}telephone{%endtrans%}</label><input type="text" class="form-control" name="telephone"  value="" required="required" /></div>
				</div-->
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th></th> 
                            <th>{%trans%}pole{%endtrans%}</th>
							<th>{%trans%}document{%endtrans%}</th>
							<th>{%trans%}date_delivrance{%endtrans%}</th>
                            <th>{%trans%}date_retrait{%endtrans%}</th>
							<th>{%trans%}beneficiaire{%endtrans%}</th>
							<th>{%trans%}telephone{%endtrans%}</th>
                        </tr>
                    </thead>

                    {% for a in listDocument %}						
                        <tr>
                            <td><input type="checkbox" class="cocher"  name="checkbox[{{loop.index}}]" {% if a.estRetire %}checked="checked" readonly{% endif %} />
							<a href = "{{ path('piecejointe_viewpdf', { 'idd': idd, 'pdfName': a.nomFichier }) }} " target="_blank"><i class="fa fa-file-pdf-o "></i></a>
							<input type="hidden" name="idPole[{{loop.index}}]" value="{{ a.pole.id }}" />
							<input type="hidden" name="idLibelleFormulaireDelivre[{{loop.index}}]" {% if a.LibelleFormulaireDelivre %}value="{{ a.LibelleFormulaireDelivre.id }}"{% endif %} />
							<input type="hidden" name="numero[{{loop.index}}]" value="{{ a.numero }}" /></td>
                            <td>{{ a.pole.nom }}</td>
							<td>{% if a.libelleFormulaireDelivre %}{{ a.libelleFormulaireDelivre.libelle }}{% endif %}</td>
                            <td>{% if a.dateCreation %}{{ a.dateCreation|date('d-m-Y H:i:s') }}{% endif %}</td>
							<td>{% if a.dateRetrait %}{{ a.dateRetrait|date('d-m-Y H:i:s') }}{% endif %}</td>							
                            <td>{{ a.beneficiaire }}</td> 
                            <td>{{ a.telephone }}</td>  

                        </tr>            
                    {% endfor %}


                </table>
                    <div class="btn-group">                                               
                        <br />                    
                        <!--input style = "width:100px;" class = "btn btn-success form-control col-sm-3" id="btnSubmit" name="btnSubmit" type = "submit" value = "Enregistrer"/-->                            
						<input class="btn btn-default btn-goto"   type="button" value="{%trans%}retour{%endtrans%}" 
							data-url="{{path('lister_retirer')}}" />

                    </div>
            
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(".btn-goto").click(function () {
            var url = $(this).attr('data-url');
            window.location.href = url;
        });
        $(document).ready(function () {
            var nbc = $("#nbrePoleCocher").val();
            if (nbc == 0) {

                $(".cocher").attr("checked", true);
            }
        });
    </script>
{%endblock %}   