{% extends '::base.html.twig' %}

{%block title%}definition_commissaire{%endblock%}


{% block body %}
    <div class="col-lg-12">
        <div class="hpanel">  
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}commissaires_au_compte_pageTitle{%endtrans%} {% if numeroDossier %} <label class="pull-right h4" style="color: #d44">{%trans%}message_dossier_numero{%endtrans%} {{numeroDossier}}</label>{%endif%}
                        </h1>
                        {% block sousMenu %}
                            {{ render(controller("BanquemondialeBundle:Shared:etapeBrouillon",{'idd':idd})) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel-body">
                {% for message in app.session.flashbag.get('info') %}            
                    <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
                <form name="frmCommissaire" action="{{path('ajoutCommissaire',{'idd':idd,'idC':idC})}}" method="POST">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>{%trans%}utilisateur.nom{%endtrans%} (*)</label>
                            {{ form_errors(form.commissionnaireAuCompte,{'attr':{'class':'alert alert-danger'}}) }}								
                            {{ form_widget(form.commissionnaireAuCompte, {'attr': {'class': 'form-control choixCom'}}) }}
                        </div>
                        <div class="form-group col-sm-4 hidden">
                            <label>{%trans%}prenom{%endtrans%}</label>                            								
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}adresse{%endtrans%}</label>

                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}message_fonction{%endtrans%} (*)</label>
                            {{ form_errors(form.fonction,{'attr':{'class':'alert alert-danger'}}) }}								
                            {{ form_widget(form.fonction, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <input style="max-width: 100px" class = "btn btn-success form-control col-sm-3" type="submit" value="{% trans %}enregistrer{% endtrans%}" />                
                    </div>
                    {{ form_rest(form) }}
                </form> 
            </div>
            <div class="table-responsive" style="width:100%">
                <table class="table table-striped  table-bordered">
                    <thead>
                        <tr>
                            <th style="white-space:nowrap"></th>
                            <th>{%trans%}message_nom{%endtrans%}</th>
                            <th>{%trans%}message_prenom{%endtrans%}</th>           
                            <th>{%trans%}adresse{%endtrans%}</th>
                            <th>{%trans%}message_date_naissance{%endtrans%}</th>
                            <th>{%trans%}message_lieu_naissance{%endtrans%}</th> 
                            <th>{%trans%}message_fonction{%endtrans%}</th>
                        </tr>
                    </thead>


                    {% for c in listCommissaire %}                
                        <tr>
                            <td style="white-space:nowrap"><a href="{{path('ajoutCommissaire',{'idd':idd,'idC':c.id})}}" title="{{'Modifier'|trans}}" class=""><span class='glyphicon glyphicon-pencil'></span></a> |
                                <a href="#" data-idC="{{c.id}}" data-idd="{{idd}}" title="supprimer" class="deleteCommisaire"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                            <td>{{ c.commissionnaireAuCompte.nom }}</td> 
                            <td>{{ c.commissionnaireAuCompte.prenom }}</td>  
                            <td>{{ c.commissionnaireAuCompte.adresse }}</td> 
                            <td>{% if c.commissionnaireAuCompte.dateNaissance %}{{ c.commissionnaireAuCompte.dateNaissance|date('d-m-Y') }}{% endif %}</td> 
                            <td>{{ c.commissionnaireAuCompte.lieuNaissance }}</td>
                            <td>{{c.typeFonctionTraduction}}</td>
                        </tr>                       
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{parent()}}
        <script>
		$(".choixCom").change(function(){
			remplir();
		});
		
		function remplir()
		{
		
			 $.ajax({
                        url: "{{ path('CommissionnaireAuCompte_loadInfosCom') }}",
                        type: 'POST',
                        data: {id: $('.choixCom').val()},
                        success: function (data) {
                            if (data.error == '0')
                            {
								document.getElementById('banquemondialebundle_commissionnaireAuCompte_adresse').value = data.adresse;
                            }
                        },
                        error: function () {
						
                        }
                    });
		}

            $(".deleteCommisaire").click(function () {
                var idCircuit = $(this).attr("data-idC");
                var idd=$(this).attr("data-idd");
                var url = '{{ path("supprimer_Commissaire",{"idd":"idd", "idC":"idc"} ) }}';

                swal({
                    title: "{{'message_confirmation'|trans}}",
                    text: "{{'message_confirmer_suppression'|trans}}",
                    showCancelButton: true,
                    confirmButtonColor: "#3f5872",
                    cancelButtonText: "{{'annuler'|trans}}",
                    confirmButtonText: "{{'confirm_suppression'|trans}}",
                },
                        function () {
                            url = url.replace("idc", idCircuit);
                            url = url.replace("idd", idd);
                            window.location.replace(url);
                        });
            });
			
        </script>
    {% endblock %}