{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nom }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ contact.fonction }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ contact.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td>{{ contact.siteWeb }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contact.adresse }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if contact.dateModification %}{{ contact.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresseip</th>
                <td>{{ contact.adresseIp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
