{% extends '::base.html.twig' %}
{%block title %}message_liste_representant{%endblock %}

{% block body %}
    <div class="hpanel">  
        <div class="panel-heading">
            <h1 class="page-header">{%trans%}message_liste_representant{%endtrans%}<label class="pull-right h4" style="color: #d44" >{%trans%}message_dossier{%endtrans%} n° {{numeroDossier}}</label></h1>
            {% block sousMenu %}
                {{ render(controller("BanquemondialeBundle:Shared:etapeCreationPole",{'idd':idd})) }}
            {% endblock %}
        </div>
        <div class="panel-body table-bordered">

            <div class="row">
                <div class="form-group col-sm-4">
                    <label>{%trans%}message_nom{%endtrans %}</label>
                    <br/>
                    {{ representant.nom }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}message_prenom{%endtrans %}</label>
                    <br/>
                    {{ representant.prenom }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}message_genre{%endtrans %}</label>
                    <br/>
                    {{ representant.genre }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>{%trans%}date_naissance{%endtrans %}</label>
                    <br/>
                    {%if representant.dateDeNaissance%}{{ representant.dateDeNaissance|date('d-m-Y') }}{%endif%}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}lieu_naissance{%endtrans %}</label>
                    <br/>
                    {{ representant.LieuNaissance }}
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>{%trans%}nationalite{%endtrans %}</label>
                    <br/>
                    {{ representant.nationalite }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}fonction{%endtrans %}</label>
                    <br/>
                    {{ representant.libelleFonction }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}utilisateur.type_identification{%endtrans %}</label>
                    <br/>
                    {{ representant.typeIdentification }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>{%trans%}message_num_cni{%endtrans %}</label>
                    <br/>
                    {{ representant.numeroIdentiteNational }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}phone{%endtrans %}</label>
                    <br/>
                    {{ representant.telephone }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}phone{%endtrans %} 2</label>
                    <br/>
                    {{ representant.portable }}
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>{%trans%}email{%endtrans %}</label>
                    <br/>
                    {{ representant.email }}
                </div>               
                <div class="form-group col-sm-4">
                    <label>{%trans%}situation_matrimoniale{%endtrans %}</label>
                    <br/>
                    {{ representant.situationMatrimoniale }}
                </div>
            </div>
            <div class="row">
                {%if representant.adresse%}
                <div class="form-group col-sm-4">
                    <label>{%trans%}adresse{%endtrans %}</label>
                    <br/>
                    {{ representant.adresse }}
                </div>
                    {%endif%}
                <div class="form-group col-sm-4">
                    <label>{%trans%}ville{%endtrans %}</label>
                    <br/>
                    {{ representant.ville }}
                </div>
                <div class="form-group col-sm-4">
                    <label>{%trans%}quartier{%endtrans %}</label>
                    <br/>
                    {{ representant.quartier }}
                </div>

            </div>                       
            <div class="row pull-right">

                {% if routeAvant %}<input class="btn btn-primary btn-goto" style="width: 100px" value="{{'precedent'|trans}}" type="button" data-url="{{path(routeAvant,{'idd':idd})}}" />{% endif %}
                {% if rteSuivant %}<input class="btn btn-info btn-goto" style="width: 100px" value="{{'suivant'|trans}}" type="button" data-url="{{path(rteSuivant,{'idd':idd})}}" />{% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('#datetimepicker').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
        });

        $(".btn-goto").click(function () {
            var url = $(this).attr('data-url');
            window.location.href = url;
        });

    </script>       
{% endblock %}