{% extends '::base.html.twig' %}


{%block title %}liste_piece_jointe{%endblock %}
{% block active %}
{{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{% endblock %}
{% block body %}
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {%trans%}piece_jointe{%endtrans%} 
					<label class="pull-right h4" style="color: #d44">
						{%trans%}message_dossier{%endtrans%} n° {{dd.numeroDossier}}
					</label>
                </h1>

            </div>
        </div>
    </div>
    <div class="panel-body">   
        <h4><span class="label label-primary">Documents Délivrés</span></h4>
        <table class="table-responsive table-striped table table-bordered" >
            <thead>
                <tr>
                    <th style="width: 50px"></th>
                    <th>{%trans%}document{%endtrans%}</th>  
                    <th>{%trans%}pole{%endtrans%}</th>
                </tr>
            </thead>
            {% for poleAyantDelivre in listeDocDelivres %} 
                {%set printed=0%}
                {% for doc in poleAyantDelivre.doc %} 
                    <tr>
                        <td>                                  								
                            <a href = "{{ path('piecejointe_viewpdf', { 'idd': dd.id, 'pdfName': doc.nomFichier }) }} " 
							target="_blank" class="btn btn-default btn-file glyphicon glyphicon-search"></a>							                           
                        </td>
                        <td>                                  								
                            {{ doc.libelleDocument }}
                        </td>   
                        {%if printed==0%}
                            <td rowspan="{{poleAyantDelivre.rowspan}}">{{ poleAyantDelivre.poleName }}</td>
                        {%endif%}
                    </tr> 
                    {%set printed=printed+1%}                 
                {% endfor %}
            {% endfor %}
        </table> 
        <h4><span class="label label-primary">Documents Accompagnants</span></h4>
        <table class="table-responsive table-striped table table-bordered" >
            <thead>
                <tr>
                    <th style="width:50px"></th> 
                    <th>{%trans%}document{%endtrans%}</th>
                    <th>{%trans%}proprietaire{%endtrans%}</th>
                    <th>{%trans%}fonction{%endtrans%}</th>
                </tr>
            </thead>                
            {% for a in listPieceEntreprise %}
                <tr>                                                   
                    <td>                                  								
                        <a href = "{{ path('piecejointe_viewpdf', { 'idd': dd.id, 'pdfName': a.pieceName }) }} " 
						target="_blank" class="btn btn-default btn-file glyphicon glyphicon-search"></a>								
                    </td>					
                    <td>{{ a.libelleDocument }}</td>
                    <td>{{a.proprietaire}}</td>
                    <td>{{a.fonction}}</td>
                </tr>   
            {% endfor %}
        </table>
		{% if app.user.profile.description != "gec" %}		
        <input class="btn btn-default btn-goto"   type="button" value="{%trans%}retour{%endtrans%}" 
               {%if idS  and idS!=1%} data-url="{{path('dossierPole',{'idS':idS})}}" 
               {%else%} data-url="{{path('dossierPole')}}"{%endif%}/>
		{%else%}
			{%if dd.statutValidationChefGreffe != 2%}
			 <input class="btn btn-default btn-goto"   type="button" value="{%trans%}retour{%endtrans%}" data-url="{{path('dossierAValiderChefGreffe',{'idS':idS})}}" />
			{%else%}
			<input class="btn btn-default btn-goto"   type="button" value="{%trans%}retour{%endtrans%}" data-url="{{path('dossierValideChefGreffe',{'idS':idS})}}" />
			{%endif%}
		{%endif%}
    </div>


{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(".btn-goto").click(function () {
            var url = $(this).attr('data-url');
            window.location.href = url;
        });
    </script>
{% endblock %}



