{% extends '::base.html.twig' %}
{%block title %}
    {%if profilName=="saisi"%}
        brouillon_saisi
    {%else%}
        brouillon
    {%endif%}
{% endblock%}
{% block body %}
    <div class="container" style="width:100%">


        <h1>
            {%trans%}dossier_diaspora{%endtrans%}
        </h1>

        <div class="col-md-12" style="margin:0 0 20px 0">
            <form method="POST" {{ form_enctype(form) }}>

                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>{%trans%}numero_dossier{%endtrans %} </label> 								
                        {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-sm-4">
                        <label>{%trans%}denomination{%endtrans%}</label>      
                        {{ form_widget(form.denominationSociale, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-sm-2" style="min-width:170px">
                        <label>{%trans%}date_debut_creation{%endtrans%}</label>                                
                        <div class="input-group date" id="datetimepicker1">
                            {{ form_widget(form.dateCreationDebut, {'attr': {'class': 'datepicker1 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="min-width:170px">
                        <label>{%trans%}date_fin_creation{%endtrans%}</label>
                        <div class="input-group date" id="datetimepicker2">
                            {{ form_widget(form.dateCreationFin, {'attr': {'class': 'datepicker2 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>                 

                    <div class="form-group col-sm-4">
                        <label>{%trans%}forme_juridique{%endtrans%}</label>   
                        {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-sm-2" style="margin-top:25px">
                        <button type="submit"  class="btn btn-info" >{%trans%}search{%endtrans%}  <span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
                {% do form.numeroDossier.setRendered %}
                {% do form.statut.setRendered %}
                {{ form_end(form, {'render_rest': false}) }}
            </form>
        </div>



        <div>		
            <table id="dossiers" class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>{%trans%}numero_dossier{%endtrans %}</th>
                            {#<th>{%trans%}type_operation{%endtrans%}</th>#}
                        <th>{%trans%}forme_juridique{%endtrans%}</th>          
                        <th>{%trans%}denomination{%endtrans%}</th>
                        <th>{%trans%}nom_commercial{%endtrans%}</th>
                        <th>{%trans%}type_dossier{%endtrans%}</th>
                        <th>{%trans%}date_creation{%endtrans%}</th>
                    </tr>
                </thead>
                {% for a in listerdemande %}
                    <tr>
                        
                        <td>
                            {%if a.statutValidation%}
                                <a href="{{path('situationTraitementPole',{'idd':a.id})}}" title="dossier" class="">
                                    <span class='glyphicon glyphicon-folder-close'></span>
                                </a>
                            {%else%}
                                <a href="{{path('editDossierDiaspora',{'idd':a.id})}}" title="dossier">
                                    <span class='glyphicon glyphicon-folder-open'></span>
                                </a>
                            {%endif%}
                        </td>
                        <td>{{ a.id }}</td>

                        <td>{{ a.libelleFormeJ }}</td>          
                        <td>{{ a.denominationSociale }}</td>
                        <td>{{ a.nomCommercial }}</td>
                        <td>{{ a.typeDossier }}</td>
                        <td>{% if a.dateCreation %}{{ a.dateCreation|date('d-m-Y  H:i:s') }}{% endif %}</td>

                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}


{%block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

            $('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
        }
        );
    </script>


    <script type="text/javascript">

        $(function () {
            $('#dossiers').DataTable({"bInfo": false, "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]], bFilter: false, "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }});
        }
        );


    </script>

{% endblock %}
