{% extends "::base.html.twig" %}
{% block title %}{%trans%}page_administration_profile_titre{%endtrans%}{% endblock %}

{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':5})) }}

{%endblock%}
{% block body%}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}page_administration_profile_titre{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                <a href="{{ path('profile_index') }}">{%trans%}profil{%endtrans%}</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body table-responsive">
			
			<div><a id = "ffa" href="#" class="btn btn-default"><i class="fa fa-plus">&nbsp;&nbsp;{%trans%}ajouter_profil{%endtrans%}</i></a></div>
				<br />
                {%if profiles | length!=0%}

                    <table class="table table-bordered table-hover" id="profils">
                        <thead>
                            <tr>
                                <th>{%trans%}profil.nom{%endtrans%}</th>	
                                <th>{%trans%}profil.pole{%endtrans%}</th>
                                <th>{%trans%}profil.description{%endtrans%}</th>								
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id = "listeprofile">
                            {% for profile in profiles %}
                                <tr class="" id="{{ profile.id }}">
                                    <td class = "nom" >
                                        {%set nom =repository.getProfileTraduction(profile.id,app.request.locale)%}
                                        {%if nom%}
                                        {{ nom}}
                                        {%else%} {{'pas_de_traduction'|trans}}{%endif%}
                                    </td>
                                    <td class="poleTr">{%if profile.pole%}{{profile.pole.nom}}{%endif%}</td>
                                    <td class = "descriptionTr" >
                                        {{ profile.description | slice(0,100) }}
                                    </td>									
                                    <td>
                                        <a class = "info" href = "{{ path('details_profile',{id:profile.id}) }}" title = "Details" ><i class="fa fa-pencil"></i></a>										
                                        <a class = "supprimerTra" style = "margin-left:15px;"  href = "#" title = "{%trans%}supprimer{%endtrans%}" ><i class="fa fa-remove"></i></a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>	
                    
                    <form id = "ff" style = "margin-top:15px;display:none;">
                        <div class="form-group">
                            <label>{%trans%}profil.nom{%endtrans%}</label>
                            <input id = "form_profile_code" type = "text" class ="form-control" name = "nom" />
                        </div>	
                        <div class="form-group">
                            <label>{%trans%}profil.description{%endtrans%}</label>
                            <textarea id = "form_profile_description" class ="form-control" name = "description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>{%trans%}profil.pole{%endtrans%}</label>
                            <select id="pole" name="pole" class="form-control">
                                {%for pole in poles %}
                                    <option value="{{pole.nom}}">{{pole.nom}}</option>

                                {%endfor%}
                            </select>
                        </div>      
                        <button id = "ajouterprofile" class="btn btn-success">{%trans%}ajouter{%endtrans%}</button>	
                        <button id = "annuler" class="btn btn-default">{%trans%}annuler{%endtrans%}</button>							  
                        <div class = "loading" style = "display:none;margin-top:15px;" class="col-lg-12">
                            <img style = "display:block;margin:auto;" src="{{ asset('loading.gif') }}" />
                        </div>          

                    </form>
                    <hr />

                {%else%}
                    <div class="alert alert-info">{%trans%}profile_indisponible{%endtrans%}</div>
                    <form id = "ff" class = "ny" style = "margin-top:15px;display:none;" role="form" class = "form-inline" >
                        <div class="form-group">
                            <label>{%trans%}profil.nom{%endtrans%}</label>
                            <input id = "form_profile_code" type = "text" class ="form-control" name = "nom" />
                        </div>
                        <div class="form-group">
                            <label>{%trans%}profil.description{%endtrans%}</label>
                            <textarea id = "form_profile_description" class ="form-control" name = "description" ></textarea>
                        </div>
                        div class="form-group">
                        <label>{%trans%}profil.pole{%endtrans%}</label>
                        <select id="pole" name="pole" class="form-control">
                            {%for pole in poles %}
                                <option value="{{pole.nom}}">{{pole.nom}}</option>
                            {%endfor%}
                        </select>
                </div>      
                <button id = "ajouterprofile" class="btn btn-success">{%trans%}ajouter{%endtrans%}</button>					 
                <img style = "display:none;" class = "loading" src = "{{ asset('loading.gif') }}"/>
                </form>
                <a id = "ffa"  href="#"><iclass="fa fa-plus">&nbsp;&nbsp;{%trans%}ajouter_profil{%endtrans%}</i></a>
            {%endif%}

        </div></div></div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
<script>
    $(function () {
        $('#profils').DataTable({"language": {
                "sProcessing": "{{'Traitement en cours...'|trans}}",
                "sSearch": "{{'rechercher'|trans}} :",
                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                "oPaginate": {
                    "sFirst": "{{'premier'|trans}}",
                    "sPrevious": "{{'precedent'|trans}}",
                    "sNext": "{{'Suivant'|trans}}",
                    "sLast": "{{'dernier'|trans}}"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }});
    });

    $("#ffa").click(function () {

        if ($("#ff").css('display') == 'none') {

            $('#form_profile_code').val('');
            $('#form_profile_description').val('');

            $('#ajouterprofile').text('Ajouter');

            $("#ff").fadeIn("slow", function () {

            });
        }
        else
        {
            alert($("#ff").css('display'));
            $("#ff").fadeOut("fast", function () {
            });
        }
    });

    $('#annuler').click(function (e) {
        e.preventDefault();
        $("#ff").fadeOut("fast", function () {
            $('#ffa').show();
        });
        $('#form_profile_code').val('');
        $('#form_profile_code').val('');

        $('#ajouterprofile').text('Ajouter');
    });

    $('.supprimerTra').on('click', function () {

        $('listeprofile tr').each(function () {
            $(this).attr('class', '');
        });

        var tr = $(this).parent().parent().attr('class', 'click');

        $('#listeprofile tr').each(function () {
            if ($(this).attr('class') == 'click')
            {
                tr = $(this);
            }
        });

        $('.loading').show();

        $.ajax({
            url: "{{ path('delete_profile') }}",
            type: 'POST',
            data: {profile: $(tr).attr('id')},
            success: function (data) {
                $('.loading').hide();
                if (data.error == '0')
                {
                    $(tr).remove();
                    $('#ffa').show();
                }
            },
            error: function () {
                toastr.warning('{{"Une erreur est survenue!"|trans}}');
                $('.loading').hide();
            }
        });

    });

    $('.modifierTra').on('click', function (e) {

        e.preventDefault();
        $('listeprofile tr').each(function () {
            $(this).attr('class', '');
        });

        var tr = $(this).parent().parent().attr('class', 'click');

        if ($("#ff").css('display') == 'none') {
            $('#ffa').hide();
            $("#ff").fadeIn("slow", function () {

                $('#form_profile_description').val($(tr).find('.descriptionTr').text().trim());
                $('#form_profile_code').val($(tr).find('.nom').text().trim());

                $('#ajouterprofile').text('Modifier');
            });
        }
        else
        {
            if ($('#ajouterprofile').text() == 'Modifier')
            {
                $('#form_profile_description').val($(tr).find('.descriptionTr').text().trim());
                $('#form_profile_code').val($(tr).find('.nom').text().trim());
            }
            else
            {
                $('#ffa').hide();
                $('#form_profile_description').val($(tr).find('.descriptionTr').text().trim());
                $('#ajouterprofile').text('Modifier');
            }
        }
    });

    $('#ajouterprofile').click(function (e) {

        e.preventDefault();
        var canI = true;
        $('#ff input').each(function () {
            if ($(this).val() == '')
            {
                canI = true;
            }
        });


        if (canI == true)
        {
            $('.loading').show();

            if ($(this).text() != 'Modifier')
            {
                $.ajax({
                    url: "{{ path('add_profile') }}",
                    type: 'POST',
                    data: {description: $('#form_profile_description').val(), nom: $('#form_profile_code').val(), pole: $('#pole').val(), description : $('#form_profile_description').val()},
                    success: function (data) {
                        $('.loading').hide();
                        if (data.error == '0')
                        {
                            if ($('#ff').attr('class') == 'ny')
                            {
                                location.reload();
                            }
                            else
                            {
                                var route_edit = "#";

                                var route_del = "#";

                                $('#listeprofile').append("<tr><td>" + $('#form_profile_description').val() + "</td><td></td><td>" + $('#form_profile_code').val() + "</td><td><a class=\"supprimerTra\" href=" + route_del + " title=\"Supprimer\"><i class=\"fa fa-remove supprimer\"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class=\"modifierTra\" href=" + route_edit + " title=\"Modifier\"><i class=\"fa fa-pencil\"></i></a></td></tr>");

                                $("#ff").fadeOut("fast", function () {
                                    $('#ffa').show();
                                });

                                $('#form_profile_description').val('');
                            }
                            location.reload();
                        }
                    },
                    error: function () {
                        $('.loading').hide();
                    }
                });
            }
            else
            {
                var tr;

                $('#listeprofile tr').each(function () {
                    if ($(this).attr('class') == 'click')
                    {
                        tr = $(this);
                    }
                });

                $.ajax({
                    url: "{{ path('update_profile') }}",
                    type: 'POST',
                    data: {description: $('#form_profile_description').val(), nom: $('#form_profile_code').val(), pole: $('#pole').val(), profile: $(tr).attr('id')},
                    success: function (data) {
                        $('.loading').hide();
                        if (data.error == '0')
                        {
                            $(tr).find('.nom').text($('#form_profile_code').val());
                            $(tr).find('.descriptionTr').text($('#form_profile_description').val());
                            $(tr).find('.poleTr').text($('#pole').val());

                            $("#ff").fadeOut("fast", function () {
                                $('#ffa').show();
                            });

                            $('#form_profile_description').val('');
                        }
                    },
                    error: function () {
                        $('.loading').hide();
                    }
                });
            }
        }
    });
</script>
{% endblock %}	