{% extends '::base.html.twig' %}

{%block title %}definition_associe{%endblock%}


{% block body %}
    <div class="hpanel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {%trans%}message_associes{%endtrans%} {% if numeroDossier %} <label class="pull-right h4" style="color: #d44">{%trans%}message_dossier_numero{%endtrans%} {{numeroDossier}}</label>{%endif%}
                    </h1>
                    {% block sousMenu %}
                        {{ render(controller("BanquemondialeBundle:Shared:etapeBrouillon",{'idd':idDossier})) }}
                    {% endblock %}                        
                </div>
            </div>
        </div>   
        <div class="panel-body">
            {#<a href="{{ path('Associe_listerassocie', { 'id': 0, 'idd':idDossier }) }}" title="{%trans%}message_nouveau{%endtrans%}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>#}
            <div class="panel-body">
                {% if message %}
                    <p class="alert alert-success">{{ message }}</p>
                {% endif %}

                {% if associe.id == 0 %}
                    {{ form_start(form,{'attr':{'name':'simpleForm','id':'simpleForm'}}) }}
                {% else %}
                    <form id="form" action="{{ path('Associe_listerassocie',{'id':associe.id, 'idd':idDossier}) }}" method="POST" {{ form_enctype(form)}}>     
                    {% endif %}
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>{%trans%}type_associe{%endtrans%} (*)</label> 
                            {{ form_errors(form.typeEntreprise,{'attr':{'class':'alert alert-danger'}}) }}                                            
                            {{ form_widget(form.typeEntreprise, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="representant_nom">{%trans%}Nom.Denomination{%endtrans%} (*)</label>
                            {{ form_errors(form.nom,{'attr':{'class':'alert alert-danger'}}) }}								
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>                      
                        <div class="" id="divPP">
                            <div class="form-group col-sm-4">
                                <label>{%trans%}message_prenom{%endtrans%}</label> 
                                {{ form_errors(form.prenom,{'attr':{'class':'alert alert-danger'}}) }}								
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group col-sm-4">
                                <label>{%trans%}message_date_naissance{%endtrans%}</label> 
                                {{ form_errors(form.dateNaissance,{'attr':{'class':'alert alert-danger'}}) }} 
                                <div class="input-group date" id="datetimepicker">
                                    {{ form_widget(form.dateNaissance, {'attr': {'class': 'datepicker form-control'}}) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>{%trans%}message_lieu_naissance{%endtrans%}</label> 
                                {{ form_errors(form.lieuNaissance,{'attr':{'class':'alert alert-danger'}}) }}								
                                {{ form_widget(form.lieuNaissance, {'attr': {'class': 'form-control'}}) }}
                            </div> 
                            <div class="form-group col-sm-4">
                                <label>{%trans%}message_nationalite{%endtrans%}</label> 
                                {{ form_errors(form.pays,{'attr':{'class':'alert alert-danger'}}) }}								
                                {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
                            </div>        
                        </div>	
                        <div class="form-group col-sm-4">
                            <label>{%trans%}message_adresse{%endtrans%} (*)</label>
                            {{ form_errors(form.adresse,{'attr':{'class':'alert alert-danger'}}) }}								
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>    
                        <div class="form-group col-sm-4 hidden">                                            
                            {{ form_widget(form.dossierDemande, {value:idDossier}, {'attr': {'class': 'form-control', 'Style':''}}) }}
                        </div>                          

                    </div>
                    <div class="form-group col-sm-12">
                        <p class="text-info pull-left">(*) : {%trans%}message_obligatoire{%endtrans%}</p><br/>
                        <br />                       
                        <input style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{% trans %}message_enregistrer{% endtrans%}"/>
                        <a href = "{{ path('Associe_listerassocie', { 'id': 0, 'idd':idDossier }) }}" style = "width:100px;" class = "btn btn-default form-control col-md-offset-8 col-sm-1">{%trans%}message_annuler{%endtrans%}</a>                                                                                 
                    </div>
                    {% if associe.id != 0 %}    
                    </form>   
                {% endif %}
                {{ form_end(form) }}

                <!--/div>
                </fieldset-->
            </div>

            <div class="table-responsive " style="width:100%">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{%trans%}Nom.Denomination{%endtrans%}</th>
                            <th>{%trans%}message_prenom{%endtrans%}</th>
                            <th>{%trans%}message_date_naissance{%endtrans%}</th>
                            <th>{%trans%}message_lieu_naissance{%endtrans%}</th>
                            <th>{%trans%}adresse{%endtrans%}</th>
                        </tr>
                    </thead>
                    {% for a in listerAssocie %}
                        <tr>
                            <td style="white-space:nowrap;width: 200px;"><a href="{{ path('Associe_listerassocie', { 'id': a.id, 'idd':idDossier }) }}" title="{%trans%}message_modifier{%endtrans%}" class="btn btn-primary"><span class='glyphicon glyphicon-pencil'></span></a> |
                                <a href="{{ path('Associe_supprimer', { 'id': a.id, 'idd':idDossier }) }}" onclick="return confirm('{%trans%}message_confirmer_suppression{%endtrans%}')" title="{%trans%}message_supprimer{%endtrans%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a> | <a href="{{ path('associe_details', { 'id': a.id }) }}" title="{%trans%}message_voir_details{%endtrans%}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></a>
                            </td>
                            <td>{{ a.nom }}</td>
                            <td>{{ a.prenom }}</td>
                            <td>{% if a.dateNaissance%}{{ a.dateNaissance|date('d-m-Y') }}{%endif%}</td>
                            <td>{{ a.lieuNaissance }}</td>
                            <td>{{ a.adresse }}</td>	
                        </tr>
                    {% else %} <tr><td>{%trans%}message_aucun_element_trouve{%endtrans%}</td></tr>
                    {% endfor %}
                </table>

            </div>
        {% endblock %}

        {% block javascripts %}
            {{parent()}}
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
                }
                );
                $(function () {
                    $('#divPP').hide();
                    if ($('#banquemondialebundle_associe_typeEntreprise').val() == 1) {
                        $('#divPP').show();
                    } else {
                        $('#divPP').hide();
                    }
                    $('#banquemondialebundle_associe_typeEntreprise').change(function () {
                        if ($('#banquemondialebundle_associe_typeEntreprise').val() == 1) {
                            $('#divPP').show();
                        } else {
                            $('#divPP').hide();
                        }
                    });
                });
            </script>

        {% endblock %}