{% extends 'base.html.twig' %}

{% block body %}
<h2>{%trans%}message_details_associe{%endtrans%}</h2>
<br/>
<div class="row">
    <div class="form-group col-sm-4">
		<label>{%trans%}message_nom{%endtrans%}</label>
		<br/>
		{{ associe.nom }}
	</div>

    <div class="form-group col-sm-4">
		<label>{%trans%}message_prenom{%endtrans%}</label>
		<br/>
		{{ associe.prenom }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_date_naissance{%endtrans%}</label>
		<br/>
		 {% if associe.dateNaissance %}{{ associe.dateNaissance|date('Y-m-d') }}{% endif %} 
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_adresse{%endtrans%}</label>
		<br/>
		{{ associe.adresse }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}utilisateur.type_identification{%endtrans%}</label>
		<br/>
		{{ associe.typeIdentification }}
	</div>	
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_num_cni{%endtrans%}</label>
		<br/>
		{{ associe.numeroIdentificationNationale }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_tel_fixe{%endtrans%}</label>
		<br/>
		{{ associe.telephone }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_tel_portable{%endtrans%}</label>
		<br/>
		{{ associe.portable }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_email{%endtrans%}</label>
		<br/>
		{{ associe.email }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_nationalite{%endtrans%}</label>
		<br/>
		{{ definedPaysTraduction }}
	</div>
	
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_genre{%endtrans%}</label>
		<br/>
		{{ definedGenreTraduction }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_situation_matrimoniale{%endtrans%}</label>
		<br/>
		{{ definedSituationMatrimonialeTraduction }}
	</div>
	
	<div class="form-group col-sm-4">
		<label>{%trans%}message_fonction{%endtrans%}</label>
		<br/>
		{{ definedFonctionTraduction }}
	</div>
	
	
</div>

	

            <a href="{{ path('Associe_listerPole', { 'idd':associe.dossierDemande.id }) }}" style = "width:150px;" class = "btn btn-warning form-control col-md-offset-1 col-sm-1">{%trans%}message_retour_liste{%endtrans%}</a>
 

{% endblock %}
