{% extends '::base-office.html.twig' %}
{%block title%}{%trans%}diaspora{%endtrans%}- {{parent()}}{%endblock%}
{%block menu %}
    {{ render(controller("DefaultBundle:Default:menu",{'active':9})) }}
{%endblock%}
{% block body -%}
<div  class="clearfix width-100" >
    <div class="fusion-row" style="max-width:100%;">
        <div id="content" class="full-width">
            <div class="fusion-row" style="border-color:#e2e2e2;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-top:40px;padding-left:30px;padding-right:30px;padding-left:30px !important;padding-right:30px !important;background-color:#ffffff;margin-bo"> 
				<div class="panel panel-default">
					<div id="pageDiaspora">
	<div class="divTitreDiaspora">{{'processus_creation_ei_titre'|trans|upper}}</div>
	<div class="titreBlocDiaspora">I. {{'liste_document_a_fournir_diaspora'|trans}}</div>	
	
	<div class="divTableDiaspora">
		<table class="tableDiaspora">
			<tr>
				<th class="colonne1TableauDiaspora" style="width:10%;font-size:16px;font-weight:bold;">N°</th>
				<th class="colonne1TableauDiaspora" style="width:90%;font-size:16px;font-weight:bold;">{{'liste_document_a_fournir'|trans|upper}}</th> 
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">1. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_doc_diaspora_1'|trans}}</td> 								
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">2. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_doc_diaspora_2'|trans}}</td> 								
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">3. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_doc_diaspora_3'|trans}}</td> 								
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">4. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_doc_diaspora_4'|trans}}</td> 								
			</tr>								
		</table>						
	</div>
	
	
	<div class="titreBlocDiaspora">II. {{'frais_creation_diaspora'|trans}}</div>
	
	<div class="divTableDiaspora">
		<table class="tableDiaspora">
			<tr>
				<th class="colonne1TableauDiaspora" style="width:10%;font-size:16px;font-weight:bold;">N°</th>
				<th class="colonne1TableauDiaspora" style="width:60%;font-size:16px;font-weight:bold;">{{'services'|trans|upper}}</th> 
				<th class="colonne1TableauDiaspora" style="width:30%;font-size:16px;font-weight:bold;" colspan="2">{{'frais'|trans|upper}}</th> 
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">1. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_nom_service_diaspora_1'|trans}}</td> 
				<td class="colonne2TableauDiaspora">22 euros</td>
				<td class="colonne2TableauDiaspora">27 dollars</td>
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">2. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_nom_service_diaspora_2'|trans}}</td>
				<td class="colonne2TableauDiaspora">27 euros</td>
				<td class="colonne2TableauDiaspora">32 dollars</td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">3. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_nom_service_diaspora_3'|trans}}</td>
				<td class="colonne2TableauDiaspora">21.99 euros</td>
				<td class="colonne2TableauDiaspora">22.99 dollars</td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">4. </td>
				<td class="colonne2TableauDiaspora">{{'texte_liste_nom_service_diaspora_4'|trans}}</td>
				<td class="colonne2TableauDiaspora">22 euros</td>
				<td class="colonne2TableauDiaspora">22 dollars</td>									
			</tr>
			<tr>
				<td style="font-weight:bold;text-align:right;padding-right:20px" colspan="2">TOTAL </td>									
				<td class="colonne2TableauDiaspora">86.99 euros</td>
				<td class="colonne2TableauDiaspora">101.99 dollars (us)</td>									
			</tr>
			
		</table>						
	</div>
	
	<div class="titreBlocDiaspora">III. {{'processus_creation_ei'|trans}}</div>
	
	<div class="divTableDiaspora">
		<table class="tableDiaspora">
			<tr>
				<th class="colonne1TableauDiaspora" style="width:10%;font-size:16px;font-weight:bold;">{{'etape'|trans|upper}}S</th>
				<th class="colonne1TableauDiaspora" style="width:80%;font-size:16px;font-weight:bold;" colspan="2">{{'processus_creation_ei'|trans|upper}}</th> 									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora" rowspan="5">{{'etape'|trans|capitalize}} 1</td>
			</tr>
			<tr>
				<td class="colonne2TableauDiaspora">{{'texte_liste_processus_diaspora_1_1_1'|trans}} : <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_1_2'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:0 20px 0 20px">&#11036;</td>
			</tr>
			<tr>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_2_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_2_2'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:0 20px 0 20px">&#11036;</td>
			</tr>
			
			<tr>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_3'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:0 20px 0 20px">&#11036;</td>
			</tr>
			<tr>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_1_4'|trans}}</td> 
				<td class="colonne1TableauDiaspora" style="padding:0 20px 0 20px">&#11036;</td>
			</tr>		
			<tr>
				<td class="colonne1TableauDiaspora">{{'etape'|trans|capitalize}} 2</td>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_2'|trans}}</td> 
				<td></td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">{{'etape'|trans|capitalize}} 3</td>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_3_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_3_2'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_3_3'|trans}}</td>
				<td></td>									
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">{{'etape'|trans|capitalize}} 4</td>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_4_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_4_2'|trans}}</td>
				<td></td>
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">{{'etape'|trans|capitalize}} 5</td>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_5_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_5_2'|trans}}</td>
				<td></td>
			</tr>
			<tr>
				<td class="colonne1TableauDiaspora">{{'etape'|trans|capitalize}} 6</td>
				<td class="colonne2TableauDiaspora"><span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_6_1'|trans}} <br/> <span class="bigBull">&bull;</span> {{'texte_liste_processus_diaspora_6_2'|trans}}</td>
				<td></td>
			</tr>
			
		</table>						
	</div>
	
	<div class="titreBlocDiaspora">IV. {{'informations_complementaires'|trans}}</div>	

	<div class="divTitreDiaspora" style="padding:20px 0 20px 0">{{'informations_complementaires'|trans|upper}}</div>						
	<br/>
	<div><span style="font-size:24px">&bull;</span> {{'texte_information_complementaire_1'|trans}}</div>
		
	<div><span style="font-size:24px">&bull;</span> {{'texte_information_complementaire_2'|trans}}</div>
	
	
</div>	
					<br/>
					
					 <a href="{{ path('telecharger_processus_diaspora') }}" target="_blank" style="display: block;width: 270px;height: 51px;margin: 0 auto 0 auto;">
						<div class="divTelechargement">{{'telecharger_document'|trans}} &nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i></div>	
					</a>
								
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block javascripts%}
{{parent()}}    
<script type="text/javascript">
$(function () {
   
});
</script>
{%endblock%}