{% extends '::base-office.html.twig' %}
{%block title%}{%trans%}guides_demarches{%endtrans%}- {{parent()}}{%endblock%}
{%block menu %}
    {{ render(controller("DefaultBundle:Default:menu",{'active':4})) }}
{%endblock%}
{% block body %}

      <div  class="clearfix width-100" style="height:100%">
                    <div class="fusion-row" style="max-width:100%;">
                        <div id="content" class="full-width">
                            <div class="fusion-row" style="border-color:#e2e2e2;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-top:40px;padding-left:30px;padding-right:30px;padding-left:30px !important;padding-right:30px !important;background-color:#ffffff;margin-bo"> 
                                   
                <h3 style="margin:auto">{%trans%}telecharger_guide_demarche{%endtrans%}</h3>
                <hr>
                        <div>
                            {%if guides |length==0%}
                                <div class="alert alert-info">{%trans%}guides_vides{%endtrans%}</div>
                                 {%else%}
                                <table class="table table-hover" id="guides"> 
                                    <thead>
                                    <th>{%trans%}titre{%endtrans%}</th>
                                    <th>{%trans%}description{%endtrans%}</th>
                                     <th>{{'telecharger'|trans}}</th>
                                    </thead>
                                    <tbody>
                                {%for guide in guides%}
                                    <tr>
                                        <td>{{guide.titre}}</td>
                                        <td>{{guide.description | slice(0,100)}}</td>
                                        <td><a {% if app.request.locale=='fr'%} href="{{path('visualiserGuide',{'id':guide.id})}}"
                                                                                
    							        {% else %} href="{{path('visualiserGuide',{'id':guide.documentation.id})}}" {% endif %}target="_blank" ><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                {%endfor%}
                                    </tbody>
                                </table>
                                {%endif%}
                        </div>
                    
                
            </div>
                        </div></div></div>
{%endblock%}
{%block javascripts%}
    {{parent()}}
    
<script type="text/javaScript">
    $(document).ready(function() {
        
    $('#guides').DataTable({"language": {
                 "sProcessing": "{{'traitement_en_cours'|trans}}",
                "sSearch": "{{'rechercher'|trans}} :",
                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                "oPaginate": {
                    "sFirst": "{{'premier'|trans}}",
                    "sPrevious": "{{'precedent'|trans}}",
                    "sNext": "{{'suivant'|trans}}",
                    "sLast": "{{'dernier'|trans}}"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }});
        
   

    } );
</script>
    {%endblock%}