{% extends '::base-office.html.twig' %}
{% block title%}{%trans%}liste_notaire{%endtrans%} | {{parent()}}{%endblock%}
{%block menu %}
    {{ render(controller("DefaultBundle:Default:menu",{'active':2})) }}
{%endblock%}
{% block body %}
    <div  class="clearfix width-100" >
        <div class="fusion-row" style="max-width:100%;">
            <div id="content" class="full-width">
               <div class="fusion-row" style="border-color:#e2e2e2;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-top:40px;padding-left:30px;padding-right:30px;padding-left:30px !important;padding-right:30px !important;background-color:#ffffff;margin-bo"> 
                    <h3 style="margin:auto">{%trans%}liste_notaire{%endtrans%}</h3>
                    <hr>
                    
                <div>

                    {%if notaires |length==0%}
                        <div class="alert alert-info">{%trans%}notaires_vides{%endtrans%}</div>
                    {%else%}
                        <table class="table table-hover" id="annonces1"> 
                            <thead>
                            <th>{%trans%}notaire{%endtrans%}</th>
                            <th>{%trans%}entreprise.email{%endtrans%}</th>

                            <th>{%trans%}entreprise.telephone{%endtrans%}</th>
                            <th>{%trans%}adresse{%endtrans%}</th>
                            </thead>
                            <tbody>
                                {%for entreprise in notaires%}
                                    <tr>
                                        <td>{{entreprise.denomination}}</td>
                                        <td>{{entreprise.email}}</td>
                                        <td>{{entreprise.telephone}}</td>
                                        <td>{{entreprise.adresse}}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    {%endif%}
                </div>

                </form>
            </div>
        </div></div></div>
    {%endblock%}
    {%block javascripts%}
        {{parent()}}
         <script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
    <script src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
   
<script type="text/javaScript">
    $(document).ready(function() {
          $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'YYYY-MM-DD'});
      $('#annonces1').DataTable({"language": {
                "sProcessing": "{{'traitement_en_cours'|trans}}",
                "sSearch": "{{'rechercher'|trans}} :",
                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                "oPaginate": {
                    "sFirst": "{{'premier'|trans}}",
                    "sPrevious": "{{'precedent'|trans}}",
                    "sNext": "{{'suivant'|trans}}",
                    "sLast": "{{'dernier'|trans}}"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }});
            $('#annonces_filter').hide();
        
   

    } );
</script>
{%endblock%}