{% extends '::base.html.twig' %}

{% block title %}{%trans%}message_titre_menu_logo{%endtrans%}{% endblock %}
{%block active%}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':3})) }}

{%endblock%}
{% block body %}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
	
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}message_titre_menu_logo{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>

                            <li><a href="{{path('menuLogo')}}"><i class="fa fa fa-file-text"></i>&nbsp;&nbsp;{%trans%}message_changer_logo{%endtrans%}</a></li>
                        </ol>
                    </div>
                </div>
				
				{% if message %}
			<div>
				<p class="col-lg-12 alert alert-success">{{ message }}</p>
			</div>
			{% endif %}	
			
			<div class="col-lg-12 m-t-md alert alert-info" style ="border:0px black solid">
			
			<h4>{%trans%}message_indication_changer_logo{%endtrans%}</h4>
			
			</div>
			
			
            </div>
			
			
		
			
            <div class="panel-body row" >
                <div class="col-md-6"
			<label style="margin:0px 0 30px 0">{% trans %}message_logo_actuel{% endtrans %} </label>
			<br/>
			<div>
			
				 <img src="{{asset('uploads/logo/logobm.jpg')}}" id="imageLogo" alt="" class="fusion-logo-1x fusion-standard-logo" height="100" width="219"/>
			</div>
			
			<br/>
			<form action="{{path('menuLogo')}}" method="POST" enctype="multipart/form-data" name="formulaireLogo">
			
			<div style="border: 1px #ccc solid;max-width: 270px;border-radius: 5px;padding: 5px;">
				<label class="btn btn-default btn-file" >{%trans%}parcourir{%endtrans%}
					<input type="file" name="fileLogo" class="glyphicon glyphicon-paperclip btn btn-default" 
					onchange="document.getElementById('input_text').value = this.files[0].name" 
					style ="display:none"/>
				</label>
				<input type="text" id="input_text" value="{%trans%}aucun_fichier_choisi{%endtrans%}" style="border:0"/>
			</div>
			
			
            <div class="form-group col-sm-12">
			<br />	
            <input style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{{'enregistrer'|trans}}"/></div>   
             </form>
                </div>
             
             <div class="col-md-6"
			<label style="margin:0px 0 30px 0">{% trans %}message_logo_actuel_langue{% endtrans %} </label>
			<br/>
			<div>
			
				 <img src="{{asset('uploads/logo/logobm1.jpg')}}" id="imageLogo1" alt="" class="fusion-logo-1x fusion-standard-logo" height="100" width="219"/>
			</div>
			
			<br/>
			<form action="{{path('menuLogo')}}" method="POST" enctype="multipart/form-data" name="formulaireLogo">
			
			<div style="border: 1px #ccc solid;max-width: 270px;border-radius: 5px;padding: 5px;">
				<label class="btn btn-default btn-file" >{%trans%}parcourir{%endtrans%}
					<input type="file" name="fileLogo1" class="glyphicon glyphicon-paperclip btn btn-default" 
					onchange="document.getElementById('input_text_en').value = this.files[0].name" 
					style ="display:none"/>
				</label>
				<input type="text" id="input_text_en" value="{%trans%}aucun_fichier_choisi{%endtrans%}" style="border:0"/>
			</div>
            <div class="form-group col-sm-12">
			<br />	
            <input style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{{'enregistrer'|trans}}"/></div>   
             </form>
                </div>
			</div>
               

            {% endblock %}
