<div class="fusion-main-menu">
            <ul id="menu-main-menu" class="fusion-menu ">
                <li id="menu-item-1047"  {%if active==1%} 
                    class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1068" {%else%} 
                    class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-1068"{%endif%} >
                    <a href="{{path('accueil')}}"><span class="menu-text">{%trans%}accueil{%endtrans%}</span></a>
                </li>
                <li id="menu-item-1046" {%if active==2%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1069"{%else%}
                    class="  menu-item menu-item-type-custom menu-item-object-custom menu-item-1069"{%endif%}>
                    <a href="{{path('liste_notaire')}}"><span class="menu-text">{%trans%}notaire{%endtrans%}</span></a>
                </li>
                <li id="menu-item-1045" {%if active==4%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1071" {%else%}
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1071"{%endif%}>
                    <a href="{{path('guides')}}"><span class="menu-text">{%trans%}guides_demarches{%endtrans%}</span></a>
                </li>
				<li id="menu-item-1077" {%if active==5%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1077"{%else%}
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1077"{%endif%}>
                    <a href="{{path('annonces_legales')}}"><span class="menu-text">{%trans%}annonces_legales{%endtrans%}</span></a>
                </li>
                <li id="menu-item-1043" {%if active==10%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1071" {%else%}
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1071"{%endif%}>
                    <a href="{{path('forme-juridique')}}"><span class="menu-text">{%trans%}simulateur{%endtrans%}</span></a>
                </li>
                
                <li id="menu-item-1157" {%if active==6%} class="current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1073" {%else%}
                    class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-1073" {%endif%}>
                    <a href="{{path('faq')}}"><span class="menu-text">{%trans%}FAQs{%endtrans%}</span></a>

                </li>
                <li id="menu-item-1048" {%if active==8%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1075" {%else%}
                    class="  menu-item menu-item-type-custom menu-item-object-custom menu-item-1075"{%endif%}>
                    <a href="{{path('liens-utils')}}"><span class="menu-text">{%trans%}liens_utils{%endtrans%}</span></a>
                </li>
                
                <li id="menu-item-1077" {%if active==11%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1074" {%else%}
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074" {%endif%}>
                    <a href="{{path('cartographie')}}"><span class="menu-text">{%trans%}menu_carte{%endtrans%}</span></a>
                </li>
                <li id="menu-item-1075" {%if active==7%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1048" {%else%}
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074" {%endif%}>
                    <a href="{{path('contacts')}}"><span class="menu-text">{%trans%}menu_contacts{%endtrans%}</span></a>
                </li>
				<li id="menu-item-1075" {%if active==9%} class=" current_page_item menu-item menu-item-type-custom menu-item-object-custom menu-item-1048" {%else%}
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074" {%endif%}>
                    <a href="{{path('diaspora')}}"><span class="menu-text">{%trans%}menu_diaspora{%endtrans%}</span></a>
                </li>

            </ul>
     
    </div>
