{% extends '::base.html.twig' %}
{%block title%}{%trans%}titre_statistique{%endtrans%}{% endblock%}

{% block body %}
<link rel="stylesheet" href="{{asset('js/exportdatatable/buttons.dataTables.min.css') }}" />
<link rel="stylesheet" href="{{asset('js/exportdatatable/jquery.dataTables.min.css') }}" />

    <div class="container" style="width:100%">   

        <div class="col-md-12" style="margin:0 0 20px 0">
            <form method="POST" {{ form_enctype(form) }}>

                <div class="row">


                    <div class="form-group col-sm-2" style="min-width:175px">
                        <label>{%trans%}date_debut_creation{%endtrans %}</label>                                
                        <div class="input-group date" id="datetimepicker1">
                            {{ form_widget(form.dateCreationDebut, {'attr': {'class': 'datepicker1 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="min-width:175px">
                        <label>{%trans%}date_fin_creation{%endtrans %}</label> 
                        <div class="input-group date" id="datetimepicker2">
                            {{ form_widget(form.dateCreationFin, {'attr': {'class': 'datepicker2 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div style="margin-top:25px">
                        <button type="submit"  class="btn btn-info" >{%trans%}valider{%endtrans %}</button>
                    </div>

                </div>
                {{ form_rest(form) }} 
            </form>
            <br/>
            <br/>
            <br/>
            <div id="container1" style=" margin: 0 auto"></div>

        </div>  


		<div class="panel-body table-responsive">
            <table id="entreprises" class=" table-striped table table-bordered" >
                    <thead>
                        <tr>
                            <th>{%trans%}message_periode_creation_entreprise{%endtrans%}</th>
                            <th>{%trans%}message_nombre_entreprise_cree{%endtrans%}</th>                                                    
                        </tr>
                    </thead>
                    {% for tab in listerdemande %}
                        <tr>
                            <td>{{ tab[0]|trans }} ( {{ tab[1] }} )</td>                     
                            <td>{{ tab[2]}}</td>                               
                        </tr>   
                    {% endfor %}
                </table> 		
    </div>    
   </div> 




{% endblock %}

{%block javascripts%}
    {{parent()}}        
	
	<script src="{{asset('js/exportdatatable/jquery-1.12.3.js')}}"></script>	 
	<script src="{{asset('js/exportdatatable/jquery.dataTables.min.js')}}"></script>		 
	<script src="{{asset('js/exportdatatable/jszip.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/pdfmake.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/vfs_fonts.js')}}"></script>		 
	<script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
	<script type="text/javascript" src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>		
	<script src="{{asset('js/exportdatatable/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/buttons.html5.min.js')}}"></script>
		
		
    <script src="{{asset('js/highcharts.js')}}" charset="utf-8"></script>
    <script src="{{asset('js/modules/exporting.js')}}" charset="utf-8"></script>
    <script src="{{asset('js/highcharts-3d.js')}}" charset="utf-8"></script>

    <script type="text/javascript">
        $(function () {

            // alert(tab);
            var tab = {{tabResult|json_encode()|raw}};
                    //var dataString = jQuery.toJSON(null) ;
                    $('#container1').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{"message_nbr_entreprise_par_periode"|trans|e('js') }}'
                },
                subtitle: {
                    text: '<a href="#">{{"message_nbr_creation_mois"|trans|e('js') }}</a>'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: 0,
                        align: 'center',
                        style: {
                            fontSize: '9px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{{"message_nbr_entreprises"|trans|e('js') }}'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{{"message_nbr_entreprises"|trans|e('js') }}: <b>{point.y:.0f} </b>',
                },
                series: [{
                        name: '{{"message_nbr_entreprises"|trans|e('js') }}',
                        data: tab
                        ,
                        color: Highcharts.getOptions().colors[7],
                        dataLabels: {
                            enabled: true,
                            rotation: 0,
                            color: Highcharts.getOptions().colors[7],
                            align: 'center',
                            x: 4,
                            y: 10,
                            style: {
                                fontSize: '9px',
                                fontFamily: 'Verdana, sans-serif',
                                textShadow: '0 0 3px'
                            }
                        }
                    }]
            });
        });
		
		
	$('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

    $('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
	
	
	 $('#test').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],"language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }});
				
				var buttonCommon = {exportOptions: {format: {body: function ( data, column, row, node ) {
                    return  data;
                }
            }
        }
    };

    $('#entreprises').DataTable( {  "language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                },
				"bPaginate": true,"bInfo" : true,

        dom: 'Bfrtip',
        buttons: [
            $.extend( true, {}, buttonCommon, {
                extend: 'excelHtml5',
				title: 'entreprises'
            }),
            $.extend( true, {}, buttonCommon, {
                extend: 'pdfHtml5',
				title: 'entreprises'
            })
        ]
    });
	
	
</script>

{% endblock %}	
