<page backtop="14mm" backbottom="14mm" backleft="14mm" backright="14mm">
<page_header> 

</page_header> 
    <style>
	body{
		font-size:14px;
	}
	.blocHeader{
		border:1px black solid;
		font-weight:bold;
		text-align:center;
		width:100%;
	}
    </style>
		<div><img src="{{asset('img/apip.png')}}" width="151" height="80" style="margin:0 160px 0 0"/> <img src="{{asset('img/apli-logo.png')}}" width="151" height="80"/></div>		
		<br/>
	{% if typeAnnonce == 'individuel' %}

		{% for annonce in annonces%}
			<div class="corpsAnnonce">			
				<div style="text-align:center">
					<b>{{ "%02d"|format(loop.index) }}-<u> AVIS DE CONSTITUTION</u><br/>
					<u>SOCIETE <<{{annonce.denominationSociale|upper}}>></u><br/>
					<u>Siège social :</u>{{annonce.adresseSiege|upper}}</b>
				</div>			
				<b><u>Dénomination:</u> << {{annonce.denominationSociale|upper}} >></b>	</br>
				<b><u>Objet:</u> {{annonce.libelleSecteurActivite}}{%if annonce.libelleActiviteSecondaire%};{{annonce.libelleActiviteSecondaire}}{%endif%}{%if annonce.libelleActiviteSecondaire2%};{{annonce.libelleActiviteSecondaire2}}{%endif%}{%if annonce.detailsActivite%};{{annonce.detailsActivite}}{%endif%}</b>	</br>
				<b><u>Siège social:</u> {{annonce.adresseSiege|upper}}</b>	</br>
				<b><u>GERANT:</u> {{annonce.gerants[0].gerant|upper}}</b>	</br>				
				<b><u>TEL:</u>  {{annonce.telephoneEntreprise}}</b><br/>
				<b><u>N°FORMALITE:</u> {{annonce.numRccmFormalite}}</b><br/>
				<b><u>N°RCCM:</u> {{annonce.numRccmEntreprise}}</b><br/>
				<b><u>DATE RCCM:</u> {{annonce.dateRccm|date('d/m/Y')}}</b><br/>
			</div>
			<br/><br/>
		{% endfor %}
	{% else %}
		{% for annonce in annonces%}
			<div class="corpsAnnonce">
				<div class="blocHeader">
					<span style="font-size:22px;">{{annonce.denominationSociale}}</span><br/>
					<span>
						FORME JURIDIQUE: {{annonce.libelleFormeJuridique|upper}}<br/>
						CAPITAL SOCIAL: {{annonce.capitalSocial|number_format(0, ',', '.')}} GNF<br/>
						SIEGE SOCIAL: {{annonce.adresseSiege|upper}}<br/>
						{{annonce.numRccmEntreprise}} DU {{annonce.dateRccm|localizeddate('long','none','fr')}}
					</span>
				</div>
				<div style="margin:20px;text-align:center;font-weight:bold">
					AVIS DE CONSTITUTION
				</div>
				<div>
					Aux termes d’un acte sous seing privé, en date du {{annonce.dateRccm|date('d/m/Y')}}, il a été créé une société commerciale ayant les caractéristiques suivantes :<br/><br/>
				</div>
				<div style="font-size:14px">
					<b><u>DENOMINATION SOCIALE</u>:</b> {{annonce.denominationSociale}}<br/>
					<b><u>FORME</u>:</b> {{annonce.sigleFormeJuridique}}<br/>
					<b><u>CAPITAL SOCIAL</u>:</b> {{annonce.capitalSocial|number_format(0, ',', '.')}} GNF<br/>
					<b><u>SIEGE SOCIAL</u>:</b> {{annonce.adresseSiege}}<br/>
					<b><u>ACTIVITE PRINCIPALE</u>:</b> {{annonce.libelleSecteurActivite}}{%if annonce.libelleActiviteSecondaire%};{{annonce.libelleActiviteSecondaire}}{%endif%}{%if annonce.libelleActiviteSecondaire2%};{{annonce.libelleActiviteSecondaire2}}{%endif%}{%if annonce.detailsActivite%};{{annonce.detailsActivite}}{%endif%}<br/>
					<b><u>DUREE</u>:</b> {{annonce.duree|localizednumber('spellout')|upper}} ({{annonce.duree}}) ans à partir de son immatriculation au RCCM <br/> 
					<b><u>EXERCICE SOCIAL</u>:</b> L’exercice social commence le premier Janvier et se termine le trente et un Décembre de chaque année.<br/>
					<br/><br/>
					{%for gerant in annonce.gerants%}
						<b><u>{{gerant.fonctionGerant|upper}}</u>:</b> {{gerant.gerant}} demeurant &agrave; {{gerant.adresseGerant|capitalize}}<br/>
						{%endfor%}
					<br/><br/>
					<b><u>FORMALITES D'IMMATRICULATION</u>:</b><br/>
					La Société a été immatriculée au Registre du Commerce et du Crédit Mobilier sous le numéro : {{annonce.numRccmEntreprise}} DU {{annonce.dateRccm|localizeddate('long','none','fr')}}
					<br/><br/>
					Deux copies des statuts et une copie de la déclaration de souscription et de versement ont été déposées au Greffe du Tribunal de Première Instance de KALOUM à Conakry.
				</div>
				<div style="text-align:right"><b>Pour extrait et mention</b></div>
				
				<div style="text-align:right"><b>M. {{annonce.gerants[0].gerant|upper}}, et par délégation Maitre Alsény FOFANA Greffier en chef</b></div>

			</div>
			<br/><br/>
		{% endfor %}
	{% endif %}

</page>