{%extends '::base.html.twig'%}

{% block title %}{%trans%}dashboard{%endtrans%}{% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':1})) }}

{%endblock %}
{%block body %}
<link rel="stylesheet" href="{{asset('js/exportdatatable/buttons.dataTables.min.css') }}" />
<link rel="stylesheet" href="{{asset('js/exportdatatable/jquery.dataTables.min.css') }}" />
    <div class="panel-heading">
        <div class="col-lg-12">
            <h1 class="page-header">{%trans%}brouillard_de_caisse{%endtrans%}</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                </li>                              
            </ol>
        </div>

    </div>
    <div class="panel-body">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 

        <form method="POST" {{ form_enctype(form) }}>
            <div class="row">
                <div class="form-group col-sm-4" style="min-width:170px">
                    <label>{%trans%}date_debut{%endtrans %}</label>                                
                    <div class="input-group date" id="datetimepicker1">
                        {{ form_widget(form.debutPeriode, {'attr': {'class': 'datepicker1 form-control'}}) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4" style="min-width:170px">
                    <label>{%trans%}date_fin{%endtrans %}</label> 
                    <div class="input-group date" id="datetimepicker2">
                        {{ form_widget(form.finPeriode, {'attr': {'class': 'datepicker2 form-control'}}) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label>{%trans%}pole{%endtrans %}</label> 
                    <div class="input-group" style="width:100%">
                        {{ form_widget(form.pole, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label>{%trans%}forme_juridique{%endtrans %}</label> 
                    <div class="input-group" style="width:100%">
                        {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
				
				{%if app.user.entreprise.isSiege%}
				<div class="form-group col-sm-4 col-xs-12">
					<label>{%trans%}structure_appartenance{%endtrans %}</label> 
					<div class="input-group" style="width:100%">
						{{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				{%else%}
					{% do form.entreprise.setRendered %}
				{%endif%}
                <div >
                    <button type="submit"  class="btn btn-info" style="margin:25px 0 0 15px">{%trans%}valider{% endtrans %} </button>
                </div> 
            </div>
                <br/>
            {{ form_rest(form) }} 
        </form>

		<div class="table-responsive">
        {%if poleChoisi%}
            <table id="repartition" class=" table-striped table table-bordered table-responsive" >	
                <thead>
                    <tr>
                        <th>{%trans%}forme_juridique{%endtrans%}</th>                  											
						<th>{{ poles.nom|trans }}</th>						 
                    </tr>
                </thead>
                {% for repartition in repartitions %}
                    <tr>
                        <td>{{ repartition.formeJuridique }}</td>						
                        <td class="text-right">{{ repartition.montant|number_format(0, '.', '  ') }}</td>
                    </tr>
                {% endfor %} 
                <tr>					
                    <td><strong>{% trans %}total{% endtrans %}<strong></td>					
					<td class="text-right"><strong>{{ montantTotal|number_format(0, '.', '  ') }}</strong></td>
				</tr>				
				</table> 
				{%else%}					
				<table id="repartition" class=" table-striped table table-bordered" >	
					<thead>
						<tr>
							<th>{%trans%}forme_juridique{%endtrans%}</th>
								{#<th>{%trans%}denomination{%endtrans%}</th>#}
								{% for pole in poles %}
								<th>{{ pole.nom|trans }}</th>
								{% endfor %} 
							<th>
								{%trans%}montant{%endtrans%}</th>						 
						</tr>
					</thead>
					{% for repartition in repartitions %}
						<tr>
							<td>{{ repartition.formeJuridique }}</td>						
							{#<td>{{ repartition.denominationSociale }}</td> #}
							{% set sousTotal = 0%}
							{% for pole in poles %}

								{% set frein = 0 %}

								{% for montant in repartition.listeMontant %}

									{% if montant.idPole == pole.id %} 
										<td class="text-right">{{ montant.sommeMontant |number_format(0, '.', ',') }}</td>
										{% set frein = 1 %}
										{%  set sousTotal = sousTotal+montant.sommeMontant %}


									{% endif %}
								{% endfor %}
								{% if frein == 0 %}
									<td class="text-right">0</td>
								{% endif %}													
							{% endfor %}
							<td class="text-right"><strong>{{ sousTotal |number_format(0, '.', ',') }}</strong></td>						
						</tr>   
					{% endfor %} 
					<tr>
						<td><strong>{% trans %}total{% endtrans %}<strong></td>
							{% for pole in poles %}
								{% set frein2 = 0 %}
								{% for total in totaux %}
									{% if total.pole == pole.nom %} 
										<td class="text-right"><strong>{{ total.montant |number_format(0, '.', ',') }}</strong></td>
												{% set frein2 = 1 %}
											{% endif %}						
										{% endfor %}
										{% if frein2 == 0 %}
									<td class="text-right"><strong>0</strong></td>
								{% endif %}													
							{% endfor %}
							<td class="text-right"><strong>{{ montantTotal |number_format(0, '.', ',') }}</strong></td>
						</tr>				
					</table> 
				{%endif%}
			</div>

		</div>

{%endblock %}

{%block javascripts %}
	{{parent()}}
	
	<script src="{{asset('js/exportdatatable/jquery-1.12.3.js')}}"></script>	 
	<script src="{{asset('js/exportdatatable/jquery.dataTables.min.js')}}"></script>		 
	<script src="{{asset('js/exportdatatable/jszip.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/vfs_fonts.js')}}"></script>		 
	<script type="text/javascript" src="{{asset('js/momentlocal.js') }}"></script>
	<script type="text/javascript" src="{{asset('datepicker/js/bootstrap-datetimepicker.min.js')}}"></script>		
	<script src="{{asset('js/exportdatatable/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('js/exportdatatable/buttons.html5.min.js')}}"></script>
	
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

			$('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
			
			
			
			$('#repartition2').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],"language": {
				"sProcessing": "{{'traitement_en_cours'|trans}}",
				"sSearch": "{{'rechercher'|trans}} :",
				"sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
				"sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
				"sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
				"sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
				"sInfoPostFix": "",
				"sLoadingRecords": "Chargement en cours...",
				"sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
				"sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
				"oPaginate": {
					"sFirst": "{{'premier'|trans}}",
					"sPrevious": "{{'precedent'|trans}}",
					"sNext": "{{'suivant'|trans}}",
					"sLast": "{{'dernier'|trans}}"
				},
				"oAria": {
					"sSortAscending": ": activer pour trier la colonne par ordre croissant",
					"sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
				}
			}});
			


			$('#repartition').DataTable( {  "language": {
				"sProcessing": "{{'traitement_en_cours'|trans}}",
				"sSearch": "{{'rechercher'|trans}} :",
				"sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
				"sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
				"sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
				"sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
				"sInfoPostFix": "",
				"sLoadingRecords": "Chargement en cours...",
				"sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
				"sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
				"oPaginate": {
					"sFirst": "{{'premier'|trans}}",
					"sPrevious": "{{'precedent'|trans}}",
					"sNext": "{{'suivant'|trans}}",
					"sLast": "{{'dernier'|trans}}"
				},
				"oAria": {
					"sSortAscending": ": activer pour trier la colonne par ordre croissant",
					"sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
				}
			},
			"bSort":false,
			"bPaginate": false,
			"bInfo" : false,

			dom: 'Bfrtip',
			buttons: [{
						extend: 'excel',
						text: '{{"generer_excel"|trans}}',
						filename: "{{'statistiques_de_caisse'|trans|e('js')}}",
						title: '{{"statistiques_de_caisse"|trans|e("js")}} {%if nomCaisse %}pour {{nomCaisse}}{%else%}pour_ensemble_caisse{%endif%}',
						messageTop: '{{"du"|trans}} {{dateDebut|localizeddate("none", "none", "fr", null, "dd MMMM y")}} {{"au"|trans}} {{dateFin|localizeddate("none", "none", "fr", null, "dd MMMM y")}}'
					}
				]
		});
			
			
		});
	</script>



{%endblock %}
