{%extends '::base.html.twig'%}

{% block title %}{%trans%}nom_application{%endtrans%}{% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':1})) }}

{%endblock %}
{%block body %}


    <div class="panel-body">

        <div class="panel-body">
            <h1 class="page-header">{%trans%}message_nouvelle_quittance_titre{%endtrans%}</h1>
            {% for message in app.session.flashbag.get('info') %}            
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %} 


            <form id="form" action="{{path('traiter_quittance',{'idq':quittance.id})}}" data-toggle="validator"  method="POST" {{ form_enctype(form)}} >     

                <div class="row">
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}numero_dossier{%endtrans%}</label>
                        {{ form_errors(form.numeroDossier,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.numeroDossier, {'attr': {'class': 'form-control','readOnly':true}}) }}
                    </div>   
                </div>
                <div class="row">

                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}message_serie{%endtrans%} </label>
                        {{ form_errors(form.serie,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.serie, {'attr': {'class': 'form-control','Value' : 'AA'}}) }}
                    </div>
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}numero_volume{%endtrans%} </label>
                        {{ form_errors(form.numeroVolume,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.numeroVolume, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}message_RefTitreRecette{%endtrans%}</label>
                        {{ form_errors(form.refTitreRecette,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.refTitreRecette, {'attr': {'class': 'form-control'}}) }}
                    </div>                 
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}message_natureRecette{%endtrans%} </label>
                        {{ form_errors(form.natureRecette,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.natureRecette, {'attr': {'class': 'form-control'}}) }}
                    </div>                   
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}numero_quittance{%endtrans%} (*)</label>
                        {{ form_errors(form.numeroQuittance,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.numeroQuittance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}mode_paiement{%endtrans%} (*)</label>
                        {{ form_errors(form.modePaiement,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.modePaiement, {'attr': {'class': 'form-control','required':'required'}}) }}
                    </div>
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}type_dossier{%endtrans%} </label>
                        {{ form_errors(form.typeDossier,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.typeDossier, {'attr': {'class': 'form-control','readonly':true}}) }}
                    </div>                 
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}denomination{%endtrans%} </label>
                        {{ form_errors(form.denominationSociale,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.denominationSociale, {'attr': {'class': 'form-control','readonly':true}}) }}
                    </div>	
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}forme_juridique{%endtrans%} </label>
                        {{ form_errors(form.formeJuridique,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control','readonly':true}}) }}
                    </div>		
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}montant_total_facture{%endtrans%} </label>
                        {{ form_errors(form.montantTotalFacture,{'attr':{'class':'alert alert-danger'}}) }}
						<input type="text" id="montantVerseVisible" class="form-control" value="{{ montant|number_format(0, '.', ',') }}"  readOnly="true">
						<input type="text" id="montantVerse" class="form-control montantVerse hidden" value="{{ montant }}" required="true" readOnly="true">						                      					
                        {{ form_widget(form.montantTotalFacture , {'attr': {'class': 'form-control montantTotalFacture1 hidden','required':'required', 'type':'number'}}) }}
                    </div>	

					<div class="form-group col-sm-4">                               
                        <label>{%trans%}montant_verse{%endtrans%} </label>
                        {{ form_errors(form.montantVerse,{'attr':{'class':'alert alert-danger'}}) }}	
                        <input type="text" id="montantVerseVisible" class="form-control" value="{{ montant|number_format(0, '.', ',') }}"  readOnly="true">
						<input type="text" id="montantVerse" class="form-control montantVerse hidden" value="{{ montant }}" required="true" readOnly="true">						
                        {{ form_widget(form.montantVerse, {'attr': {'class': 'form-control montantVerse1 hidden','required':'required', 'type':'number'}}) }}
                    </div>                   
                    <div class="form-group col-sm-4">                               
                        <label>{%trans%}date_paiement{%endtrans%} </label>
                        {{ form_errors(form.datePaiement,{'attr':{'class':'alert alert-danger'}}) }}								
                        {{ form_widget(form.datePaiement, {'attr': {'class': 'form-control','readonly':true}}) }}
                    </div>

                </div>
                <div class="form-group col-sm-12">            
                    <br />
                    <br />
                    <br />
                    <input id="boutonValider" style = "width:100px;" class = "btn btn-success form-control col-sm-3" type = "submit" value = "{% trans %}valider{% endtrans%}" />
                    <input class = "btn btn-warning" type = "button" value = "{%trans%}demande_de_modification{%endtrans%}" id="boutonDemandeModification"/>                        
                    <input data-url= "{{path('gestion_caisse')}}" type="button" style = "width:100px;" class = "btn btn-default btn-goto" value="{%trans%}retour{%endtrans%}"/>
                </div>
                {{ form_end(form) }}
            </form>   
            <div id ="divDemandeModification" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <br/>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{%trans%}message_titre_motif_demande_modification{%endtrans%}</h4>
                        </div>
                        <form method="POST" action="{{path('traiter_quittance',{'idq':quittance.id})}}" name="frmDemandeModif" >	
                            <div class="modal-body">

                                <textarea name="textAreaModifier"  rows="4" style="resize:none;width:100%" maxlength="255" required="required"></textarea>   
                                <img class='loading' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />

                            </div>
                            <div class="modal-footer"><input style = "width:220px;" class = "btn btn-success form-control  col-sm-3" type = "submit" value = "{%trans%}valider_demande_modification{%endtrans%}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock %}
{%block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function () {

            $("#boutonDemandeModification").click(function () {
                $("#divDemandeModification").modal();
            });
            $("#montantVerse").keyup(function () {
                delay(function () {
                    var montantVerse = document.getElementById('montantVerse').value;
                    montantVerse = montantVerse.replace(/,/g, "");   //(/\s/g, "");

                    montantVerse = Number(montantVerse);
                    if (!Number.isNaN(montantVerse))
                    {
                        montantVerse = montantVerse.toLocaleString("en");
                        document.getElementById('montantVerse').value = montantVerse;
                        document.getElementById('quittance_montantVerse').value = montantVerse;
                    }
                }, 500);
            });


            $("#boutonValider").click(function () {
                var montantVerse = Number(document.getElementById('montantVerse').value.replace(/,/g, ""));
                document.getElementById('quittance_montantVerse').value = montantVerse;

                if (isNaN(montantVerse))
                {
                    toastr.warning('{{"entrer_nombre"|trans}}');
                    return false;
                }
                else if (montantVerse < 0)
                {
                    toastr.warning('{{"entrer_nombre_positif"|trans}}');
                    return false;
                }
            });



            function addCommas(nStr)
            {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }

            var delay = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            $('#form').submit(function (e) {
                e.preventDefault();



                swal({
                    title: "{{'message_confirmation'|trans}}    ",
                    text: "{{'message_confirmer_creation'|trans}}",
                    showCancelButton: true,
                    confirmButtonColor: "#3f5872    ",
                    cancelButtonText: "{{'annuler'|trans}}    ",
                    confirmButtonText: "{{'confirm_creation'|trans}}",
                },
                        function () {
                            $('#form').submit();
                            document.forms["form"].submit();
                            return true;
                        });
            });

        });

		$(".btn-goto").click(function () {
			var url = $(this).attr('data-url');
			window.location.href = url;
		});

		
		$('#quittance_typeDossier').find(':not(:selected)').attr('disabled','disabled');
		$('#quittance_formeJuridique').find(':not(:selected)').attr('disabled','disabled');
		$('#quittance_modePaiement').val('1'); 

    </script>
{%endblock %}