<body>
    <style type="text/css">


        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
        }

        .page-header {
            padding-bottom: 9px;

            border-bottom: 1px solid #eee;
        }	

        .h1, h1 {
            font-size: 36px;	
            font-weight: 500;
            line-height: 1.1;
        }

        .form-group {
            margin-bottom: 15px;
        }
        .col-lg-12 {
            width: 100%;
        }

        .col-sm-6 {
            width: 50%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .titreLabel
        {
            font-weight:bold;
            font-size:14px;
            line-height:25px;
        }

        .reponseLabel
        {
            font-weight:normal;
            font-size:14px;
            line-height:25px;
        }

        .cellValue
        {
            padding: 0 0 20px 0;
            font-size:14px;
        }

        .traitMince
        {
            color:silver;

        }

    </style>
    <div class="" style="width:100%;margin:0 auto 0 auto">

        <div  style="text-align: center;">
            <h1 class="page-header">
                {%trans%}message_quittance_numero{%endtrans%} {{ quittance.numeroQuittance }}
            </h1>
            <hr class="traitMince" noshade>
        </div>

        <br />

        <table style="width:100%">
            <tr>
                <th style="width:34%"></th>
                <th style="width:33%"></th> 
                <th style="width:33%"></th>
            </tr>
            <tr>
                <td class="titreLabel">{% trans %}numero_dossier{% endtrans %}</td>
                <td class="titreLabel">{% trans %}montant_verse{% endtrans %}</td> 
                <td class="titreLabel">{% trans %}mode_paiement{% endtrans %}</td>
            </tr>
            <tr>
                <td class="cellValue">{{ quittance.numeroDossier }}</td>
                <td class="cellValue">{{ quittance.montantVerse}} </td> 
                <td class="cellValue">{{ definedModePaiementTraduction }}</td>
            </tr>
            <tr>
                <td class="titreLabel">{% trans %}denomination{% endtrans %}</td>
                <td class="titreLabel">{% trans %}forme_juridique{% endtrans %}</td> 
                <td class="titreLabel">{% trans %}montant_total_facture{% endtrans %}</td>
            </tr>
            <tr>
                <td class="cellValue">{{ quittance.denominationSociale}}</td>
                <td class="cellValue">{{ definedFormeJuridiqueTraduction }}</td> 
                <td class="cellValue">{{ quittance.montantTotalFacture }}</td>
            </tr>
            <tr>
                <td class="titreLabel">{% trans %}numero_quittance{% endtrans %}</td>
                <td class="titreLabel">{% trans %}date_paiement{% endtrans %}</td> 
                <td class="titreLabel"></td>
            </tr>
            <tr>
                <td class="cellValue">{{ quittance.numeroQuittance }}</td>
                <td class="cellValue">{% if quittance.datePaiement %}{{ quittance.datePaiement|date('d-m-Y') }}{% endif %}</td> 
                <td class="cellValue"></td>
            </tr>

        </table>

    </div>

</body>

