{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('successStatus') %}
                <div style="color: white;background:green"
                     class="alert alert-message-warning text-center " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{flashMessage|raw }} </strong>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('echecStatus') %}
                <div style="color: white;background:#ff5a2f"
                     class="alert alert-message-warning text-center " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{flashMessage|raw }} </strong>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="">
        <h3> HistoriqueRccm non envoyer</h3>
        <form  method="POST">
            <div class="row well">
                <div class="col-lg-2">
                    <label for="">Numéro dossier
                        <input value="{{ numdos }}" name="numDossier" class="form-control input-sm" type="text">
                    </label>
                </div>
                <div class="col-lg-3">
                    <label>Dénomination
                        <input value="{{ nomcom }}" name="denomination" class="form-control input-sm" type="text">
                    </label>
                </div>
                <div class="col-lg-7">
                   <div class="row">
                      <div class="col-md-4">
                          <label for="">date de début
                              <input value="{{ datedebut }}" name="dateDebut" class="form-control input-sm" type="date">
                          </label>
                      </div>
                       <div class="col-md-4">
                           <label for="">Date fin
                               <input value="{{ datefin }}" name="dateFin" class="form-control input-sm" type="date">
                           </label>
                       </div>
                       <div class="col-md-3"><br>
                           <button formaction="{{ path('historique-envoi-rccm-dni') }}"  type="submit" class="btn  col-lg-3 btn-block btn-info">Rechercher
                           </button>
                       </div>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer"><br>
                    <div class="col-lg-12">
                        <button formaction="{{ path('resend-historique-envoi-rccm-dni') }}" type="submit" class="btn internatEleve col-lg-6 btn-block btn-success">RENVOYER RCCM
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-responsive table-hover table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <input id="checkAll"  style="display: inline-block" name="checkAll" class="checkAll checkbox" type="checkbox"/>
                            <label for="checkAll">Tout ({{ historiqueRccms|length }})</label>
                        </th>
                        <th>NumeroDossier</th>
                        <th>Denomination</th>
                        <th>DateEnvoiRccm</th>
                        <th>CodeRetourDNI</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for historiqueRccm in historiqueRccms %}
                        <tr>
                            <td class="col-lg-1">
                                <div class="pretty p-default">{{ loop.index }}
                                    <input class="choixEleves" name="choixhistoriqueRccm[]" type="checkbox"
                                           value="{{ historiqueRccm.id }}"/>
                                </div>
                            </td>
                            <td class="col-lg-1"><a  data-toggle="tooltip" data-placement="right" title="{{ historiqueRccm.contenuDataRecu }}" href="#">{{ historiqueRccm.idDossierDemande}}</a></td>
                            <td>{{ historiqueRccm.denominationSociale }}</td>
                            <td class="col-lg-1">{{ historiqueRccm.DateEnvoiRccm|date('d/m/Y') }}</td>
                            <td class="col-lg-1">{{ historiqueRccm.codeRetourDNI }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center"
                                colspan="6">{{ 'Aucun enregistrements correspondants trouvés' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                    <div class="modal-footer"><br>
                        <div class="col-lg-12">
                            <button formaction="{{ path('resend-historique-envoi-rccm-dni') }}" type="submit" class="btn internatEleve col-lg-6 btn-block btn-success">RENVOYER RCCM
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <!-- modal sizes end -->
    <script type="text/javascript" src="{{ asset('jquery-3.2.1.js') }}"></script>
    <script type="text/javascript">


        $('.promuRed').on('change', function () {
            isChecked();
            $('.promuRed').not(this).prop('checked', false);
        });
        $(document).ready(function () {
            isChecked();
            $('.checkAll').on('click', function () {
                $(this).closest('table').find('tbody :checkbox')
                    .prop('checked', this.checked)
                    .closest('tr').toggleClass('selected', this.checked);
                isChecked();

            });
            $('tbody :checkbox').on('click', function () {
                isChecked();
                $(this).closest('tr').toggleClass('selected', this.checked); //Classe de seleção na row
                $(this).closest('table').find('.checkAll').prop('checked', ($(this).closest('table').find('tbody :checkbox:checked').length == $(this).closest('table').find('tbody :checkbox').length)); //Tira / coloca a seleção no .checkAll

            });
            function isChecked() {
                var checkboxes = document.getElementsByClassName('choixEleves');
                var checkboxesChecked = [];
                // loop over them all
                for (var i=0; i<checkboxes.length; i++) {
                    // And stick the checked ones onto an array...
                    if (checkboxes[i].checked) {
                        checkboxesChecked.push(checkboxes[i]);
                    }
                }
                if (checkboxesChecked.length<=0){
                   $(".internatEleve").attr('disabled',true);
                   $(".internatEleve").attr('title','Assurez-vous de sélectionner au moins une ligne');
                }
                else {
                    $(".internatEleve").attr('disabled',false);
                    $(".internatEleve").attr('title','');
                }
            }

        });
    </script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}
