{% extends "::base.html.twig" %}
{% block title %}{%trans%}liste_forme_juridique{%endtrans%}{% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':2})) }}

{%endblock%}
{% block body %}

    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}liste_forme_juridique{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>
                            <li>
                                {%trans%}forme_juridique{%endtrans%}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body table-responsive">
                <a id = "ffa"  href="{{path('add_formjuridique')}}" class="btn btn-default"><i class="fa fa-plus">&nbsp;&nbsp;{%trans%}ajouter_forme_juridique{%endtrans%}</i></a>
				
				<form id = "ff" style = "margin-top:15px;display:none;" class = "form-inline" >
                        <div class="form-group">
                            <label>{%trans%}forme.sigle{%endtrans%}</label>
                            <input id = "form_juridique_sigle" type = "text" class ="form-control" name = "libelle" />
                        </div>					  
                        <button id = "ajouterFormJuridique" class="btn btn-success">{{'ajouter'|trans}}</button>	
                        <button id = "annuler" class="btn btn-default">{%trans%}annuler{%endtrans%}</button>							  
                        <div class = "loading" style = "display:none;margin-top:15px;" class="col-lg-12">
                            <img style = "display:block;margin:auto;" src="{{ asset('loading.gif') }}" />
                        </div>          

                    </form>
                <hr/>
                {%if formejuridiques | length!=0%}

                    <table id="tableFormeJuridique" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{%trans%}libelle{%endtrans%}</th>	
								<th>{%trans%}sigle{%endtrans%}</th>
								<th>{%trans%}statut{%endtrans%}</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id = "listeformejuridique">
                            {% for formejuridique in formejuridiques %}
                                <tr class="" id="{{ formejuridique.id }}">

                                    <td class = "sigle" >
                                        {%set nom =repository.getTraduction(formejuridique.id,app.request.locale) %}
                                        {%if nom%} {{nom  }} {%else%} {{'pas_de_traduction'|trans}}{%endif%}</td>
                                   
                                    </td>	
									<td>
										{{formejuridique.sigle}}
									</td>
									<td>
										{%if formejuridique.actif %}{%trans%}message_actif{%endtrans%}
										{% else %} {%trans%}message_inactif{%endtrans%}{% endif %}
									</td>
                                    <td>
                                         
                                    <a class = "info" style = "margin-left:15px;" href = "{{ path('details_formejuridique',{'id':formejuridique.id}) }}" title = "Details" ><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;										
                                       
									    {%if formejuridique.actif %}
					<a href="#" title="{%trans%}desactiver{%endtrans%}"><i class="fa fa-remove desactiverFormeJuridique"  data-id="{{formejuridique.id}}"></i></a>
				{% else %}	
					<a href="#" title="{%trans%}activer{%endtrans%}"><i class="fa fa-check activerFormeJuridique" data-id="{{formejuridique.id}}"></i></a>
				{% endif %}	
									   
									   </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>	
                    
                    <hr />

                {%else%}
                    <div class="alert alert-info">{%trans%}Aucune_forme_juridique{%endtrans%}</div>
                    <form id = "ff" class = "ny" style = "margin-top:15px;display:none;" role="form" class = "form-inline" >
                        <div class="form-group">
                            <label>{%trans%}forme.sigle{%endtrans%}</label>
                            <input id = "form_juridique_sigle" type = "text" class ="form-control" name = "sigle" />
                        </div>
                        <button id = "ajouterFormJuridique" class="btn btn-success">{%trans%}ajouter{%endtrans%}</button>					 
                        <img style = "display:none;" class = "loading" src = "{{ asset('loading.gif') }}"/>
                    </form>
                    
                {%endif%}

            </div></div></div>
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}
    <script>

       
        $('#annuler').click(function (e) {
            e.preventDefault();
            $("#ff").fadeOut("fast", function () {
                $('#ffa').show();
            });

            $('#form_juridique_sigle').val('');

            $('#ajouterFormJuridique').text('Ajouter');
        });

        $('.supprimerTra').on('click', function (e) {
            e.preventDefault();
            var tr = $(this).parent().parent().attr('class', 'click');

            var a = $(this);
            swal({
                title: "{{'message_confirmation'|trans}}",
                text: "{{'message_suppression_forme'|trans}}",
                showCancelButton: true,
                confirmButtonColor: "#3f5872",
                confirmButtonText: "{{'confirm_suppression'|trans}}",
                cancelButtonText: "{{'annuler'|trans}}"
            },
            function (isConfirm) {
                if (isConfirm) {
                    $('#listeformejuridique tr').each(function () {
                        $(this).attr('class', '');

                    });

                    $('#listeformejuridique tr').each(function () {
                        if ($(this).attr('class') == 'click')
                        {
                            tr = $(this);
                        }
                    });

                    $('.loading').show();

                    $.ajax({
                        url: "{{ path('delete_formjuridique') }}",
                        type: 'POST',
                        data: {formejuridique: $(tr).attr('id')},
                        success: function (data) {
                            $('.loading').hide();
                            if (data.error == '0')
                            {
                                $(tr).remove();
                                $('#ffa').show();
                                toastr.success('{{"forme.suppression_reussie"|trans}}');
                            }
                        },
                        error: function () {
                            toastr.warning('{{"erreur_survenue"|trans}}');
                            $('.loading').hide();
                        }
                    });

                } else {
                    e.preventDefault();
                }

            });


        });

        $('.modifierTra').on('click', function (e) {
            e.preventDefault();
            $('listeformejuridique tr').each(function () {
                $(this).attr('class', '');
            });

            var tr = $(this).parent().parent().attr('class', 'click');

            if ($("#ff").css('display') == 'none') {
                $('#ajouterFormJuridique').text('Modifier');
                $('#ffa').hide();
                $("#ff").fadeIn("slow", function () {
                    $('#form_juridique_sigle').val($(tr).find('.sigle').text().trim());
                });
            }
            else
            {
                if ($('#ajouterFormJuridique').text() == 'Modifier')
                {
                    $('#form_juridique_sigle').val($(tr).find('.sigle').text().trim());
                }
                else
                {
                    $('#ffa').hide();
                    $('#form_juridique_sigle').val($(tr).find('.sigle').text().trim());
                    $('#ajouterFormJuridique').text('Modifier');
                }
            }
        });

        $('#ajouterFormJuridique').click(function (e) {

            e.preventDefault();
            var canI = true;
            $('#ff input').each(function () {
                if ($(this).val() == '')
                {
                    canI = true;
                }
            });


            if (canI == true)
            {
                $('.loading').show();

                if ($(this).text() != 'Modifier')
                {
                    $.ajax({
                        url: "{{ path('add_formjuridique') }}",
                        type: 'POST',
                        data: {sigle: $('#form_juridique_sigle').val()},
                        success: function (data) {
                            $('.loading').hide();
                            if (data.error == '0')
                            {
                                if ($('#ff').attr('class') == 'ny')
                                {
                                    location.reload();
                                }
                                else
                                {
                                    var route_edit = "#";

                                    var route_del = "#";

                                    $('#listeformejuridique').append("<tr>><td>" + $('#form_juridique_sigle').val() + "</td><td><a class=\"supprimerTra\" href=" + route_del + " title=\"Supprimer\"><i class=\"fa fa-remove supprimer\"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class=\"modifierTra\" href=" + route_edit + " title=\"Modifier\"><i class=\"fa fa-pencil\"></i></a></td></tr>");

                                    $("#ff").fadeOut("fast", function () {
                                        $('#ffa').show();
                                    });


                                }
                                location.reload();
                            }
                        },
                        error: function () {
                            $('.loading').hide();
                        }
                    });
                }
                else
                {
                    var tr;

                    $('#listeformejuridique tr').each(function () {
                        if ($(this).attr('class') == 'click')
                        {
                            tr = $(this);
                        }
                    });

                    $.ajax({
                        url: "{{ path('update_formjuridique') }}",
                        type: 'POST',
                        data: {sigle: $('#form_juridique_sigle').val(), formejuridique: $(tr).attr('id')},
                        success: function (data) {
                            $('.loading').hide();
                            if (data.error == '0')
                            {
                                $(tr).find('.sigle').text($('#form_juridique_sigle').val());

                                $("#ff").fadeOut("fast", function () {
                                    $('#ffa').show();
                                });

                            }
                        },
                        error: function () {
                            $('.loading').hide();
                        }
                    });
                }
            }
        });
    </script>

    <script type="text/javascript">

        $(function () {
		
			
$('.desactiverFormeJuridique').click(function(){
		var formeJuridiqueId = '';
		formeJuridiqueId = $(this).attr('data-id');
		var url = '{{ path("formeJuridique_toggle",{"id":"formeJuridiqueid"} ) }}'; 
		
					swal({
					title: "{{'message_confirmer_desactivation_titre'|trans}}",
					text: "{{'message_confirmer_desactivation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_desactivation'|trans}}",		
					},
					function () {
					url = url.replace("formeJuridiqueid", formeJuridiqueId );
					window.location.replace(url);
					});
			});			
			
$('.activerFormeJuridique').click(function(){
		var formeJuridiqueId = '';
		formeJuridiqueId = $(this).attr('data-id');
		var url = '{{ path("formeJuridique_toggle",{"id":"formeJuridiqueid"} ) }}'; 
		
					swal({
					title: "{{'message_confirmation'|trans}}",
					text: "{{'message_confirmer_activation'|trans}}",
               
					showCancelButton: true,
					confirmButtonColor: "#3f5872",                
					cancelButtonText: "{{'annuler'|trans}}",
					confirmButtonText: "{{'confirm_activation'|trans}}",		
					},
					function () {
					url = url.replace("formeJuridiqueid", formeJuridiqueId );
					window.location.replace(url);
					});
			});
	
	
	
            $('#tableFormeJuridique').DataTable({"lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],"language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                                "sSearch": "{{'rechercher'|trans}} :",
                                "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                                "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                                "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                                "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                                "sInfoPostFix": "",
                                "sLoadingRecords": "Chargement en cours...",
                                "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                                "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                                "oPaginate": {
                                    "sFirst": "{{'premier'|trans}}",
                                    "sPrevious": "{{'precedent'|trans}}",
                                    "sNext": "{{'suivant'|trans}}",
                                    "sLast": "{{'dernier'|trans}}"
                                },
                                "oAria": {
                                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                                }
					
					
                }});
        }
        )
    </script>
{% endblock %}	