{% extends 'base.html.twig' %}

{% block title %}{%trans%}liste_utilisateurs_titre {%endtrans%} {% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':5})) }}
{%endblock %}
{%block body %}
    <div class="col-lg-12">
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 

        {% for message in app.session.flashbag.get('error') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}			
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            {%trans%}liste_utilisateurs_titre{%endtrans%} en ligne <font class="pull-right" style="color: red;">{{dateChoisi|date('d-m-Y')}}</font>
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                            </li>                           
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel-body ">

                <table class="table table-responsive table-bordered" id="users">
                    <thead>
                        <tr>
                            <th>{%trans%}utilisateur.prenom{%endtrans%}</th>
                            <th>{%trans%}utilisateur.nom{%endtrans%}</th>
                            <th>{{"nom_utilisateur" |trans}}</th>                            
                                {%if is_granted('ROLE_SUPER_ADMIN')%}
                                <th>{%trans%}pole{%endtrans%} | {%trans%}entreprise{%endtrans%}</th>
                                {%endif%}
                            <th>{%trans%}profil{%endtrans%}</th>   
                            <th>{%trans%}heure_connexion{%endtrans%}</th> 
                            <th>{%trans%}heure_deconnexion{%endtrans%}</th>                             
                        </tr>
                    </thead>
                    <tbody>
                        {% for utilisateur in utilisateurs %}
                            {%if app.user != utilisateur%}
                                <tr>
                                    <td>{{utilisateur.prenom}}</td>
                                    <td>{{utilisateur.nom}}</td>
                                    <td>{{utilisateur.username}}</td>                                    
                                    {%if is_granted('ROLE_SUPER_ADMIN')%}
                                        <td>                                            
                                            {{utilisateur.structure}}                                           
                                        </td>
                                    {%endif%}
                                    <td>{{utilisateur.profil}}</td> 
                                     <td>{{utilisateur.dateConnexion|date('H:i')}}</td> 
                                     <td>{% if utilisateur.dateDeconnection%} {{utilisateur.dateDeconnection|date('H:i')}}{%endif%}</td>
                                </tr>
                            {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock %}

{%block javascripts %}
    {{parent()}}
    <script type="text/javascript">

        $(function () {                      

            $('#users').DataTable({"language": {
                    "sProcessing": "{{'traitement_en_cours'|trans}}",
                    "sSearch": "{{'rechercher'|trans}} :",
                    "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                    "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                    "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                    "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                    "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                    "oPaginate": {
                        "sFirst": "{{'premier'|trans}}",
                        "sPrevious": "{{'precedent'|trans}}",
                        "sNext": "{{'suivant'|trans}}",
                        "sLast": "{{'dernier'|trans}}"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }

                }});
        });
    </script>
{%endblock %}
