{%extends '::base.html.twig'%}

{% block title %}{%trans%}dashboard{%endtrans%}{% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':1})) }}

{%endblock %}
{%block body %}
    

<div class="panel-body">
     
    <div class="panel-body">
	 <h1 class="page-header">{%trans%}recapitulatif_paiement{%endtrans%}</h1>
        {% for message in app.session.flashbag.get('info') %}            
            <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %} 
		
		<form method="POST" {{ form_enctype(form) }}>
                <div class="row">
                    <div class="form-group col-sm-2" style="min-width:170px">
                        <label>{%trans%}date_debut{%endtrans %}</label>                                
                        <div class="input-group date" id="datetimepicker1">
                            {{ form_widget(form.debutPeriode, {'attr': {'class': 'datepicker1 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="min-width:170px">
                        <label>{%trans%}date_fin{%endtrans %}</label> 
                        <div class="input-group date" id="datetimepicker2">
                            {{ form_widget(form.finPeriode, {'attr': {'class': 'datepicker2 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
					<div class="form-group col-md-3 col-sm-12">
						<label>{%trans%}forme_juridique{%endtrans %}</label> 
						<div class="input-group">
							{{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>						
					{% do form.pole.setRendered %}
					{% do form.entreprise.setRendered %}
                    <div style="margin-top:25px">
                        <button type="submit"  class="btn btn-info" >{%trans%}valider{%endtrans %} </button>
                    </div>                   
                </div>
                {{ form_rest(form) }} 
            </form>
			
			<br/>
			
			<div class="panel-body table-responsive">
            <table id="repartition" class=" table-striped table table-bordered" >	
                <thead>
                    <tr>
                        <th>{%trans%}forme_juridique{%endtrans%}</th>
                        	
											
						<th>{%trans%}montant{%endtrans%}</th>						 						
                    </tr>
                </thead>
                {% for repartition in repartitions %}
                    <tr>
                        <td>{{ repartition.formeJuridique }}</td>						
                        						
						
						<td class="text-right">{{ repartition.montant|number_format(0, '.', '  ') }}</td>
					</tr>
                {% endfor %} 
				<tr>					
					<td><strong>{% trans %}total{% endtrans %}<strong></td>					
					<td class="text-right" colspan="4"><strong>{{ montantTotal|number_format(0, '.', '  ') }}</strong></td>
				</tr>
				
            </table> 		

        </div>
   

</div>
	
{%endblock %}

{%block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

            $('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
        }
        );
    </script>
	
	
    
{%endblock %}
