{%extends '::base.html.twig'%}

{% block title %}{%trans%}dashboard{%endtrans%}{% endblock %}
{%block active %}
    {{ render(controller("DefaultBundle:Default:menuAdmin",{'active':1})) }}
{%endblock %}
{%block body %}
    <div class="panel-body">
        <div class="panel-heading">
            <div class="col-lg-12">
                <h1 class="page-header">{%trans%}message_rapports_paiement{%endtrans%}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{{path('administration')}}">{%trans%}dashboard{%endtrans%}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    {% for flashMessage in app.session.flashbag.get('successStatus') %}
                        <div style="color: white;background:green"
                             class="alert alert-message-warning text-center " role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <strong>{{flashMessage|raw }} </strong>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('echecStatus') %}
                        <div style="color: white;background:#ff5a2f"
                             class="alert alert-message-warning text-center " role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <strong>{{flashMessage|raw }} </strong>
                        </div>
                    {% endfor %}
                </div>
            </div>


            {% for message in app.session.flashbag.get('info') %}
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}

            <form id="form" data-toggle="validator"  method="POST" {{ form_enctype(form)}}>

                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>{%trans%}numero_dossier{%endtrans%}</label>
                        {{ form_errors(form.numeroDossier,{'attr':{'class':'alert alert-danger'}}) }}
                        {{ form_widget(form.numeroDossier, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{%trans%}denomination{%endtrans%} </label>
                        {{ form_errors(form.denominationSociale,{'attr':{'class':'alert alert-danger'}}) }}
                        {{ form_widget(form.denominationSociale, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{%trans%}forme_juridique{%endtrans%} </label>
                        {{ form_errors(form.formeJuridique,{'attr':{'class':'alert alert-danger'}}) }}
                        {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
                    </div>


                    <div class="form-group col-sm-4">
                        <label>{%trans%}numero_quittance{%endtrans%} </label>
                        {{ form_errors(form.numeroQuittance,{'attr':{'class':'alert alert-danger'}}) }}
                        {{ form_widget(form.numeroQuittance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{%trans%}date_debut{%endtrans%}</label>
                        <div class="input-group date" id="datetimepicker1">
                            {{ form_widget(form.datePaiementDebut, {'attr': {'class': 'datepicker1 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <label>{%trans%}date_fin{%endtrans%}</label>
                        <div class="input-group date" id="datetimepicker2">
                            {{ form_widget(form.datePaiementFin, {'attr': {'class': 'datepicker2 form-control'}}) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{%trans%}type_dossier{%endtrans%} </label>
                        {{ form_errors(form.typeDossier,{'attr':{'class':'alert alert-danger'}}) }}
                        {{ form_widget(form.typeDossier, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{%trans%}structure_appartenance{%endtrans%} </label>
                        {{ form_errors(form.entreprise,{'attr':{'class':'alert alert-danger'}}) }}
                        {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group col-sm-12">

                    <button type="submit"  class="btn btn-info" >{%trans%}search{%endtrans%}  <span class="glyphicon glyphicon-search"></span></button>

                </div>

                {{ form_rest(form) }}
            </form>
            {#	<div class="col-sm-12">
           <a href="{{path('creer_quittance')}}" class="btn btn-default col-sm-5">{%trans%}creer_nouvelle_quittance{%endtrans%}</a>
           <div class="col-sm-2"></div>
           <a href="" class="btn btn-default col-sm-5">{%trans%}rapports_paiements{%endtrans%}</a>
           </div>#}
        </div>

        <div class="table-responsive">
            <table id="quittances" class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>{%trans%}numero_dossier{%endtrans %}</th>
                    <th>{%trans%}numero_quittance{%endtrans%}</th>
                    <th>{%trans%}message_montant{%endtrans%} </th>
                    <th>{%trans%}denomination{%endtrans%} </th>
                    <th>{%trans%}type_dossier{%endtrans%} </th>
                    <th>{%trans%}forme_juridique{%endtrans%}</th>
                    <th>{%trans%}structure_appartenance{%endtrans%}</th>
                    <th>{%trans%}date_paiement{%endtrans%}</th>
                </tr>
                </thead>
                {% for quittance in listQuittance %}
                    <tr>
                        <td>
                            {% if quittance.typeDossier==4 %}
                                <a href="{{path('visualiser_AttesPayquittance',{'idq':quittance.id})}}" title="{%trans%}message_ouvrir_Attestation{%endtrans%}" target="_blank">
                                    <span class='fa fa-file-pdf-o fa-2x text-cancel'></span>
                                </a>
                                |
                            {% endif %}
                            <a href="{{path('visualiser_quittance',{'idq':quittance.id})}}" title="{%trans%}message_ouvrir_quittance{%endtrans%}" target="_blank">
                                <span class='fa fa-file-pdf-o fa-2x text-danger'></span>
                            </a>
                        </td>
                        <td>{{ quittance.numeroDossier }}</td>
                        <td>{{ quittance.numeroQuittance }}</td>
                        <td>{{ quittance.montantVerse|number_format(0, '.', '  ') }}</td>
                        <td>{{ quittance.denominationSociale }}</td>
                        <td>{{ quittance.typeDossier}}</td>
                        <td>{{ quittance.libelleFormeJ }}</td>
                        <td>{{ quittance.entreprise }}</td>
                        <td>{% if quittance.datePaiement %}{{ quittance.datePaiement|date('d-m-Y') }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{%endblock %}

{%block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function () {
                $('#datetimepicker1').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});

                $('#datetimepicker2').datetimepicker({locale: 'fr', format: 'DD-MM-YYYY'});
            }
        );
    </script>


    <script type="text/javascript">

        $(function () {
                $('#quittances').DataTable({"bInfo": false, "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]], bFilter: false, "language": {
                        "sProcessing": "{{'traitement_en_cours'|trans}}",
                        "sSearch": "{{'rechercher'|trans}} :",
                        "sLengthMenu": "{{'Afficher _MENU_ éléments'|trans}}",
                        "sInfo": "{{'Affichage des éléments de _START_ à _END_ sur _TOTAL_ éléments'|trans}}",
                        "sInfoEmpty": "{{'Affichage des éléments 0 à 0 sur 0 élément'|trans}}",
                        "sInfoFiltered": "({{'filtré de _MAX_ éléments au total'|trans}})",
                        "sInfoPostFix": "",
                        "sLoadingRecords": "chargement_en_cours",
                        "sZeroRecords": "{{'Aucun élément à afficher'|trans}}",
                        "sEmptyTable": "{{'Aucune donnée disponible dans le tableau'|trans}}",
                        "oPaginate": {
                            "sFirst": "{{'premier'|trans}}",
                            "sPrevious": "{{'precedent'|trans}}",
                            "sNext": "{{'suivant'|trans}}",
                            "sLast": "{{'dernier'|trans}}"
                        },
                        "oAria": {
                            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                        }
                    }});
            }
        );


    </script>
{%endblock %}
