<body>
<style type="text/css">
table {
  border-collapse:collapse;
  width:98%;
}
h4 {
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
}
p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	margin:30px;
}
th, td {
  border:0px solid black;
}

td {
  text-align:left;
  padding: 0 0 20px 0;
  font-size:14px;
  word-wrap: break-word;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
}

caption {
  font-weight:bold
}
</style>
<table style="width: 750px;" border="0"
 cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="width:400px;text-align:center;">
		<img src="{{asset('img/embleme.jpg')}}" width="85" height="82" /><br />
		<h5>PRESIDENCE DE LA REPUBLIQUE DE GUINEE</h5>
		----------------------------------------<br /><br />
		AGENCE DE PROMOTION DES INVESTISSEMENTS PRIVES		
	  </td>	  
      <td style="width:300px;text-align:center;vertical-align:top;">
		<img src="{{asset('img/apip.png')}}" width="166" height="94" />
	  </td>
    </tr>
	<tr>
		<td colspan="2" style="text-align:left;">
			<table style="padding-left: 30px;">
				<tr><td style="border:1px solid black;padding: 0 0 0 0;"><b>N 3</b></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center; vertical-align:middle;height:70px;">
			<h4>ATTESTATION DE PAIEMENT</h4>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p>Je soussigné <b>M/Mme {{ user }}</b> Trésorièr(e) de l’APIP-Guinée  atteste avoir reçu le montant 
			de <b>{{ quittance.montantTotalFacture | number_format(0) }} GNF pour la création en SOUS SEING PRIVE</b>  de l’<b>Entreprise : {{ quittance.denominationSociale}} </b>pour le paiement de :<br />
			De la part de : <b>M/Mme {{ representant.nom | upper}} {{ representant.prenom}}</b>. Tel : <b>{{ representant.telephone}}.</b> <br />
			En foi de quoi, la présente attestation est délivrée pour servir et valoir ce que de droit.</p>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:right; vertical-align:bottom;height:100px;">
			<p><b>Fait à Conakry, le {{ 'now'|date('d/m/Y') }}</b></p>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center; vertical-align:middle;height:40px;">
			<p><b><u>Trésorièr(e)</u></b></p>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center; vertical-align:middle;">
			<p><b>M/Mme {{ user }}</b></p>
		</td>
	</tr>
  </tbody>
</table>
<!--div class="row">
	<div  class="col-sm-4" style="text-align:center;">
		<img src="{{asset('img/embleme.jpg')}}" width="85" height="82" />
	</div>
	<div  class="col-sm-4" style="text-align:center;">
		<img src="{{asset('img/apip.png')}}" width="166" height="94" />		
	</div>
</div-->
</body>
