{% extends "::base.html.twig" %}

{% block title %}{%trans%}details_employe{%endtrans%}{% endblock %}

{% block body %}
    <div class="col-lg-12">

        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {%trans%}details_employe{%endtrans%}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{{path('aguipe_traiterDossier',{'idd':idd})}}">{%trans%}Fiche Entreprise{%endtrans%}</a>
                            </li>                              
                        </ol>                   
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>{%trans%}nom{%endtrans%}</label>
                            <br/>{{employe.nom}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}prenom{%endtrans%}</label>
                            <br/>{{employe.prenom}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}sexe{%endtrans%}</label>
                            <br/>{{employe.sexe}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}date_naissance{%endtrans%}</label>
                            <br/>{% if employe.dateNaissance %}{{ employe.dateNaissance|date('d-m-Y') }}{% endif %}                                                                
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}matricule{%endtrans%}</label>
                            <br/>{{employe.matricule}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}nationalite{%endtrans%}</label>
                            <br/>{{employe.nationalite|upper}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}date_embauche{%endtrans%}</label>
                            <br/>{{employe.dateEmbauche|date('d-m-Y')}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}formation{%endtrans%}</label>
                            <br/>{{employe.formation}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}dernier_salaire{%endtrans%}</label>
                            <br/>{{employe.dernierSalaire|number_format(0, '.', '  ')}}                                                                 
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}dernier_diplome{%endtrans%}</label>
                            <br/>{{employe.dernierDiplome}}                                                                 
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}emploi_occupe{%endtrans%}</label>
                            <br/>{{employe.emploiOccupe}}                                                                  
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{%trans%}categorie_socio{%endtrans%}</label>
                            <br/>{{employe.categorieProfessionnel}}                                                                  
                        </div>                      
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <input class = "btn btn-success btn-goto" type = "button" value = "{%trans%}retour{%endtrans%}" data-url="{{path('aguipe_traiterDossier',{'idd':idd})}}"/>  
                        </div>
                    </div>

                </div>


            </div>
        {% endblock %}
        {%block javascripts %}
            {{parent()}}
            <script>
                $(".btn-goto").click(function () {
                    var url = $(this).attr('data-url');
                    window.location.href = url;
                });


            </script>
        {%endblock%}       
