{% extends "::base.html.twig" %}

{% block title %}{{pole.nom}}{% endblock %}
{% block body %}
    <style>
        .divFieldSet
        {
            border:1px black solid;                         
            position:relative;
            padding: 5px ;                
            font-size: 8pt;
        }
        .divLegende
        {
            border: 1px black solid;
            width: 50%;
            position: absolute;
            margin: -10px 30% 0 30%;
            margin-left:25%;
            background: white;
            font-weight: bold;
            text-align: center;
        }
        .labelFormulaireSmall
        {
            width:50px;
        }
        .labelFormulaire
        {
            width:162px;
        }
        .labelFormulaireLong
        {
            width:220px;
        }
        /*th{
            background-color: #19AAD8;
        }*/
        input[type="text"],select{
            width: 200px;
        }
        input[type="number"]{
            width: 200px;
        }
        input[type="select"]{
            width: 200px;
        }
        input[readOnly="true"]{
            background-color: #dfdfdf;
        }
    </style>
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {%trans%}Immatriculation{%endtrans%} AGUIPE {% if dd.numeroDossier %} <label class="pull-right h4" style="color: #d44"> {%trans%}message_dossier_numero{%endtrans%} {{dd.numeroDossier}}</label>{%endif%}
                </h1>           
            </div>
        </div>
        {% for message in app.session.flashbag.get('info') %}            
            {% if message is not null %}  
                <div class="col-lg-12 text-center m-t-md alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong> 
                </div>
            {%endif%}
        {% endfor %} 
    </div>
    {% if motif %}
        <div class="row alert alert-warning">
            <h4>{{'dossier_retour_modification'|trans}}</h4>
            {{ motif }}
        </div>
    {%endif%} 
    <form method="POST" action="{{path('aguipe_traiterDossier',{'idd':dd.id})}}" name="frmTraiter" >               
        <div class="panel-body">
            <div>                          
                <div class="divFieldSet">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="labelFormulaire">{%trans%}numero_aguipe{%endtrans%} : </label>
                            <div>
                                <input type="text" value="{%if aguipe%}{{aguipe.numeroImmatriculation}}{%endif%}" name="numeroAguipe" style="width: 120px" required="true" />
                                <input type="text" name="complement" readonly="true" value="/AGUIPE/{{dateImmatriculation|date('y')}}" style="width: 75px" />
                            </div>
                        </div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}type_structure{%endtrans%} : </label>
                            <select name="typeStructure" style="width: 200px">                              
                                <option value=""></option>
                                {%for typeStructure in lesTypeStructures%}
                                    <option value="{{typeStructure.id}}" 
                                            {% if aguipe and aguipe.typeStructure and (aguipe.typeStructure.id==typeStructure.id)%}
                                                selected="selected"
                                            {%endif%} >
                                        {{typeStructure.libelle}}  
                                    </option>
                                {%endfor%}
                            </select>
                        </div>                   
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}immatricualtion_cnss{%endtrans%} : </label><input type="text" value="{%if aguipe%}{%if cnss%}{{cnss.numeroEmployeur}}{%else%}{{aguipe.numeroCNSS}}{%endif%}{%endif%}" name="numeroCNSS" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="labelFormulaire">{%trans%}nom_signataire{%endtrans%} : </label>
                            <input type="text" value="{%if aguipe%}{{aguipe.nomSignataire}}{%endif%}" name="nomSignataire" required="true"/>
                        </div>
                        <div class="col-sm-4">
                            <label class="labelFormulaire">{%trans%}fonction_signataire{%endtrans%} : </label>
                            <select name="fonctionSignataire">
                                <option vavalue="">Selectionnez</option>
                                <option value="Le Directeur Général" {%if aguipe and aguipe.fonctionSignataire and ("Directeur Général" in aguipe.fonctionSignataire) %}selected="selected"{%endif%}>Directeur Général</option>
                                <option value="La Directrice Générale Adjointe" {%if aguipe and aguipe.fonctionSignataire and ("Adjointe" in aguipe.fonctionSignataire) %}selected="selected"{%endif%}>Directrice Générale Adjointe</option>
                            </select>
                            {#<input type="text" value="{%if aguipe%}{{aguipe.fonctionSignataire}}{%endif%}" name="fonctionSignataire"/>#}
                        </div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}nombre_etablissement{%endtrans%} : </label><input type="text" value="{%if aguipe%}{{aguipe.nombreEtablissement}}{%endif%}" name="nombreEtablissement"/></div>


                    </div>
                </div>
                <br>
                <div class="divFieldSet">
                    <div class="divLegende">
                        RECAPITULATIF INFORMATIONS ENTREPRISE ET PROMOTEUR
                    </div>        
                    <br>
                    <div class="row">
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}nom{%endtrans%} : </label><input type="text"  value=" {{rep.nom|upper}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}prenom{%endtrans%} : </label><input type="text" value="{{rep.prenom}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}date_naissance{%endtrans%} : </label><input type="text" value="{{rep.dateDeNaissance|date('d/m/Y')}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}sexe{%endtrans%} : </label><input type="text"  value="{{rep.genre}}" readonly="true" /></div>                   
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}nationalite{%endtrans%} : </label><input type="text" value="{{rep.nationalite}}" readOnly="true" /></div>                       
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}telephone{%endtrans%} : </label><input type="text"  value="{{rep.telephone}}" readonly="true" /></div>                   

                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}denomination_sociale{%endtrans%} : </label><input type="text"  value="{{dd.denominationSociale}}" readonly="true" /></div>                   

                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}sigle{%endtrans%} : </label><input type="text" value="{{dd.sigle}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}prefecture{%endtrans%} : </label><input type="text" value="{{dd.prefecture.libelle}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}commune{%endtrans%} : </label><input type="text"  value="{{dd.sousPrefecture.libelle}}" readonly="true" /></div>                   

                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}Ville{%endtrans%} : </label><input type="text" value="" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}quartier{%endtrans%} : </label><input type="text" value="{{dd.quartier}}" readOnly="true" /></div>

                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}email{%endtrans%} : </label><input type="text"  value="{{dd.email}}" readonly="true" /></div>                   

                    </div>

                </div>
                <br/>
                <div class="divFieldSet">
                    <div class="divLegende">Fiche entreprise</div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}total_employes{%endtrans%} : </label><input type="text" value="{{dd.nombreSalariePrevu}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaireLong">{%trans%}nombre_employe_guinneen{%endtrans%} : </label><input type="text" value="{%if aguipe%}{{aguipe.nombreEmployeGuineen}}{%endif%}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}nombre_employe_etranger{%endtrans%} : </label><input type="text"  value="{%if aguipe%}{{aguipe.nombreEmployeEtranger}}{%endif%}" readonly="true" /></div>                   

                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}rccm_agrement{%endtrans%} : </label><input type="text" value="{%if rccm%}{{rccm.numRccmFormalite}}{%endif%}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}activite_principale{%endtrans%} : </label><input type="text" value="{{activitePrincipale}}" readOnly="true" /></div>
                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}forme_juridique{%endtrans%} : </label><input type="text"  value="{{dd.formeJuridique.sigle}}" readonly="true" /></div>                   

                        <div class="col-sm-4"><label class="labelFormulaire">{%trans%}siege{%endtrans%} : </label><input type="text"  value="{{dd.adresseSiege}}" readonly="true" /></div>                   
                    </div>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive" >
                            <tr>
                                <th>{{'nom'|trans|upper}}</th>
                                <th>{{'prenom'|trans|upper}}</th>
                                <th>{{'sexe'|trans|upper}}</th>
                                <th>{{'date_naissance'|trans|upper}}</th>
                                <th>{{'matricule'|trans|upper}}</th>
                                <th>{{'date_embauche'|trans|upper}}</th>
                                <th>{{'nationalite'|trans|upper}}</th>
                                <th>{{'formation'|trans|upper}}</th>
                                <th></th>
                            </tr>

                            {% for e in listeEmployes%}
                                <tr>
                                    <td>{{e.nom}}</td>
                                    <td>{{e.prenom}}</td>
                                    <td>{{e.sexe}}</td>
                                    <td>{% if e.dateNaissance %}{{ e.dateNaissance|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{e.matricule}}</td>
                                    <td>{% if e.dateEmbauche %}{{ e.dateEmbauche|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{e.nationalite|upper}}</td>
                                    <td>{{e.formation}}</td>
                                    <td><a href="{{ path('employe_details', { 'idd': idd, 'idE':e.id }) }}" title="{%trans%}details{%endtrans%}" class="glyphicon glyphicon-eye-open"></a></td>
                                </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    {% if statutTraitrement and statutTraitrement.id==1%}
                        <input class = "btn btn-success" type = "submit" id="btnEnregistrer" value = "{%trans%}message_enregistrer{%endtrans%}"/>
                        <input class = "btn btn-info" type = "button" value = "{{'visualiser'|trans}}" id="btnVisualiser" data-url="{{path('aguipe_visualiserCertRegularite',{'idd':dd.id})}}"/>             
                        <input class = "btn btn-warning" type = "button" value = "{%trans%}demande_de_modification{%endtrans%}" id="boutonDemandeModification"/>
                        {%if aguipe and aguipe.numeroImmatriculation%}<input class = "btn btn-primary" type = "button" value = "{{'delivrer'|trans}}" id="btnDelivrer"/>{%endif%}
                    {% endif%}
                    <input class="btn btn-default btn-goto"   type="button" value="{%trans%}retour{%endtrans%}" 
                           {%if statutTraitrement and statutTraitrement.id!=1%}
                               data-url="{{path('dossierPole',{'idS':statutTraitrement.id})}}" 
                           {%else%}
                               data-url="{{path('dossierPole')}}"
                           {%endif%}
                           />
                </div>
            </div>
        </div>               
    </form>

    <div id ="divDemandeModification" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <br/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{%trans%}message_titre_motif_demande_modification{%endtrans%}</h4>
                </div>
                <form method="POST" action="{{path('aguipe_traiterDossier',{'idd':dd.id})}}" name="frmDemandeModif" >	
                    <div class="modal-body">

                        <textarea name="textAreaModifier"  rows="4" style="resize:none;width:100%" maxlength="255" required="required"></textarea>   
                        <img class='loading' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />

                    </div>
                    <div class="modal-footer"><input style = "width:220px;" class = "btn btn-success form-control  col-sm-3" type = "submit" value = "{%trans%}valider_demande_modification{%endtrans%}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="divValider" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{path('aguipe_delivrer' )}}" name="frmDevivrer" ><div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{%trans%}confirm_demande_modification{%endtrans%}</h4>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="idd" name="idd" value="{{dd.id}}" />
                        {#<input type="hidden" id="idP" value="{{p.id}}" />#}
                        <img class='loading' style = "display:none;margin:auto;" src="{{ asset('loading.gif') }}" />

                    </div>
                    <div class="modal-footer">
                        <input class = "btn btn-success form-control  col-sm-3" type = "button" id="btnConfirm" value = "{%trans%}message_confirmer{%endtrans%}"/>                        
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="divDocuments" class="modal fade" style="display: none;margin-top:150px;left: 150px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {%trans%}visualiser{%endtrans%}
                </div>
                <div class="modal-body">
                    {%for doc in lesFormulaireDuPole%}
                        <div><a href = "{{ path(doc.route, { 'idd': dd.id}) }} " target="_blank" class="glyphicon glyphicon-search">{{doc.libelle}}</a></div>							                           

                    {%endfor%}
                </div>

            </div>
        </div>
    </div>                    
{% endblock %}
{%block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $("input:radio[name=radioFormalite]:first").attr('checked', true);
        });
        /* $("#btnVisualiser").click(function () {
         var url = $(this).attr('data-url');
         window.open(url);
         });*/

         
        $("#btnVisualiser").click(function () {
            $("#divDocuments").modal();
        });
        $("#boutonDemandeModification").click(function () {
            $("#divDemandeModification").modal();
        });
        $("#btnDelivrer").click(function () {
            $("#divValider").modal();
        });
        $("#btnConfirm").click(function () {
            var idd = $("#idd").val();
            $('.loading').show();
            $.ajax({
                url: "{{ path('aguipe_delivrer') }}",
                data: {idd: idd},
                type: 'POST',
                success: function (data) {
                    if (data.resultat == 1)
                    {
                        toastr.success('{%trans%}message_dossier_delivre_succes{%endtrans%}');

                        window.location.href = '{{path('dossierPole')}}';
                        //$("#divValider").modal('hide');
                    } else
                    {
                        alert("erreur");
                        toastr.success('{%trans%}traitement_en_cours{%endtrans%}');
                        //window.location.href = '{{path('dossierPole')}}';
                        $("#divValider").modal('hide');
                    }
                    $('.loading').hide();
                },
                error: function () {
                    alert('{%trans%}erreur_survenue{%endtrans%}');

                }

            });
        });

        $(".btn-goto").click(function () {
            var url = $(this).attr('data-url');
            window.location.href = url;
        });

    </script>
{%endblock%}
